[2016-06-15 20:56] alex-konovalov commented on #776
This was implemented in #788 which was the closed without merging, so I am closing this issue too.

[2016-06-15 20:56] #776 closed

[2016-06-15 21:07] ChrisJefferson commented on #791
@dimpase : GAP and it's packages are not a monolithic project. If we made the package not a needed package, then it would be hard to have a working browse. We would have to change browse, GAP core, and introduce the new package all on the same day, and none of them would be compatible with the packages from the day before.

By doing things in phases (change to required package, then fix browse) we

[2016-06-15 21:18] ChrisJefferson opened #827 "`fail` is misleadingly called a boolean"
### Observed behaviour
[code]
### Expected behaviour

Perhaps we should describe `fail` as `not "fail"`, rather than as a boolean (it is technically a boolean, but that's not necessarily obvious to users).

[2016-06-16 08:44] markuspf commented on #826
This has nothing to do with the group size being greater than 2^28, it's because computing coefficients fails, and Append doesn't work for a list and `fail`. Rather related: #827.

This can be discovered by trying out what GAP is trying to do in the break loop:
[code]

[2016-06-16 09:12] markuspf commented on #826
It is also fairly well-known that currently matrix groups are not treated optimally. If you want a result for your example you can do the following:

[code]

I'll take a look at where the membership test for matrix group could do with a fix.

[2016-06-16 10:45] dimpase commented on #826
Oh I see; this test should fail just because `S` (and thus the matrix we test for membership) does not lie in CF(4) (aka GaussianRationals), whereas the group does. I did not notice that.

Should be easy to fix (although it's baffling that similar tests for smaller examples work just fine; must be a different codepath...).

[2016-06-16 11:17] fingolfin commented on #822
Actually, I always found this one a bit annoying
[code]
I understand why it is that way; but it defeats the "poor man's #if 0" trick I sometimes use during development... So I wonder whether we want to produce an error here, instead of just warning?

As to the message: Perhaps it could explain the actual problem instead? I.e. "Found an isolated identifier, expected a statement; perhaps you forgot

[2016-06-16 11:23] fingolfin commented on #823
Perhaps methods for `GroupWithGenerators`, `DivisionRingByGenerators` should get tighter filters, which `IsMultiplicativeElementWithInverseCollection and IsAssociativeElementCollection` (and maybe more) instead of just `IsCollection` ?

Or, if this leads to problems, they could test the elements accordingly... Hm

[2016-06-16 11:24] fingolfin commented on #827
Or perhaps drop that "(not a FOO)" bit instead? I found that misleading in other instances in the past.

But perhaps it's been helpful for others?

[2016-06-17 23:26] alex-konovalov opened #830 "Serialising sublists if they arise in ConstructAllGroups"
At the moment, if sublists arise in the output of ConstructAllGroups, then the partial result is reported in the form of upper/lower bound on gnu(n), runtime and the pattern of length of sublists. In order to pick up the experiment from there, one should first rerun the initial call of ConstructAllGroups to reconstruct actual sublists.

I've checked that the test coverage of CodePcGroup and PcGrou

[2016-06-17 23:28] alex-konovalov commented on #830
Please ignore this - it belongs to another repository. Had several browser windows opened and typed in the wrong window.

[2016-06-17 23:28] #830 closed

[2016-06-20 12:23] alex-konovalov opened #832 "Range of restricted degrees in AllPrimitiveGroups"
This comes from testing #818.

### Observed behaviour
[code]
but
[code]
### Expected behaviour

The error message should say that the degree is restricted to [ 2 .. 2499 ]

[2016-06-20 12:41] alex-konovalov opened #833 "Recursion depth trap in SimsNo"
This comes from testing #818.

### Observed behaviour

For example,
[code]
and
[code]

(note that recursion depth trap arises in different steps)

### Expected behaviour

The manual says "If G is a primitive group obtained by PrimitiveGroup (50.9-1) (respectively one of the selection functions) this attribute contains the number of the isomorphic group in the original list of C. Sims. (This is the

[2016-06-20 20:15] alex-konovalov commented on #832
I have used MAGMA online calculator to get the number of primitive groups of all degrees up to 4095:
[code]
All number agreed with those already in the primitive group library or provided by this pull request, except that GAP reports that there are zero primitive groups of degree one, and MAGMA says there is one.

[2016-06-21 00:16] alex-konovalov opened #834 "Problems with PrimitiveIdenfification"
This comes from testing #818.
### Observed behaviour

I reproduced this twice on my machine with GAP 4.8.4: `PrimitiveIdentification` produces the error saying

[code]

when I am taking a group given by the generators of `PrimitiveGroup(2197,122)` and then trying to identify it. After quitting from the break loop, next time it runs fine:

[code]

With master branch on another machine, I can see th

[2016-06-21 00:58] hulpke commented on #834
I cannot reproduce this, neither in stable-4.8, nor in master. (in a freshly started GAP)
Can you try without packages or give a bit more information on how to reproduce it?

[2016-06-21 08:41] colva commented on #833
That sounds like the correct fix.

[2016-06-21 08:43] colva commented on #832
I suggest adjusting the error message to [2..2499].

[2016-06-21 08:46] colva commented on #834
We should probably put an advertised upper limit on PrimitiveIdentification, either at 1000 or 2500. I can't remember whether I actually wrote any code to make it work for degrees [1001..2500], or whether it's just a fluke that you can make it run. It would be quite a lot of work to make it efficient for higher degrees.

[2016-06-21 09:03] markuspf commented on #834
There are of course two issues at play: Making it not crash (and return a correct result), and making it efficient.

If the procedure in principle would work above whatever bound, but be awfully slow, a warning could be displayed, but one could still try running it.

[2016-06-21 09:03] alex-konovalov commented on #834
@hulpke: on Intel Core i7 Mac under OS X Yosemite 10.5.5, opened new terminal window, started GAP:
[code]
Now interesting things happen. Opened new Tab in the terminal, started GAP - works fine. Repeated 8 more times - works fine. Opened new terminal window instead of a tab - the "uh-oh" message again. Opened another terminal window and started GAP 4.7.9 - also got the "uh-oh" message.

Could it b

[2016-06-21 09:06] alex-konovalov commented on #834
I've started GAP with `gap -r -A -m 70m -o 1g` and was able to reproduce this 5 times in a row in the same terminal window:
[code]

[2016-06-21 09:07] colva commented on #834
My memory is that the code is a long collection of special cases, rather than a particularly general method - it just looks for distinguishing features of each group, trying methods to distinguish them that start at order and gradually get more expensive, until its down to one group. So to make it work for higher degrees would almost surely involve writing more code.

[2016-06-21 16:04] hulpke commented on #834
OK, I can reproduce it in 4.8.4 (but not in stable-4.8)

While I agree with @colva on the performance aspect, that is not what is happening here.

The code is first eliminating groups by invariance properties (which are computed on the fly), and the error message indicates that no candidate group is left. So what must have happened is a genuine calculation error.

The problematic test uses cycle s

[2016-06-21 17:22] hulpke commented on #834
I think I have a culprit:

When the error occurs, there are elements whose cycle structures are given as lists (such as the one pasted in below) in which the length is longer than the last bound entry. The result is that shapes are not seen as equal.

Such shapes (which are produced by the kernel function CYCLE_STRUCT_PERM) should not arise. I am unsure whether this is a mistake in how CYCLE_STRUC

[2016-06-21 20:13] alex-konovalov commented on #834
@hulpke thanks! First, there was not much happening in stable-4.8 branch after GAP 4.8.4 release (only two merges) and I was able to reproduce this in master branch, so i don't think this was fixed by some other change. Second, your later comment seems to discover the reason. There was a problem in the list code fixed in #766 by @frankluebeck, so though what we observe now is very similar, it shou

[2016-06-22 08:57] alex-konovalov commented on #834
FWIW, I'm also running this version of `PrimitiveIdentification` test (i.e. groups given by the same generators, without conjugation), and by this morning it successfully tested all groups of degrees in [2500..2740].

[2016-06-22 08:58] ThGroth opened #836 "Problem with AllHomomorphisms and Free groups"
I experienced some problems using the function AllHomomorphismClasses() with a free group as first argument.

### Observed behaviour
The calculation of:
[code]
doesn't stop.

But if I alter the last line in the definition of the function AllHomomorphismClasses to
[code]
So changing the 9 to a 8. It gives the expected result.

Furthermore in some special cases the function returned an empty list gi

[2016-06-22 10:28] markuspf commented on #836
Thanks for the report. Actually looking at the documentation of `MorClassLoop` in `morpheus.gi` reveals that replacing 9 by 8 is the correct fix in this situation.

Additionally I suggest adding a check for the input argument `action`.

[2016-06-22 10:38] markuspf commented on #836
If only I could read properly. While trying to fix this I noticed that the options of 1,2,4, and 8 for "action" are supposed to be bit representations. I'll have a closer look.

[2016-06-22 10:55] markuspf commented on #836
I think @hulpke will be better qualified to find a quick fix. I'll wait for his feedback.

[2016-06-22 14:29] ChristopherRussell commented on #834
@alex-konovalov degree 3600 may be a good place to test. This degree contains the first (and only) occurrences of O'Nan-Scott types 4a and 4b in the database. I haven't tried to understand the code behind PrimitiveIdentification but these are my thoughts since @colva said that it works with lots of cases and because it was written for a database where types 4a and 4b didn't occur.

[2016-06-22 22:51] hulpke commented on #836
I'm not sure what the suggestion refers to. In 4.8.4, the lines in the library are:

    emb:=MorClassLoop(G,bi,params,
    # all homs = 1+8
    9);

The non-termination is because AllHomomorphismClasses was written with finite groups in mind and does quick tests for element orders -- I'll exclude infinity  to make it work there as well for 4.9.
Ditto for the fact that the free group has no relato

[2016-06-25 14:07] dimpase opened #838 "a bug in OrthogonalEmbeddings"
As reported on gap-support:

[code]

This is a symmetric positive definite integer matrix, so it is valid input; I don't know whether it has a decomposition ought to be computed by  `OrthogonalEmbeddings`.

This is on the standard GAP 4.8.4 on x86_64. Same error on a 32-bit Linux system running GAP 4.7.8.

[2016-06-25 14:56] dimpase commented on #838
Same error on GAP 4.6.5, so this predates a post-4.7.5 fix from [here](http://forum.mail.gap-system.narkive.com/RBVxnb5f/gap-forum-problem-with-orthogonalembeddings).

[2016-06-25 16:32] dimpase commented on #838
an easier example of this, divide each entry of `g` by 2, and still get
[code]
looks like a corner case not dealt with properly (the entries of `g` are divisible by 4).

[2016-06-25 17:19] dimpase commented on #838
Reading the code suggests that perhaps the problem comes from certain (p-adic) computations done over cyclotomics (i.e. assuming that one deals with characters of a finite group?); whereas in general one might need to go to more general field extensions to carry out the computation, or perhaps that this algorithm won't even work in general... Well, it's just a guess.

[2016-06-25 17:53] dimpase commented on #838
OK, here is the fix: insert
[code]
just before `return c` in `ShortestVectors`. This is needed if `"positive"` is set and the last vector produced by this function happens to be not non-negative. Then the lines rejecting it:
[code]
leave an uncleared `[]` last entry in `c.vectors`.

Which branch the pull request for this should go?

[2016-06-25 18:10] dimpase commented on #838
I don't know whether the original example completes in reasonable time, but a smaller one, from a comment above `m:=10;; r := OrthogonalEmbeddings((1/2)*g{[1..m]}{[1..m]}, "positive");` does complete rather quickly.

[2016-06-26 16:42] grouptheoryenthusiast commented on #820
Hi, I am a newcomer and would like to try this project, to help familiarise myself with the workings of GAP and Github.  I was able to edit the code so that GAP  throws an Error("Usage:...") in this case, but I wondered if this was the correct type of error to throw?
Thank you

[2016-06-26 17:27] ChrisJefferson commented on #820
I think so. The current error for `List()` should probably be extended to also cover the longer version.

Be sure to write a number of tests to make sure we catch the various types of errors (it should probably also test 0 arguments, which I suspect is not currently tested).

[2016-06-26 17:36] ChrisJefferson commented on #820
One difference, should probably use `ErrorNoReturn`. That is like `Error`, except you can't return (which doesn't make sense in most situations). I would change the existing `Error` to `ErrorNoReturn` as well, because returning doesn't really make sense!

[2016-06-26 20:56] grouptheoryenthusiast commented on #820
Hi Chris, thank you for your reply. I will look into these things.

[2016-06-27 09:10] grouptheoryenthusiast commented on #820
If I make a test file called List.tst and put this in the tst  /teststandard directory,  do I need to do anything else to make GAP aware of this file or are does GAP just go through each .tst file in the directory. Thank you.

[2016-06-27 09:42] ChrisJefferson commented on #820
GAP will just iterate through these directories, so just popping it in should be fine.

[2016-06-27 18:35] grouptheoryenthusiast commented on #820
Hi Chris, thank you for your help with this! I have changed Error to ErrorNoReturn, but now when I start GAP, before the usual GAP banner I get:
`Syntax warning: unbound global variable in /proc/cygdrive/C/gap4r8/lib/coll.gi line 731
      ErrorNoReturn( "usage: List( <C>[, <func>] )" );
`
I have found discussion of a similar problem in the GAP forum archive, the suggested solution was to use:
`if

[2016-06-27 20:00] alex-konovalov commented on #820
@grouptheoryenthusiast : thanks for looking at this! It seems to me that `testinstall/listgen.tst` is a natural place to add a test, so there is now need to create a new test file just for this PR.

Also, although this may be undocumented, all test files have names in lowercase, so I would suggest to follow that convention.

[2016-06-27 23:17] dimpase opened #840 "GASMAN("collect") undocumented"
`?GASMAN` does not return any documentation on what it does:

[code]

yet calls `gap> GASMAN("collect");` can be found in the manual, e.g. in 86.1-1.

Was it removed by mistake? (IIRC it used to be in the manual...)

[2016-06-28 08:54] grouptheoryenthusiast commented on #820
Thank you for the reply and advice @alex-konovalov . Can you advise what is the best way to deal with the
`Syntax warning: unbound global variable in /proc/cygdrive/C/gap4r8/lib/coll.gi line 731 ErrorNoReturn( "usage: List( <C>[, <func>] )" );`
 warning that appears before the GAP banner, if I replace` Error` with `ErrorNoReturn` in `coll.gi` .

Thank you.

[2016-06-28 09:55] ChrisJefferson commented on #820
I'm going to investigate fixing that this afternoon. I think I know what's wrong.

[2016-06-28 18:52] ChrisJefferson commented on #820
This will be fixed by #841 , which should get merged in shortly -- basically `Error` gets defined earlier in GAP's startup, I made sure `ErrorNoReturn` gets defined at the same time!

[2016-06-28 19:16] ChrisJefferson commented on #840
I'm not sure if it used to be in the manual -- I agree it should be documented

[2016-06-28 19:38] grouptheoryenthusiast commented on #820
Thanks @ChrisJefferson and @alex-konovalov . I appreciate all the effort you have put into helping me. I hope to contribute to GAP throughout the course of my PhD so I hope this is a worthwhile investment. :)

[2016-06-28 20:40] alex-konovalov commented on #820
@grouptheoryenthusiast thanks to you too, you're very welcome! If you're a PhD student based in the UK, I suggest to get in touch with me by email - we are planning an event similar to http://www.codima.ac.uk/school2015/ in October this year.

[2016-06-29 16:44] ChrisJefferson commented on #820
@grouptheoryenthusiast : You should (hopefully!) find your patch now works fine after updating.

I recommend learning about 'rebase', rather than 'merge', as it leads to a cleaner history.. if you get your code updated and rebased, you have learn the most painful git features at that point (git can be a bit horrible, if you haven't used it much).

[2016-06-29 17:10] #797 closed

[2016-06-29 17:23] alex-konovalov commented on #794
I suggest now to close this issue as GAP 4.8.4 is now out and installation instructions have been updated to suggest calling `bin/BuildPackages.sh`. The old `InstPackages.sh` script is available at its location, but the content has been changed: in will now fail with an error message explaining the changes. This is done in case it is used in some automated installations.

I agree that the feature

[2016-06-29 20:41] Stefan-Kohl commented on #794
I think the issue should only be closed once either the requested features have been implemented or the feature request has been declined. In particular I don't see any harm in leaving this issue open for a long time.

[2016-06-29 21:18] grouptheoryenthusiast commented on #820
Thanks for the advice Chris, I 'rebased' the fork I have issued the pull request for (I hope...) You are right that git can be a bit horrible at times, I still have a lot to learn with it.

[2016-06-30 15:36] #820 closed

[2016-06-30 15:42] ChrisJefferson commented on #724
I would personally first working on a sparse list (a sparse permutation is very similar to a sparse list).

The best place to work on such a list would probably be in a package, as that allows more freedom to try out new things and break interfaces.

Such a thing could be built on top of the 'data' package ( https://github.com/gap-packages/datastructures ), which itself needs improving / cleanup.

[2016-07-01 08:58] dvberkel commented on #724
I will take a look at the datastructures package

[2016-07-01 20:38] #836 closed

[2016-07-01 21:03] hulpke commented on #302
This problem is fixed in PR #843.

[2016-07-01 23:14] markuspf opened #844 "Make sure GAP code coverage is submitted"
At the moment only C code coverage is submitted to `codecov.io`, make sure this is done for GAP code as well.

I have contacted the people from codecov.io, and they wanted to make a custom parser for our profiling output, but I will probably also provide one of the common outputs in the profiling package (either one of the supported JSON or XML formats).

[2016-07-01 23:16] markuspf opened #845 "Run a more thorough test suite to submit code coverage"
While we should aim to cover as much code as possible with `testinstall` (and `test-core-quick`), we should also run `teststandard` on a cloud machine and submit the coverage data to codecov.io.

[2016-07-02 15:45] frankluebeck commented on #834
@hulpke  said:

I have checked the code of `CYCLE_STRUCT_PERM` but cannot find an error. Are you sure that in the example mentioned above that list was created by `CYCLE_STRUCT_PERM`? Could you produce an example where `CYCLE_STRUCT_PERM` returns an invalid list object? Or can you provide any code that produces such an object?

[2016-07-02 18:26] hulpke commented on #834
It is possible that the cycle structure list got corrupted somehow. What is rather strange is that if I add debugging code (e.g. in prim/primitiv.gi after line 330

    if Length(s)=0 then Error("bug!"); fi;

) the error vanishes.

In any case, when the error arises, look at the variable `a`   (a long list) and it contains such corrupt cycle structures. (In my example
a[17][1][1];

is corrupt in t

[2016-07-02 20:20] markuspf opened #846 "Performance regression in teststandard/small_groups2.tst?"
Looking at the travis-ci builds recently, there is a two-fold slowdown between the linux/gcc and the osx/clang test of `small_groups2.tst`.

[2016-07-02 20:23] markuspf commented on #546
This can now be closed, we have `codecov.io` coverage.

[2016-07-02 20:23] markuspf commented on #547
We now have codecov.io reports and a badge. It does pretty much what is suggested in this issue.

[2016-07-02 20:25] markuspf commented on #546
Here is a link: https://codecov.io/gh/gap-system/gap

[2016-07-02 20:25] markuspf commented on #844
this is now done. See here: https://codecov.io/gh/gap-system/gap

[2016-07-02 20:25] #844 closed

[2016-07-02 20:26] markuspf commented on #845
At this point code coverage is collected for all tests run on travis, but codecov.io allows to submit more builds. I will look into a python library that interfaces with github to run at least the full test suite to submit code coverage on commits to master and stable if possible.

[2016-07-02 22:05] markuspf opened #848 "Coverage for documentation"
We need documentation coverage, i.e. gamify the amount of functions that is (properly?) documented.

[2016-07-02 22:48] alex-konovalov commented on #848
Relevant to this: `make check-manuals` produces a report which includes, among other information, this:
[code]

[2016-07-03 21:45] alex-konovalov commented on #834
@ChristopherRussell I have tried degree 3600, and the test passed:
[code]
Maybe one should construct the test example more carefully to probe failures.

[2016-07-03 21:49] alex-konovalov commented on #834
@hulpke I think this may be triggered by garbage collection. When I've started GAP with `gap -r -A -m 70m -o 1g`, I was able to reproduce this 5 times in a row in the same terminal window, while it was not so often with default settings. Hope maybe @ChrisJefferson will be able to look at this some time...

[2016-07-03 22:20] ChrisJefferson commented on #834
Just having a look over the code.

There is a bug in FuncCycleStructurePerm I think.

on line permutat.c, offset2 (and scratch2) becomes invalid after line 2984 (and similarly 3054)

[2016-07-03 22:26] ChrisJefferson commented on #834
Try the ChrisJefferson/gap/fix-cycleperm branch (I tried on one test and it seemed to fix it, but it could just be luck, I'll be on flakey internet for a few days).

[2016-07-04 13:55] alex-konovalov commented on #832
Done this in my fork already - will submit a PR at some point.

[2016-07-04 14:14] alex-konovalov commented on #833
Done in my fork - will submit a PR at some point.

[2016-07-04 14:23] alex-konovalov opened #850 "Suggestion: ErrorToReport for things that should never happen"
This comes from #834 and was suggested by @markuspf.

The library contains some calls to "Error" with error messages like "Uh-Oh, this should never happen" and like. This may be seen in #834, and just grep for "uh-oh" or "never happen" to see some more.

Would it be useful to introduce `ErrorToReport` which will first print its arguments like `Error` and then will contain some standard text saying

[2016-07-04 14:47] hulpke commented on #834
@ChrisJefferson Many thanks. This sounds exactly like the kind of error I was suspecting!

[2016-07-04 14:51] hulpke commented on #850
I think the main issue is to have a good standardized format -- whether it is a new function, or just a string for Error to call.

[2016-07-04 23:09] ChristopherRussell opened #852 "ONanScottType not working for some primitive groups of degree 3600"
I noticed that ONanScottType is not working with some primitive groups at degree 3600.
### Observed behaviour

[code]
### Expected behaviour

PrimitiveGroup(d,i) and Group(GeneratorsOfGroup(PrimitiveGroup(d,i)))) should have the same O'Nan-Scott Type

[2016-07-05 09:00] alex-konovalov commented on #832
This is now in PR #851 - please review it and leave comments there.

[2016-07-05 09:01] alex-konovalov commented on #833
@colva: This is now in PR #851 - please review it and leave comments there.

[2016-07-05 09:03] alex-konovalov commented on #852
Thank @ChristopherRussell - might this be related to #834? Especially since the manual has a note "for groups of degree up to 2499, O'Nan-Scott types 4a, 4b and 5 cannot occur" so I am curious whether this
is now hardcoded somewhere in identification routines.

[2016-07-05 09:06] alex-konovalov commented on #852
From an earlier email from @ChristopherRussell - these are groups for which the test fails:
[code]

[2016-07-05 15:27] hulpke commented on #852
@alex-konovalov
No, this has nothing to do with groups not occurring in smaller degrees, but all with an errors in the library code (which did not get tested much for a lack of examples).

I however now get a discrepancy for #6, and I wonder whether there is a miscommunication about how GAP labels the product action types:

The group has sole A_5^4 which has index 2, it has two normal subgroups of

[2016-07-05 20:40] ChristopherRussell commented on #852
You not mistaken about GAP's labeling.

When I made the database files I thought that no 6,16 were type 4a and no 14,22,29 were type 4b. However I have just noticed that in #818 I have uploaded a file that was not my final version of gap/prim/grps/gps35.g - as it seems to have no groups listed as 4a or 4b.

If this is true then I have made mistakes when creating the database file for degree 3600 b

[2016-07-06 12:43] #832 closed

[2016-07-06 12:43] #833 closed

[2016-07-07 15:47] ChrisJefferson opened #855 "Some documentation not linked into manual"
There is (brief) gapdoc documentation for `BlistStringDecode` and some other blist encode/decoding functions. However, this documentation isn't in the manual, as it isn't linked into the manual anywhere.

We should link it in, but it would also be useful if we could automatically scan for any gapdoc which is not installed in any of the manuals.

[2016-07-07 16:35] alex-konovalov commented on #855
Thanks for making this issue - I've mentioned in #538 the ideas to:
* Look for discrepancies between the actual and documented number of arguments (not comprehensive, but could try to at least to catch some obvious discrepancies).
* Look for orphaned ManSections, e.g. when there is `<#GAPDoc Label="name">` in the code without corresponding `<#Include Label="name"> elsewhere. A script could rewrite

[2016-07-07 17:06] markuspf opened #856 "Inconsistent list access"
We can create list-like objects that can be accessed through indices like so:

[code]
I used this to make relators that can be accessed as cyclically repeating words.

At the moment trying to extract a list:

[code]

Leads to an error. Opening this issue so I do not forget looking into this.

[2016-07-07 23:47] ChrisJefferson opened #857 "Profiling misses lines in records"
In the following code, profiling marks the lines with a '#' as read, but not executed. Need to investigate why.

[code]

[2016-07-13 13:48] LiftnLearn opened #861 "IsObject is not a filter"
### Observed behaviour
gap>IsFilter(IsObject)
false
### Expected behaviour
gap>IsFilter(IsObject)
true
### Copy and paste GAP banner (to tell us about your setup)
 ┌───────┐   GAP v4.8.3-697-ga70a755 of 2016-07-06 13:57:09 (UTC)
 │  GAP  │          |     http://www.gap-system.org
 └───────┘   Architecture: x86_64-pc-linux-gnu-gcc-default64

[2016-07-20 19:07] stevelinton commented on #861
IsObject is actually just ReturnTrue, since it holds for every object. In a few cases in the library you see tests like

IsFilter(x) or IsIdenticalObj(x,IsObject)

so I suspect it's better to add the test in IsFilter. I don't think you can add IsObject to FiLTERS because positions in that list correspond to bit positions in flags lists and IsObject is the empty flags list.

[2016-07-20 19:09] stevelinton commented on #856
At a guess this is triggered because [-1,0] is a range and sublist access with a range as the argument is fast-pathed. Probably the fast-path just needs to be a bit more careful.

[2016-07-20 19:16] stevelinton commented on #848
We should discuss what "should" be documented.

We have in the past flagged "non-API" functions (ones we did not want people to rely on, and which we reserve the right to change in two ways -- by not documenting them, and by giving them names in like SECRET_FUNCTION.

It would be useful to document some of these, for the convenience of other library developers, although not necessarily in the on-l

[2016-07-20 19:23] stevelinton commented on #827
The TNUM of fail is T_BOOL, so in that very low level sense and mechanistic sense it is a Boolean. Fixing this by special case in a lot of error handling code seems messy. We could change the name of that TNUM to "boolean or fail" which might be better.

[2016-07-20 21:05] ChrisJefferson commented on #848
While it would be a huge undertaking, it would be nice to have a policy that every function which is not spelt with `ALL_CAPS`, should be intended to be user-callable, and be documented. Similarly, global variables not in `ALL_CAPS` should be user-editable, and documented.

We might decide we already have that policy, in which case great! But then we don't keep to it very well.

[2016-07-25 11:54] #861 closed

[2016-07-25 11:57] markuspf opened #865 "After merge of #861, remove redundant IsIdenticalObj(x, IsObject) tests"
After I merged #861, we should remove the redundant tests for IsIdenticalObj(x, IsObject) from the library.

[2016-07-27 16:24] markuspf opened #868 "Sorting fails for list of elments of GF(8)"
Please use the following template to submit an issue
(you may delete lines which are not used). Thank You!

### Observed behaviour
[code]

### Expected behaviour
AsSSortedList should actually strictly sort the list.

[2016-07-27 16:25] #868 closed

[2016-07-28 08:25] markuspf opened #869 "Field extension bug"
### Observed behaviour

When creating a field extension over a field that is not a prime field:
[code]

note that

[code]
but the extension defined above only has dimension 3 over `GF(4)`. The Elements-Enumeration procedure assumes it gets a `GF(4)`-basis for `ext`, but it is actually getting a `GF(2)` basis.

### Expected behaviour

Field extensions over field extensions should work more or less

[2016-07-28 08:25] markuspf commented on #869
The field extension code itself was written by @hulpke as far as I can tell. Maybe we can quickly talk about this when he is in St Andrews.

[2016-08-03 18:56] ThGroth opened #874 "polycyclic: IsConjugate for pcp groups returns element instead of boolean"
### Observed behaviour

As verified in the code the method IsConjugate for polycyclic groups (pkg/polycyclic-2.11/gap/pcpgrp/centcon.gi:328) returns not a boolean but in some cases the conjugator.
For example:

[code]

returns "id" instead of "true"

Perhaps the method should be changed to

[code]

GAP 4.8.3, 19-Mar-2016, build of 2016-04-20 10:15:48 (CEST)
Architecture: x86_64-pc-linux-gnu-gcc-de

[2016-08-03 19:21] markuspf commented on #874
While this is a bug, and the fix seems to be the correct one, this is a bug in the polycyclic package. @fingolfin would you be able to fix this?

[2016-08-04 11:05] alex-konovalov commented on #850
I think a function will be better - then any changes could be done in a single place. It may do more than just a string, in particular, reprint the GAP banner. It may be useful to help the user to distinguish errors that they may suspect to be caused by their actions and hence ignored from errors that should be definitely reported to us.

[2016-08-04 13:08] alex-konovalov commented on #869
The fix is now submitted by @hulpke as a part of #877

[2016-08-04 13:18] alex-konovalov commented on #827
I think we may merge #866. No tests in current packages has "not a boolean" example in their test files.

[2016-08-04 13:25] #302 closed

[2016-08-04 14:37] fingolfin commented on #827
Fixed by #866

[2016-08-04 14:37] #827 closed

[2016-08-04 14:57] alex-konovalov commented on #450
We have now https://codecov.io/gh/gap-system/gap which does this, so this issue may be closed. I have posted some screenshots below. See also related #545, #546, #547.

![screen shot 2016-08-04 at 15 56 00](https://cloud.githubusercontent.com/assets/5751387/17406619/1dcdd6ae-5a5c-11e6-8a98-b51023a01297.png)
![screen shot 2016-08-04 at 15 53 31](https://cloud.githubusercontent.com/assets/5751387/17

[2016-08-04 14:57] #450 closed

[2016-08-04 15:04] alex-konovalov commented on #547
One could also to the PR details as below. I can't find this on codecov site, so just attaching the screenshot of an example shown in their email.

![screen shot 2016-08-04 at 16 03 06](https://cloud.githubusercontent.com/assets/5751387/17406846/056b5c52-5a5d-11e6-86d1-25b714cde525.png)

[2016-08-04 19:49] alex-konovalov commented on #869
The fix for this and also for one more bug was merged in #877

[2016-08-04 19:49] #869 closed

[2016-08-12 14:11] alex-konovalov opened #881 "StringFile call in testinstall is broken on cygwin"
This originates from #875 (which is based on #862). I have checked that the suggestion by @frankluebeck to fix compiler warnings works (at least on 32-bit Cygwin - don't know what happens on Cygwin64 yet). However, then I discovered while testing that GAP does not load because of an error in `StringFile`:
[code]
On Windows, this happens both when GAP is started in Cygwin shell, and on a Cygwin-fre

[2016-08-14 14:30] stevelinton opened #883 "There should be an operation to find subgroup fixed by an automorphism"
If there is a natural choice of operation for this I can't find it.

Something like FixedSubgroup(G, alpha) should exist and at least give "No Method Found".

A subsidiary issue is what would be a sensible set of basic methods.

Not just for groups, actually -- makes sense for arbitrary magmas, I think.

[2016-08-15 18:16] fingolfin commented on #883
Some random thoughts on this (I am pretty sure @stevelinton is aware of all of that, but I thought it might be useful to record this here nevertheless):

* I'd normally refer to this as a centralizer. I.e. `Centralizer(G, alpha)`. That doesn't currently work, of course, but one might consider adding such a thin. I.e. in addition or as an alternative to the notation `FixedSubgroup(G, alpha)`

* Rig

[2016-08-15 18:49] fingolfin commented on #881
@alex-konovalov Try commenting out the two `SySetErrorNo();` calls, recompile and rerun the test -- does it now give a more meaningful error? Perhaps we should also print the error code, not just the message.

[2016-08-15 19:30] hulpke commented on #883
While `Centralizer` works for groups, this is in fact a more general operation, maybe `FixedPoints`:

`FixedPoints(obj,G[,act])` returns the subset of `obj` that is pointwise fixed by `G`. If `obj` has an algebraic structure and the action is compatible, it would return the appropriate substructure.

Ibh `obj` is just a set of points, one gets a set of points.

[2016-08-16 12:44] alex-konovalov commented on #881
@fingolfin thanks. This is now fixed by @markuspf in #884.

[2016-08-16 12:44] #881 closed

[2016-08-16 12:50] alex-konovalov commented on #850
Whatever will be the standardised format, the string "This should never happen" seems to be an important part of it: https://cloud.google.com/bigquery/public-data/github#how_many_times_this_should_never_happen_appears

[2016-08-16 14:53] alex-konovalov commented on #865
You likely mean not the issue #861, but PR #863 which fixes it.

[2016-08-17 11:45] fingolfin commented on #874
Yes, this should get fixed in polycyclic. Ahh, I wish I had a public bug tracker for that.. Gotta talk to Bettina about this

[2016-08-18 09:10] laurentbartholdi opened #887 "Bug with new fp code in IsomorphismFpGroupByGeneratorsNC"
Observed behaviour
-----------------

[code]

Expected behaviour
----------------

The relator should evaluate back to a trivial element in src (namely, a conjugate of f5*f4*f6*f2*f1*f3). It seems that the new code miscalculates the relator of the image.

Copy and paste GAP banner (to tell us about your setup)
-----------------------
Latest sources from github:
[code]

[2016-08-18 09:14] laurentbartholdi commented on #887
Hmmm, how does one write blocks of GAP code, without putting backticks on every line?

[2016-08-18 09:16] alex-konovalov commented on #887
@laurentbartholdi : three backticks before and after the block:
[code]

[2016-08-18 09:18] alex-konovalov commented on #887
@laurentbartholdi and what happen if you will omit "NC"? I mean, could it be the problem with the input, which NC version does not check?

[2016-08-18 09:23] laurentbartholdi commented on #887
No, it changes nothing; the non-NC version calls the NC one:
[code]

By the way, the `IsomorphismFpGroupByGeneratorsNC` command holds its last argument `nam` in contempt.

[2016-08-18 14:19] hulpke commented on #887
This is an easier example

[code]

[2016-08-18 14:50] hulpke commented on #887
I have fixed this -- the code for IsomorphismFpGroup accidentally used the stored subgroup generators, not the given ones.
Name string is also fixed.

[2016-08-18 15:17] hulpke commented on #887
As a fix is in the pipeline I'm going to close this.

[2016-08-18 15:26] fingolfin commented on #887
I think it's better to keep this open, until the fix has been merged (coincidentally, you apparently didn't close this anyway :-)

[2016-08-18 19:30] laurentbartholdi commented on #887
Thanks to all and @hulpke for the quick fix. Again a beginner's question: how do I get the fix without cloning Alexander H's repo? It's rather annoying because it breaks FR.

[2016-08-18 20:12] hulpke commented on #887
@laurentbartholdi
In what way does FR break? That is something I should fix.
Do you want me to move the fix into another branch instead?

[2016-08-19 11:16] laurentbartholdi commented on #887
@hulpke Any way of making the fix available asap is welcome. It breaks GroupHomomorphismByImages from f.p. groups when the source generating set is not standard, and this occurs in lots of places in FR and IMG.

[2016-08-19 12:40] fingolfin commented on #235
So I still wonder about this from time to time.

An actual use case that I have is that a group learned that it is not solvable, but GAP doesn't realize that this means it is also not nilpotent, nor supersolvable. I can of course add immediate methods for that, e.g.
[code]
and similarly for the implication `not supersolvable => not nilpotent`. Then once a group learns it is not solvable, the first

[2016-08-19 14:18] hulpke commented on #887
@laurentbartholdi Can you send me an example of such a homomorphism (without the need to load FR)?

[2016-08-19 15:09] fingolfin commented on #887
@hulpke I think Laurent is referring to this bug here! He just wants to know how he can get resp. try out your fix... That's how I understand it at least

[2016-08-19 15:28] hulpke commented on #887
@fingolfin @laurentbartholdi I understand -- "this" is the fixed bug, not my repo.

To avoid the intermeshing with other code I've moved it into a separate pull request, #91. Basically you would only need to merge this branch to your own working repository.

[2016-08-19 16:52] laurentbartholdi commented on #887
Yes, @fingolfin, that was exactly my wish. I did
[code]
and now it works like a charm. (note the "891" instead of "91")

[2016-08-19 16:57] laurentbartholdi commented on #887
Well... it doesn't work like a charm :(
The test code does indeed succeed, but performance dropped drastically. All the time seems to be spend in the "Merge" function, at
[code]
@hulpke, is there a way of accessing the previous code?

[2016-08-21 10:29] laurentbartholdi commented on #887
Here's something that doesn't work anymore, but used to work with the previous code and FGA:
[code]

[2016-08-21 16:30] hulpke commented on #887
@laurentbartholdi works now.

[2016-08-21 19:28] laurentbartholdi commented on #887
Dear @hulpke, can you provide a new pull request that I can test, and tell me at which branch (4.8.0?) I can get the previous GroupHomomorphismByImages code, so as to check everything including for performance?

[2016-08-22 14:03] hulpke commented on #887
@laurentbartholdi
I had this added already to the same pull request (#892 Note that due to some problems I had to redo the PR from the initial attempt 891 earlier) yesterday. That is if you repeat the merge you'll have the fix -- it will merge in the `master' branch. Alternatively, you could apply the patch of 06a79e7bbc8d11d002f762c6b2d7b0ffb90dcac2
at https://github.com/gap-system/gap/pull/892/c

[2016-08-23 03:41] #887 closed

[2016-09-20 10:10] alex-konovalov commented on #834
TODO: check whether this is fixed by #849 and may be closed.

[2016-09-20 10:19] alex-konovalov commented on #589
@james-d-mitchell any updates on this issue? Are you still experiencing this problem?

[2016-09-21 19:42] Stefan-Kohl opened #897 "MemoryUsage just returns a constant if the argument is a word"
### Observed behaviour

gap> F := FreeGroup(3);;
gap> w := One(F);;
gap> for i in [1..10000] do w := w \* Random(GeneratorsOfGroup(F)); od;
gap> MemoryUsage(w);
40
gap> MemoryUsage(ExtRepOfObj(w));
120248
### Expected behaviour

gap> F := FreeGroup(3);;
gap> w := One(F);;
gap> for i in [1..10000] do w := w \* Random(GeneratorsOfGroup(F)); od;
gap> MemoryUsage(w); # approximately!
120248
### Copy a

[2016-09-21 20:06] ChrisJefferson commented on #897
The problem is that the object isn't a `IsPositionalObjectRep`, but is really (the data is stored in `![1]`). I'm not sure what exactly is going wrong, and where this should be fixed.

[2016-09-22 08:39] frankluebeck commented on #897
According to section `?NewRepresentation`  it seems to be a bug that the representation `IsBLetterAssocWordRep` is not a subrepresentation of `IsPositionalObjectRep`. After changing the declaration (in `wordass.gd`) to
[code]
`MemoryUsage` works as expected in the above example.

There are probably other similar bugs in that file. It would be good if someone could have a look who knows more about

[2016-09-22 14:36] ChrisJefferson opened #898 "Tutorial incorrect for Read"
The tutorial for `Read` includes:

[code]

That second part is a lie -- you can't give a relative path name from the GAP root directory. It would be easy to make GAP look there if we wanted it to, but I imagine we want to look relative to the directory GAP is started from (which we already do).

[2016-09-22 14:43] alex-konovalov commented on #898
Yes - it should be either full path or relative from the **current** directory. On Windows, one could call `DirectoryCurrent();` to see what is that, and by default it will be `%HOMEDRIVE%%HOMEPATH%` that is the user home directory. On UNIX, `DirectoryCurrent();` is not very informative, but `Exec("pwd");` will do the job.

[2016-09-22 14:46] ChrisJefferson commented on #898
I wonder if DirectoryCurrent() should give the actual directory, instead of `./` (but that’s a separate issue).

[2016-09-22 17:44] stevelinton commented on #125
Online Pharmacy - Only
quality drugs! | Canadian Cheap RX

[2016-09-22 22:50] alex-konovalov opened #899 "Regression in grpperm.tst"
Supposedly after #878 by @hulpke has been merged, we have a regression in grpperm.tst. As I wrote in a comment to #878, it sometimes displays

[code]

when all packages are loaded. Also, see the performance plot below.
![grpperm](https://cloud.githubusercontent.com/assets/5751387/18768726/2faf2fc8-811f-11e6-8587-ee96c2e8506e.png) - something is going on here.

[2016-09-22 23:05] alex-konovalov opened #900 "Changes overview for GAP 4.8.5 release"
At the moment there are 10 items under the [GAP 4.8.5 milestone](https://github.com/gap-system/gap/milestone/11?closed=1) and 5 package updates. I am adding one more issue to this milestone to create an overview of changes. The right place to do this is at https://github.com/gap-system/gap/wiki/Changes-between-GAP-4.7-and-GAP-4.8, and I will convert it to GAPDoc when it will be ready.

I plan to w

[2016-09-22 23:27] hulpke commented on #899
The runtime changed because of a new (hard) example. As part of #896 I will move it to the new test file (which anyhow needs more than standard memory, thus memory use is not an extra issue there), so with that change the speed regression should go away again.

[2016-09-23 10:04] alex-konovalov commented on #900
Please have a look at the changes overview for GAP 4.8.5 here:

https://github.com/gap-system/gap/wiki/Changes-between-GAP-4.7-and-GAP-4.8

and if you will have any suggestions, please edit that wiki page today. I will convert it to GAPDoc tomorrow.

[2016-09-26 05:22] roed314 opened #901 "Edge case for IndependentGeneratorExponents"
This example is an edge case, but it causes an algorithm I'm writing to crash.  I can work around it, but it seemed like a good idea to report the problem.

### Observed behaviour
``gap> G:=SmallGroup(432,520);``
``<pc group of size 432 with 7 generators>``
``gap> V:=PCore(G,3);``
``Group([ f5, f6, f7 ])``
``gap> W:=FactorGroupNC(V,PRump(V,3));``
``Group([ f1, f2, <identity> of ... ])``
``gap> IsA

[2016-09-26 08:57] markuspf commented on #901
Hi,

thanks for the report! I cannot reproduce this bug on `gap-4.7.9`, `gap-4.8.4` or on the current release candidate for `gap-4.8.5` though. Are you sure the above is a minimal (non-)working example?

[2016-09-26 11:18] laurentbartholdi opened #902 "Bug in ListX with empty arguments"
The test on line 1846 of colls.gi seems to harsh:

### Observed behaviour
gap> ListX([],function(args) return args; end);
Error, gens[1] must be a collection, a boolean, or a function called from
ListXHelp0( result, arg, 0 ); called from

### Expected behaviour
gap> ListX([],function(args) return args; end);
[ ]

### Copy and paste GAP banner (to tell us about your setup)

GAP, Version 4.7.6 of 15

[2016-09-26 12:19] ChrisJefferson commented on #902
I agree. Just for completeness, the same bug occurs in SetX, ProductX and SumX.

The problem is that the `X` family of functions demand a collection, so this also fails:

```ListX([2,"abc"], x -> x)```, which I see no reason to fail either.

I think the fix is just to turn `IsCollection` into "can be iterated over" (because that's what we actually care about, and do). What I'm not sure about is if

[2016-09-26 15:42] alex-konovalov commented on #900
Done in https://github.com/gap-system/gap/commit/17b9ca24296846889fbe52d76a9648f56368726d

[2016-09-26 15:42] #900 closed

[2016-09-26 17:20] ChrisJefferson commented on #902
Should probably just be `IsListOrCollection`, forgot about that function.

[2016-09-26 17:35] roed314 commented on #901
Strange.  It seems unlikely that it would have been randomly resolved between ``gap-4.7.8`` and ``gap-4.7.9``.

I'm actually running on [cloud.sagemath.com](cloud.sagemath.com), so if you want to create an account there I can add you as a collaborator on the project so that you can see the problem in action.

[2016-09-26 18:49] ChrisJefferson commented on #901
I've never signed up for sage cloud before, but just signed up, as chris@bubblescope.net.

I tried spinning up a standard session, and starting GAP, but I ended up with 4.8.3, so I assume you are doing something different.

[2016-09-26 19:01] roed314 commented on #901
I've added you as a collaborator on my ``p-adic Tori`` project.  If you open ``Main2.term`` you'll find a Gap session with the behavior I've described.  I've installed my own copy of Gap in the ``gap4r7`` folder so that I could add additional packages.

At this point, it seems like the problem may be peculiar to my setup. You're welcome to take a look if you like, but I'm also happy to close this

[2016-09-26 19:09] hulpke commented on #901
I had a 4.7.8 lying around, and in that it all works fine. Have you tried it in a freshly started GAP with minimum packages loaded?

[2016-09-26 19:22] roed314 commented on #901
Yeah, I just tried starting GAP with ``gap -A`` and got the same result.  Here's my header:
``┌───────┐   GAP, Version 4.7.8 of 09-Jun-2015 (free software, GPL)``
`` │  GAP  │   http://www.gap-system.org``
`` └───────┘   Architecture: x86_64-unknown-linux-gnu-gcc-default64``
`` Libs used:  gmp, readline``
`` Loading the library and packages ...``
``#I  You are using an old /projects/8053a295-2cab-

[2016-09-26 19:23] roed314 commented on #901
(I deleted everything from my ``.gaprc`` file before starting gap, but still got the warning since the file was still present)

[2016-09-26 19:26] markuspf commented on #901
Out of curiosity: Why are you using such an ancient version of GAP?

[2016-09-26 19:30] roed314 commented on #901
I took a break from working on this project and only recently got back into it.

[2016-09-26 19:33] markuspf commented on #901
Could it be that you change what `Identity(W)` does? Can you call `Identity(W)` by itself in your session?

[2016-09-26 19:40] ChrisJefferson commented on #901
I made a new terminal, went into the `rattori` directory (so the loads in `.gaprc` worked), typed `gap`, then ran the following:

[code]

[2016-09-26 20:15] roed314 commented on #901
Very strange.  Well, I think it's pretty clearly not a problem in GAP, so closing the issue seems appropriate to me.  Thanks for all of your efforts!

[2016-09-26 20:29] ChrisJefferson commented on #902
Now fixed in #903 (along with general other improvements).

[2016-09-27 19:52] alex-konovalov commented on #902
@laurentbartholdi any reasons to use GAP 4.7.6 of 15-Nov-2014 btw?

[2016-09-27 20:43] alex-konovalov opened #906 "Which packages to load by default?"
This came from testing https://github.com/gap-system/gap-container today. We have started to discuss this with @markuspf - perhaps worth to create an issue here.

When the core GAP system is started and packages are not present (except GAPDoc), a series of warnings is displayed:

[code]

First of all, if you're using the GAP core without packages and want to avoid these warnings, start GAP with `-

[2016-09-27 22:43] alex-konovalov commented on #906
I will start from my package LAGUNA - it was added to GAP distribution when the author was able to decide whether it should be autoloaded or not. My thought was that it installs a method for `Units` for a group ring in case it is a modular group algebra of a finite p-group over a field of p elements, speeds up some operations with p-elements of unit groups of other group algebras, and also speeds

[2016-09-28 10:00] james-d-mitchell commented on #906
I'd be happy to see all of the packages except those used in the library that you mention (atlasrep, factint and tomlib) excluded from autoloading. I usually explicitly disable autoloading of all these packages anyway in my `gap.ini`.

[2016-09-28 11:14] fingolfin commented on #906
I think autpgrp is also explicitly loaded (at least it used to be).

For some of the other packages, they fall into slightly different categories for me. For example, polycyclic and polenta provide a new type of groups (PcpGroups), and unless you explicitly create such groups, you'll probably never notice their absence.

In contrast, fga enhances functionality for freegroups. In the past, I had se

[2016-09-28 11:25] alex-konovalov commented on #906
My gut feeling is that the list could be reduced to atlasrep, autpgrp, factint, fga, and tomlib. The closure of their needed/suggested will also lead to loading browse, ctbllib and io. I have also seen serious performance problems without autpgrp and fga.

The practical implementation of this could go along removing one package at a time, evaluating Jenkins tests, and then going to the next packag

[2016-09-28 14:17] #902 closed

[2016-09-28 15:20] laurentbartholdi commented on #902
Yes, it's the gap on my office computer - no space for a private install.

On Tue, Sep 27, 2016, 21:52 Alexander Konovalov <notifications@github.com>
wrote:

--
Laurent Bartholdi
DMA, École Normale Supérieure, 45 rue d'Ulm, 75005 Paris. +33 14432 2060
Mathematisches Institut, Universität Göttingen, Bunsenstrasse 3-5, D-37073
Göttingen. +49 551 39 7826

[2016-09-29 12:07] fingolfin opened #907 "Document CI setup (AppVeyor/Codecov/Travis)"
We should document out test setup somwhere. E.g. by adding some helpful explanatory comments to `etc/ci.sh`, and/or in a Wiki page, and/or in a text document in the `doc/` dir or whatever.

As it is, right now if anything were to break  regarding Travis, AppVeyor, Codecov, the only thing one can do is to email the mailing list and/or directly Alex, Markus, Chris, and hope one of them is able to fi

[2016-09-29 12:11] fingolfin commented on #901
Well, one last thing to try: Perhaps some package you have modified some methods. Can you please execute the following (after setting up W as before), and paste the output?
[code]

For me, the output is this:
[code]

[2016-09-29 19:00] hulpke commented on #906
While I have some opinion on what packages are crucial (my autoload list is autpgrp, alnuth, ctbllib,
factint, irredsol, tomlib, transgrp), I agee with @fingolfin 's argument -- unless autoloading of the current packages causes problems, we should be careful in removing these, in particular if they quietly improve performance.

How about simply rewriting the error message:

    The packages: autpg

[2016-09-30 09:17] ChrisJefferson commented on #906
I agree that in general we should leave more packages in, particularly when they extend built-in functionality.

Advanced users can disable packages if they don't want them -- basic users (and not-so-basic, like me) don't know which packages to load to make built-in functionality faster, or why code they have been using for 5 years has suddenly stopped working, or got much slower.

What is the adv

[2016-09-30 12:17] fingolfin commented on #901
For the record, I also just tested with GAP 4.7.4, and it worked fine, too.

So I am now closing this.

[2016-09-30 12:17] #901 closed

[2016-09-30 13:05] fingolfin opened #908 "Document StableSort and its variants"
Some time ago, @ChrisJefferson add `StableSort` (in commit 1d345639e557138a5a17bcc883292f847bd20227 with the somewhat unhelpful commit message "Code reformat" ;-).

As far as I can tell, the library does not use it, so I assume it is intended for endusers. But it is not actually documented!

So I suggest we add some documentation for it. It doesn't have to be long -- one entry for all the new func

[2016-09-30 14:15] alex-konovalov commented on #908
@fingolfin I have added Milestone 4.9.0 - this will ensure that this issue will be revisited before 4.9 and not overlooked. The place to collect entries for release notes for GAP 4.9 also exists - it is at https://github.com/gap-system/gap/wiki/Changes-between-GAP-4.8-and-GAP-4.9

[2016-09-30 19:55] ChrisJefferson commented on #908
Something weird must have happened in merging, I definately remember documenting StableSort, but it must have gotten lost!

[2016-10-04 03:57] dominicelse opened #913 "Cryst 4.1.12: ImagesRepresentative can return nonsense results"
Running the code:

[code]
### Observed behaviour

[code]
### Expected behaviour

The output should be a product of generators with _integer_ exponents. Looking at the code in `pcpgrp.gi`, the logic of the function seems to be assuming a symmorphic space group.
### Copy and paste GAP banner (to tell us about your setup)

[code]

[2016-10-04 12:00] alex-konovalov commented on #913
I can reproduce this with GAP 4.8.5. Some of the calculations require Alnuth package to be usable, and that requires Pari/GP to be installed, so I've actually used GAP Docker container from https://hub.docker.com/r/gapsystem/gap-docker/ as below:
[code]

First, `SpaceGroup` is the function from the AcLib package from `gap4r8/pkg/aclib/gap/crystgrp.gi` (from line 1285) but it is not documented. The

[2016-10-04 12:06] alex-konovalov commented on #913
Next, I've "erased" the additional knowledge about the group, and I do not have fractional exponents any more:
[code]

[2016-10-04 12:22] alex-konovalov commented on #913
@dominicelse thank you for reporting this - I have informed the authors of the above mentioned packages and asked for their help.

[2016-10-04 14:23] fingolfin commented on #913
I cannot reproduce this, with GAP development version, CrystCat 1.1.6, Aclib 1.2, Cryst 4.1.12, Alnuth 3.0.0. Instead I get this:
[code]

Which versions of these packages do you two use?

[2016-10-04 14:25] alex-konovalov commented on #913
Same versions as you, @fingolfin

[2016-10-04 14:33] fingolfin commented on #913
OK, if I start gap with -A, and only load aclib, it works. If I also load polenta, it breaks down. So either a bug in polenta, or a bad interaction between it and the other packages, is to be blamed here.

[2016-10-04 14:50] fingolfin commented on #913
The difference is introduced in this line of the `ImagesRepresentative` method:
[code]
Different methods are invoked depending on whether polenta is loaded or not. Unfortunately, the point group is both in the filter `IsPointGroup` and `IsRationalMatrixGroup`, which have exactly equal rank:
[code]
Note that both methods return valid isomorphisms, just into different groups. The result is that one

[2016-10-04 15:00] fingolfin commented on #913
OK, one step closer: Part of the problem is that in the construction of the iso for the spacegroup, the code does this:
[code]
so in short: `IsomorphismPcpGroup( NiceObject( PointGroup( S ) ) )`
But then later, `ImagesRepresentative` assumes that this is equal to `IsomorphismPcpGroup( PointGroup( S ) )`.

So a proper fix would be to to make sure that both methods use the same sequence to obtain th

[2016-10-14 14:34] fingolfin opened #916 "Add built-in support for reading (and writing?) gzip'ed files"
Right now, we allow to transparently read .gz files via e.g. `Read()`. This is done by executing a seprate `gzip` binary, and piping data through it. But this only works if gzip is available. So it can be an issue on Windows (see also #910).

It would be nice if we could just integrate support for reading gzip files; while at it, we might even do more than the current slightly hackish support, and

[2016-10-14 16:17] markuspf commented on #916
I actually started playing with zlib today to address this issue. Not that I got that far yet, but if I have anything worth testing I'll pull-request it.

[2016-10-14 17:07] fingolfin opened #917 "Bug in break loop backtrace"
The following happens in the latest master branch. Consider this test code:

[code]

Entering it results in this incorrect error message:

[code]

If one removes the first `Print` statement, one instead gets this:

[code]

Indeed, this is an even shorter variant:

[code]

I'd rather expect an error like "Error, object is an integer, not a function or method". Also, the backtrace should reference t

[2016-10-14 19:52] ChrisJefferson commented on #917
Just to say, while I agree these are all problems, they are long-standing problems. This is generally an area which needs a good cleanup.

[2016-10-14 21:11] ChrisJefferson commented on #917
I've added a test framework in #918 which can be used to at least test this kind of thing (normal tests can't check all the information).

[2016-10-18 09:00] ChrisJefferson opened #919 "GAP tab-completion should be case insensitive"
I would prefer it if GAP's tab completion was case insensitive. This is even more useful to some users (such as blind ones) where worrying about case is quite annoying.

I am happy to write the patch to do this, the only question is if it should be done at all, and if so if it should be on by default, or configurable. My personal preference would be always on, not configurable, but some people mig

[2016-10-18 10:26] markuspf commented on #919
how about a more general tab completion where one can type bits of the name, i.e.

[code]
would yield
[code]
or better yet
[code]

[2016-10-18 10:30] ChrisJefferson commented on #919
I'm wondering if the better option would be lift the tab completion function to GAP (leave the optimised version in place), then we can all play around with whatever completion we'd like to try, and see what settles :)

The only issue I have is I have no idea how I would do that for readline, as I don't use it.

[2016-10-18 11:19] fingolfin commented on #919
Well, we should also look into refactoring the readline code, too, as the way it is currently hooked up in GAP seems like quite a hack to me...
At the same time, the extended functionality provided by readline is really important to me (e.g. highlighting matching parens, lots of extra key commands)...

Still, perhaps we can achieve all of that in pure GAP code, and get rid of readline again? The j

[2016-10-18 13:30] ChrisJefferson opened #920 "ShowMethods should give filename / filename of functions"

[2016-10-20 09:14] #908 closed

[2016-10-20 16:17] james-d-mitchell commented on #906
@ChrisJefferson This sounds like an argument for extending the list of autoloaded packages. Many packages extend the built-in functionality, and some calculations only become feasible when certain packages (not currently in the list of autoloaded packages) are loaded.

[2016-10-23 17:27] Stefan-Kohl commented on #906
I think it would make sense to autoload by default precisely all packages from which a GAP user may benefit significantly even without knowing about the existence of the particular package.

[2016-10-23 18:03] alex-konovalov commented on #906
@Stefan-Kohl thanks - I've created this issue exactly with the intention to collect relevant details of the packages explaining why they may fit into such category. Maybe you could add a few words on resclasses, please?

[2016-10-23 18:57] alex-konovalov opened #924 "Compiler warning in GAP 4.8.5 with gcc 6.2.0"
Reported by Bill Allombert to GAP Support: there is a warning with GAP 4r8p5 when compiled with gcc 6.2.0 (but not with 4.9.2):

[code]

[2016-10-23 19:26] Stefan-Kohl commented on #906
@alex-konovalov I think ResClasses is a case of doubt -- a GAP user may benefit from ResClasses without knowing about the package -- but significantly enough? -- I don't know. As a number of utility functions have been moved to the Utils package, maybe the benefit now is less than it was before. For this reason I probably wouldn't put ResClasses on the default autoload list if it wouldn't be there

[2016-10-24 09:20] dimpase commented on #924
same warning with gcc 6.2.1, by the way.

[2016-10-24 09:34] ChrisJefferson commented on #924
This is a very, very long-standing piece of code, which is technically invalid behaviour, but in practice fine.

This basically a hack to open the first used file in `OpenInput`, by pushing a pointer to one before the start or an array, which is then checked by lines like `If (Input +1 != InputFiles)`. Not positive of the best way to fix this, as it's a giant wobbly mess getting GAP started. Simil

[2016-10-24 12:56] dimpase commented on #924
This does look like a bug :-) One sets `Input` to point at `InputFiles-1` and then does
`Input->echo=1;` --- where`InputFiles` is a statically allocated array.  Why it does not overwrite anything of importance, I don't get...

[2016-10-24 13:19] ChrisJefferson commented on #924
Nope, the `OpenInput` function reincrements it. We never write or read outside the array.

[2016-10-26 15:29] markuspf opened #926 "SylowSubgroupPermGroup is undocumented and does not terminate if parameter is not prime"
Please use the following template to submit an issue
(you may delete lines which are not used). Thank You!
### Observed behaviour

[code]

(No termination)
### Expected behaviour

An error message, or at least documentation that reflects that this function is of the `NC` variety.
### Copy and paste GAP banner (to tell us about your setup)

[code]

[2016-10-26 15:49] hulpke commented on #926
Is there a reason for using this (internal) function, instead of the default `SylowSubgroup' operation?

[2016-10-26 16:09] markuspf commented on #926
Other than me randomly poking around functions that show up with tab-completion (and trying to see how GAP computes Sylow subgroups) there isn't.

One of the possible fixes (which I am also willing to implement) is to just write 2 sentences of documentation saying "This is an internal function, and it assumes that the parameter `p` is prime".

[2016-10-26 16:13] fingolfin commented on #926
Uhm, so should we now document all undocumented functions as being undocumented? I don't quire see the point...

Of course it would be nice if we had namespaces (real ones, not that @ hack we have), then we could hide implementation details and undocumented functions. Alas, we don't right now...

[2016-10-26 16:17] ChrisJefferson commented on #926
We could (in cases like this) switch to the ALL_CAPS which (I think) we are supposed to use for undocumented functions? To be honest I tend to just start undocumented functions with an `_`, which is enough to hide them from tab-completing prying eyes.

[2016-10-26 16:17] ChrisJefferson commented on #926
Or stop tab completion displaying undocumented functions? (would require some GAPDoc integration possibly)

[2016-10-26 16:18] fingolfin commented on #926
We could - but this would affect thousands of variables and functions...

[2016-10-26 16:19] fingolfin commented on #926
So a user would not be able to tab complete their own functions ? I don't think that's a good idea...

[2016-10-26 16:20] ChrisJefferson commented on #926
@fingolfin : Yes, I was just about to write a reply thinking about user's own functions..

We could in principle capture "global name defined in the library, or by a package", by marking when we start and stop loading the library..

[2016-10-26 16:22] hulpke commented on #926
Is the issue maybe that the name is too ``tempting'' -- I'd be happy to rename the function and it would be a small, localized change.

[2016-10-26 16:24] alex-konovalov commented on #926
Maybe blue sky thinking, but what displaying documented/undocumented names using different style, when the `ColorPrompt` is turned on?

[2016-10-26 16:50] markuspf commented on #926
There is actually also a point in documenting how GAP computes Sylow subgroups (of permutation groups, or other groups). I am not saying we (or Alexander) have to do this right now, but it would certainly be a nice thing to have.

[2016-10-26 18:37] hulpke commented on #926
If the permutation group is not solvable, the method is similar to what has been published by Cannon and Holt: Reduce by homomorphisms related to (im)primitivity and use that if $P$ is a $p$-subgroup that is not yet Sylow, then $N_G(P)$ (or C_G(Z(P))) will have a larger $p$-part.

If the group is solvable, the PC method is used. (Incidentally I just found a bad inefficiency there, that will be fix

[2016-10-27 09:28] stevelinton commented on #897
We should be able to scan for representations that are not descended from IsInternalRep, IsPositionalObjectRep, IsComponentObjectRep or IsDataObjectRep.

[2016-10-27 11:58] markuspf commented on #897
We have:
 - `IsSyllableAssocWordRep`
 - `IsLetterAssocWordRep`
 - `IsBLetterAssocWordRep`
 - `IsWLetterAssocWordRep`
 - `IsPermGroupGeneralMapping`
 - `IsSubgroupOfWholeGroupByQuotientRep`
 - `IsGenericCharacterTableRep`
 - `IsNullMapMatrix`
 - `IsDefaultGeneralMappingRep`
 - `IsInverseGeneralMappingRep`
 - `IsMemberPcSeriesPermGroup`
 - `IsSlicedPerm`
 - `IsSlicedPermInv`
 - `IsFromTheLeftCollect

[2016-10-31 05:59] mike352 opened #929 "Wrong number of group generators"
The dihedral group D8 only has 2 generators, but GAP shows that it has 3:
gap> D:=DihedralGroup(8);
pc group of size 8 with 3 generators
gap> IdGroup(D);
[ 8, 3 ]

I can construct D8 myself using the following sequence:
gap> F := FreeGroup(2);;
gap> DD := F/[F.1^4, F.2^2, F.2 * F.1 * F.2 * F.1];;
gap> IdGroup(DD);
[ 8, 3 ]
and both the official group and the constructed one give the same ID [8,3].

[2016-10-31 06:23] fingolfin commented on #929
This is not a big. Generating sets are not uniquely defined.

[2016-10-31 06:23] #929 closed

[2016-10-31 06:23] fingolfin commented on #929
E.g. for any grozp G, the whole group (viewed as a set) is a generating set.

[2016-10-31 09:45] markuspf commented on #929
To give a bit more background:

By default GAP uses a polycyclic presentation for Dihedral groups.
This requires one more generator, but there are efficient methods to deal with polycyclic groups (See also [Chapter 46 of the GAP manual](http://www.gap-system.org/Manuals/doc/ref/chap46.html))

[2016-10-31 10:04] markuspf commented on #929
Regardless of the techincal issues, thank you for taking the time to report your issue, and giving complete information about it.

It seems that you have installed a rather old GAP version from your distribution, even though your issue is unrelated to this. It is unfortunate that updates for GAP take a long time to filter through to distributions like Ubuntu. We are working on a solution for that.

[2016-10-31 10:26] ssiccha commented on #929
@mike352 If I understand you correctly you said that you are using
http://www.gap-system.org/Releases/index.html
to download the latest GAP distribution and compile it via `./configure; make`?
I am using Kubuntu too and 4.8.5 from the page you linked works fine for me.

[2016-10-31 10:36] alex-konovalov commented on #929
thanks @ssiccha - was just writing more or less the same. The page http://www.gap-system.org/Releases/index.html always points to the latest GAP release, and that is GAP 4.8.5 at the moment. Maybe it was an old version of that page in the browser's cache (???).

The delay with GAP releases becoming available in Debian and Ubuntu via `apt` is taking place indeed due to their testing cycle. But thos

[2016-10-31 10:38] markuspf commented on #929
The issue is that we do not provide at least a Debian/Ubuntu package.

On modern Ubuntus there is not even a C compiler available for instance, and I understand users wanting to just install the software and use it. It is us who have to provide this if we want people to use it.

[2016-11-01 04:45] mike352 commented on #929
While what you say is true, it's renders utterly meaningless the information given by GAP. For any new user who loads the built-in library of dihedral groups and immediately gets the statement that there are 3 generators, that new user will assume that the software is in beta and not to be trusted. In such a case, the statement is misleading, but in the case of the function GeneratorsOfGroup, if i

[2016-11-01 04:49] mike352 commented on #929
Concerning versions, I first installed it using apt-get install, but when I saw it was the old version I downloaded directly from
http://www.gap-system.org/Releases/index.html
to be precise, this link:
http://www.gap-system.org/pub/gap/gap48/tar.gz/gap4r8p5_2016_09_25-11_49.tar.gz
and followed the instructions:
"Download one of the archives below, unpack it and run ./configure; make in the unpacke

[2016-11-01 07:31] alex-konovalov commented on #929
@mike352 regarding versions, how do you start GAP? You need to call `path-to-gap/gap4r8/bin/gap.sh` script. If you just typed `gap` then it started the version that you installed with apt-get, which is likely GAP 4.7.9. I suggest to uninstall GAP that came from apt-get, and then created a symlink `/usr/local/bin/gap` pointing to `bin/gap.sh` from your proper GAP installation (but you will have to

[2016-11-01 07:39] alex-konovalov commented on #929
@mike352: please see `MinimalGeneratingSet` and `GeneratorsSmallest` - they return generating sets with special properties, and will indeed give you two generators.

[2016-11-01 08:23] fingolfin commented on #929
@mike352 I disagree that this information is useless. Defining groups in terms of (usually non-minimal) generating sets is one of the fundamental ways to describe groups in computational group theory.  Many algorithms are centered around this notion.

Of course some people may initially (when beginning to learn about GAP in particular, and computational group theory in generally) be surprised by t

[2016-11-01 11:04] mike352 commented on #929
@alex-konovalov Thank you very much - indeed I was starting it by typing gap, which was then using the apt-get version, and thank you for pointing me towards the functions MinimalGeneratingSet and GeneratorsSmallest.

@ fingolfin You and I have an obvious disagreement about human-compter interaction and user interface, and I am against the notion that it is a feature for new users to fail to under

[2016-11-01 11:57] ssiccha commented on #929
@mike352 @fingolfin I still remember being a little confused by these 'strange pc groups' and didn't know how to get a permutation representation, when I tried to use DihedralGroup for the first time. Maybe one could add an example to the documentation with the call `DihedralGroup( IsPermGroup, 10)`?

[2016-11-01 12:30] alex-konovalov commented on #929
@ssiccha it may be better to add an entry to GAP F.A.Q, and not only for the dihedral group - if anyone wants to help to write this, please see https://github.com/gap-system/GapWWW/issues/23

[2016-11-01 12:40] markuspf commented on #929
@ssiccha Why not submit a pull-request with that added example?

[2016-11-01 12:41] ssiccha commented on #929
@markuspf I'll do that in a second. Have never fiddled with the GAP Doc thingy or whatever has to be adjusted there before.

[2016-11-01 12:41] fingolfin commented on #929
@mike352 I disagree that this is what we disagree about :-).  There are many instances were I think GAP could and should be more user friendly. This, however, is not one of them...

My point is more like this: Every computer program (and in fact, *any* communication context) makes some basic assumption about some shared knowledge the user (resp. participants in the communication process) have. GAP

[2016-11-01 12:45] fingolfin commented on #929
@ssiccha @alex-konovalov @markuspf We already have examples with `IsPermGroup` in the manual, e.g. in the entry for `CyclicGroup`.

One could argue that when trying to understand `DihedralGroup`, one is expected to read the full chapter (or at least the intro of that chapter), which explains this. But I agree it would be more user friendly to guide the user on this. So, perhaps add to the manual e

[2016-11-01 13:18] ssiccha opened #930 "Explain usage of filters in 'Group Libraries'-documentation"
In issue #929 a discussion was opened if and how the documentation of functions like `DihedralGroup` should be extended to explain how to use the optional filter argument.

@fingolfin suggested to add brief sentences to the manual entries like this: `To learn more about the meaning of the optional filter argument, read section X.Y`. And/or add explicit examples to each of them.

[2016-11-01 15:40] alex-konovalov commented on #913
Thanks @fingolfin - just to check my understanding, am I right that the fix requires *only* package updates, but no changes in the kernel? If this is true, then *which* packages?

[2016-11-01 15:44] alex-konovalov commented on #589
@james-d-mitchell could you please let us know if the problem is still there?

[2016-11-01 16:07] alex-konovalov commented on #930
I've labeled this as "newcomer-friendly" - doing this is a good way to practice pull requests if you haven't yet tried submitting them, and familiarise yourself with GAP documentation. The task is to add the reference to Section "Basic Groups" to each of the 13 mansections in this section and submit the pull request to the appropriate "stable" branch (`stable-4.8` at the time of writing). Document

[2016-11-01 16:08] alex-konovalov commented on #395
@james-d-mitchell just checked that this is still reproducible with GAP 4.8.5 and in the master branch.

[2016-11-01 16:09] fingolfin commented on #913
@alex-konovalov Thanks for the question, and sorry for not being that clear on the details in what I wrote before. I'll try to clarify:

This is a bug in package `cryst`, and any fix should be made there (though if the `cryst` authors are unresponsive, I could also make a change to `polenta` to workaround the issue -- but again, the actual cause for the bug is in `cryst`).

To fix the problem, the

[2016-11-01 16:12] fingolfin commented on #926
I think this issue should be closed as invalid.

However, several new issues might be created instead: "Document how GAP computes things" resp. "Document how sylow subgroups are computed";  or "prefix all undocumented functions with XYZ";  or (my favorit :-) "Add proper namespace capabilities to GAP" (this is a big one, but I think it'll get more and more important with each new package; most rece

[2016-11-01 16:51] ssiccha commented on #930
Thanks! :) I'll try to take care of it tomorrow.

[2016-11-02 15:33] ssiccha opened #931 "Tab-completion: option to cycle through possible completions"
### Observed behaviour
Currently tab-completion in GAP behaves like this: Pressing tab completes the input partially, if the largest common prefix of all possible completions is longer than the input. If this is not the case the list of all possible completions is shown.

### Proposed behaviour
Add maybe a UserPreference such that tab-completion behaves like this: Additionally, after listing all p

[2016-11-02 15:36] ssiccha commented on #931
I have done some research and readline should in principle be able to do something like that.
E.g. if I add the following lines to my `.inputrc` and start a new shell it behaves similarly as in the proposal.
[code]

[2016-11-03 11:41] #930 closed

[2016-11-03 18:32] fingolfin commented on #358
I have looked into this, and in the course made some cleanups and did some refactoring, see PR #934.

As to UpEnv(): It definitely is broken, and this is not a matter of ErrorLVars in kernel and in the library getting out of sync. Rather, it is caused by `ErrorLVars0` (added by @stevelinton on 2012-11-13 21:13:58) not doing its job. Or rather, it does it original job (which was to fix a crash), bu

[2016-11-03 18:32] fingolfin commented on #358
(and I feel I don't know enough just now about how LVars are handled, so i won't try to attempt that last hypothetical solution; in particular, it might be totally bonkers to start with -- I wouldn't know... yet... :-)

[2016-11-03 18:50] ChrisJefferson commented on #358
@fingolfin , thanks for looking into this. While you are there, I was trying to use `CALL_WITH_CATCH`, and either I don't understand how to use it, or it doesn't work. I imagine it's related, so maybe you can look while you are there.

I've also never understood the relationship between `SET_BRK_CURR_STAT` and `SET_BRK_CALL_TO`, and why we set one in some places, and the other in others...

[2016-11-03 19:00] fingolfin opened #935 "Some global variables exist twice on master branch"
In PR #579, mos global variables in the kernel were move into a new master struct.

However, some variables were missed, as I just learned the hard way (i.e. by weird behaviour due to a forgoten `TLS(...)` wrapper :-). The three I stumbled upon are `ErrorLVars`, `ErrorLVars0` and `ErrorLLevel`. Perhaps that's all, but I think it would be a good idea to double check all members of the `GlobalState`

[2016-11-03 19:03] fingolfin commented on #358
@ChrisJefferson What exactly is your problem with `CALL_WITH_CATCH`? It works fine for me, see e.g. https://github.com/fingolfin/UnitTests/blob/master/lib/units.gi

Anyway, if you suspect there is a problem, I think it'd be best to open a separate issue.

And I also was and am confused by `SET_BRK_CURR_STAT` versus `SET_BRK_CALL_TO`. Perhaps I can look into it on the weekend or next week... But do

[2016-11-03 19:04] markuspf commented on #935
I shall do this later tonight.

[2016-11-04 16:03] fingolfin commented on #935
This is mostly fixed now. However, gap.h still contains this:
[code]
So one could still accidentally forget a `TLS(...)`. But at least now we'd get a linker error which makes it less hard to debug :-).

Of course that is trivial to fix, but I wonder whether it is the only instance?

[2016-11-04 22:57] markuspf commented on #935
I'll run my grepping tool again to see...

[2016-11-09 09:28] #838 closed

[2016-11-09 09:46] dimpase commented on #838
Why do you put Unbind in the loop? You can do it after the loop is done. After so much talk about efficiency here :-P

[2016-11-09 14:15] fingolfin opened #944 "InverseGeneralMapping regression, revert 59097e248?"
In 59097e248a1dc95f927eaf6ec1539fd4ce8c34e2 @hulpke changed the behavior of InverseGeneralMapping. Previously, the resulting generalized mapping simply had the source and range of the original map switched. But now, the source of the new generalized mapping is restricted to the *image* of the original map.

To quote my own comment on that change back then
[code]

Well, I just realized that since t

[2016-11-09 14:44] #935 closed

[2016-11-09 18:36] #546 closed

[2016-11-09 19:13] fingolfin opened #945 "Complete MatrixObj"
This issue is supposed to be the "master issue" for completing the MatrixObj code in the GAP library, which is meant to replace (or complement) our current matrix code (which represents matrices as lists of lists) with proper "matrix objects", which internally can be represented in different ways (as lists of lists in row-major *or* column-major form; as a list of `rows*columns` entries; as variou

[2016-11-09 19:33] fingolfin commented on #945
Here are some things I think should be addressed. Some of these should probably be turned into full issues of their own. Others might turn out to be bad ideas. We'll see

- [ ] Finalize the MatrixObj interface (there were some minor concerns about this by @mohamed-barakat  and also myself)
  - [ ] consider writing the MatrixObj API so that it also works sanely for non-commutative base domains. E.g

[2016-11-09 21:40] markuspf commented on #945
Obvious question from me: What about semigroups and semirings? We have some code in the semigroups package that might be of some inspiration.

[2016-11-09 21:42] markuspf commented on #945
Maybe this could be a project for a GAP days or a GAP hackathon. This being *the only issue* worked on?

[2016-11-09 23:15] alex-konovalov commented on #693
Just tried to run `grplatt.tst` and was forced to terminate it. Assigned this issue to GAP 4.9.0 to ensure that we will look at it.

[2016-11-09 23:48] alex-konovalov commented on #560
SCSCP package done by @fingolfin (thanks). I will check the box when the new version will be released and picked up.

[2016-11-10 00:48] alex-konovalov commented on #560
I've resolved this in OpenMath package too. Will check the box when the new version will be released and picked up.

Thus, only `sgpviz` remains...

[2016-11-11 05:50] hulpke commented on #944
The change you referred to was in response to a problem, though I can't find the details any more.

I think the problem is in part that there is no declaration of a ``practical inverse'' or ``total inverse'', restricted to the image.

I think a separate declaration of InverseMapping would be fine -- in this case most of my library code for groups would use this new operation.

How should these two

[2016-11-12 14:32] alex-konovalov opened #947 "strings.tst not robust enough"
This is happening after merging PR #612 when running the test on Windows in Cygwin shell:
[code]

On OpenSuse it looks even worse:

[code]

[2016-11-12 16:57] markuspf commented on #947
This of course has little to do with #612, other than the added tests exposing the problem.

Though I don't understand the problem, who is manipulating what there?

[2016-11-15 10:55] alex-konovalov commented on #913
Unfortunately, no release of `cryst` happened yet, so the problem is still there in GAP 4.8.6 distribution.

[2016-11-15 10:58] alex-konovalov commented on #405
Reminder: this still happens in GAP 4.8.6

[2016-11-15 11:10] alex-konovalov commented on #756
@hulpke have you had any chance to look at this? Shall I assign this to GAP 4.9 to ensure that we keep an eye on this, or delay until 4.10 instead?

[2016-11-15 11:13] alex-konovalov commented on #917
@ChrisJefferson thanks - I will look at running this test in Jenkins with some regularity.

[2016-11-15 11:19] alex-konovalov commented on #834
I've tested this - it looks to me that #849 fixes this as it was intended. Thanks everyone!

[2016-11-15 11:19] #834 closed

[2016-11-16 17:21] james-d-mitchell opened #951 "IsMatrix and its documentation disagree"
### Observed behaviour

    gap> IsMatrix([[1,2,3], [1,2]]);
    true

### Expected behaviour
I expect nothing, but the documentation of `IsMatrix` says:

So the documentation and the behaviour disagree. I have seen this [GAP forum](http://mail.gap-system.org/pipermail/forum/2010/002991.html) reply by @alex-konovalov, which says that the behaviour of `IsMatrix` is correct (if not really what I'd e

[2016-11-16 18:16] markuspf commented on #951
The behaviour is intended, but not "correct". This is basically because it's expensive or impossible to decide whether a list of lists is a matrix.

[2016-11-16 18:17] markuspf commented on #951
Also this is in scope of the project that @fingolfin started a week ago about finally sorting out `MatrixObj`.

[2016-11-17 16:56] frankluebeck commented on #947
The output of ViewObj depends on the encoding of the terminal (which I think is sensible and intended behaviour). Unfortunately, there is no easy way for a program running in a terminal to find out the terminals output encoding. But GAP uses some heuristics which usually works. The guessed encoding is stored in  `GAPInfo.TermEncoding`.

In the example where you see a "ÿ" GAP probably assumes that

[2016-11-17 17:12] alex-konovalov commented on #947
Thanks @frankluebeck. When I start GAP in the terminal on OpenSUSE, it reports `GAPInfo.TermEncoding = "UTF-8"`, but that may not be set when it's run by jenkins automatically. On some of the Jenkins slaves, `LANG` is set to `en_GB.UTF-8` but it happens that not on these two. I've set it now in the slave configuration - let's see if tests will pass.

[2016-11-18 11:45] ChrisJefferson opened #953 "Functions which don't return values don't work properly in nested expressions."
I previously submitted a pull request which allowed more interesting nested expressions, such as `f().x`. It has turned out there are a couple of issues.

1) Sometimes GAP complains when functions don't return a value:

`(function () end)();` complains `function does not return a value`, which it doesn't matter that it doesn't.

2) Sometimes GAP crashes when functions don't return a value:

`(func

[2016-11-18 11:48] ChrisJefferson commented on #953
To save people going and reading:

829 : Add a fake value (called `None` in python), which is returned by any function which isn't actually returning a value.

831 : Make assigning the returned value of a function the same as unbinding the variable.

[2016-11-18 12:00] ChrisJefferson commented on #953
My personal preference (unsurprisingly, as it's my patch) is 829, mainly because Python uses it and everyone seems to like it. While the @frankluebeck's approach in 831 is very interesting, it is a more untested / new idea, which we would be (I think) the first people to do.

[2016-11-18 12:09] fingolfin commented on #953
I don't understand why those two PRs are even relevant. OK, the first of the two issues you report here seems to have a tenous connection (both it and the PRs involve functions returning nothing, aka procedures). But it is not at all clear to me how *fixing* the issue here is related to those PRs. Could you elaborate?

For the second issue, I see no connection at all...

[2016-11-18 12:26] ChrisJefferson commented on #953
I should have explained.

829 and 831 both add code which makes GAP's handling of functions which do not return values less special cased, and could be used as a base for fixing this bug, and defining the semantics of such expressions.

Alternatively, we could define some other semantics, closer to the current behaviour of GAP.

I shouldn't have bought up those pull requests (in particular 831). T

[2016-11-18 12:30] fingolfin commented on #953
I think the semantics in either case should be the same as if you first assigned the function to a variable; then invoked that function. I.e.:
[code]

[2016-11-18 12:47] frankluebeck commented on #947
Yes, setting `LC_ALL` or `LANG` explicitly in the scripts for automatic test might be a solution.

[2016-11-18 14:40] frankluebeck commented on #953
Example 1. should behave like the first two lines in the previous comment. (Does GAP try to assign a result to `last` there?)

But I cannot see a problem with Example 2. Except that it is a bit inconsistent with `(function () return [];end)().x;` and `(function () return rec();end)().x;` which cause a break loop.

[2016-11-18 14:42] ChrisJefferson commented on #953
@frankluebeck : I'm working on fixing this, and have (I think) a fairly easy way to do it. Thanks for mentioning `last`, it hadn't occurred to me to look at that, I'll make sure I've fixed that too.

[2016-11-18 15:00] ChrisJefferson commented on #953
Now fixed in a patch.

@frankluebeck : Thanks for your feedback. In '2' when I said "asserts", I didn't mean a GAP-level assert, I meant a C-level assert -- GAP just exits entirely in the current master branch! (Now fixed).

[2016-11-21 14:28] ChrisJefferson opened #955 "Method dispatch idea: InstallEarlyMethod"
One long-running problem in GAP is that method dispatch for built-in lists can be very expensive.

This leads to methods like `First`, which do a pre-check before calling `FirstOp`, which does the actual dispatch. I've played around to try to remove this cost, but it isn't possible in general without a complete change to how GAP does things.

Instead, here is an idea to make it easier to work arou

[2016-11-21 16:37] fingolfin commented on #955
Interesting idea. But wouldn't this require some overhead for every single metod disparch, namley to check whether an "early" method has been installed?

[2016-11-21 16:40] fingolfin commented on #955
And what would happen if multiple early methods get installed? Error on the second attempt? Perhaps we'd rhen also need a function to remove or eplace an early method?

[2016-11-21 19:39] ChrisJefferson commented on #955
Good question about the multiple early methods. We could just allow them to stack up -- we don't currently have a way of removing installed methods?

Theere is no cost if we add another dispatch method, similar to how we already have the 'verbose' and 'non verbose' ones. When you first call `InstallEarlyMethod`, we will switch to the compatible dispatch method.

[2016-11-22 12:01] alex-konovalov commented on #924
Closed as fixed by @ChrisJefferson in #942

[2016-11-22 12:01] #924 closed

[2016-11-22 12:08] alex-konovalov commented on #947
Problem resolved by updating Jenkins slaves configuration.

[2016-11-22 12:08] #947 closed

[2016-11-23 11:51] fingolfin opened #957 "Documentation for `Binomial` is potentially misleading"
It says
"Binomial( n, k ) returns the binomial coefficient {n choose k} of integers n and k, which is defined as n! / (k! (n-k)!) (see Factorial (16.1-1)). We define {0 choose 0} = 1, {n choose k} = 0 if k < 0 or n < k, and {n choose k} = (-1)^k {-n+k-1 choose k} if n < 0, which is consistent with the equivalent definition {n choose k} = {n-1 choose k} + {n-1 choose k-1}."

Now, what is `Binomial(

[2016-11-23 13:28] ChrisJefferson commented on #957
I agree it should be made consistent, and I don't find either answer particularly better than the other -- I might have just said no negative numbers myself, but that ship has long-since sailed.

Fixing the docs seems best, just in case someone is relying on this behaviour in their code.

[2016-11-23 15:29] hulpke commented on #957
(As I'm currently teaching combinatorics)
The most common generalization of binomial coefficients ${n\choose k}$ are as power series coefficients in the expansion of $(1+t)^n$ for arbitrary $n$. (see e.g. https://en.wikipedia.org/wiki/Binomial_coefficient#Generalization_and_connection_to_the_binomial_series )
In this context -1 would be the appropriate answer.

[2016-11-23 17:14] #899 closed

[2016-11-23 19:41] frankluebeck commented on #957
The current desciption is indeed bad. How about the following:

[code]

If you are happy with this description I can provide a pull request.

[2016-11-24 09:27] ChrisJefferson commented on #822
It would be very easy to switch to C-like behaviour, where we just allow `<identifier>` as an expression

How about `Syntax Warning: expression has no effect`?

[2016-11-24 09:47] ChrisJefferson opened #958 "Command line history can grow exponentially"
I would like, preferably by default, to change `ReadCommandLineHistory` to remove duplicated lines, keeping the most recent occurrence of each statement.

At the moment calling `ReadCommandLineHistory` repeatidly causes the history file to grow without bound, as the old information is concatenated onto the existing history. There is even a comment about this:

` For  very   long  &GAP;  sessions

[2016-11-24 11:00] fingolfin commented on #957
First off, I absolutely think that -1 is the "correct" result, so I am fine with that. But I had a student who was thoroughly confused by the documentation; luckily she's bright and resolved the matter in the end by finding the source code for `Binomial` and settling it that way... :-)

@frankluebeck Perhaps start the second paragraph with "For positive n, ..." or so? Otherwise, I think this is fi

[2016-11-24 12:05] fingolfin commented on #822
That would be fine by me.

[2016-11-25 20:13] alex-konovalov commented on #958
FYI, from the old Readline issue tracker:

[code]

[2016-11-26 00:32] alex-konovalov commented on #958
@ChrisJefferson moreover, even the test describing user preferences says "If this (i.e. saving history) is enabled it is suggested to set `HistoryMaxLines` to some finite value". I have submitted PR #960 in which I have changed the default from infinity to 1000. Hope that there will be no objections to do this in GAP 4.9 since this is configurable user preference after all.

I think removing dupli

[2016-11-26 10:35] hungaborhorvath opened #962 "ConjugacyClassesSubgroups is twice faster with no packages loaded in one particular example"
The following example (A5:S5) takes half time without packages on current master (6 seconds without packages, 13 seconds with packages):

[code]
I would expect any computation be faster using packages than the other way around.

[2016-11-26 11:54] fingolfin commented on #962
The actual relevant function being called is `LatticeSubgroups`. And it does something different depending on whether `tomlib` is loaded or not: It modifies the `cefastersize` value.

Perhaps @hulpke can shed some light on this?

[2016-11-26 16:29] hulpke commented on #962
The `cefastersize` is a limit up to which order cyclic extension is faster for a fitting free group than the new algorithm (my ISSAC2013 paper). The values are basically heuristics, the value of 1 if `tomlib` is available indicating that we can get the subgroups of simple groups from there.

It is unsurprising that one can construct examples in which the heuristic fails, but for the given times I

[2016-11-27 09:34] hungaborhorvath opened #963 "Problem with IsomorphismGroups in master"
Current master has a problem with ````IsomorphismGroups```` for the smallest perfect group:

[code]

This works properly in stable:
[code]

@hulpke Can this be caused by #896 ?

[2016-11-28 16:15] alex-konovalov opened #964 "Cleaning up grpauto.tst and other tests"
Nightly tests in the master branch are failing after #896. I am creating new issue to continue discussion here instead of commenting on a merged PR:
- [x] terminate the test when GAP workspace reaches 2g : done in PR #959
- [x] fix `testmanuals` with default packages : done in https://github.com/gap-system/gap/commit/5ca402f9c879a5db7f4c77a2b60c186d1f4f8c32
- [x] get rid of `#I  Alternating recogn

[2016-11-28 16:28] hungaborhorvath commented on #964
In #763 I manually changed the ````InfoLevel```` of ````InfoWarning```` in the test file to make sure to not get this warning message. It was two extra lines and it took care of the ````Alternating recognition needed```` message.

I am wondering, though, would it be possible to have an automatic and visible test for _without_ packages for a PR? Then one could see immediately if some of the code br

[2016-11-28 16:41] alex-konovalov commented on #964
@hungaborhorvath : I've looked at the line which prints `Alternating recognition needed` and I can't see a reason why it uses `InfoWarning` while the rest of the info messages in this file are using `InfoLattice`, so I've changes it to `InfoLattice` to in https://github.com/gap-system/gap/commit/488af13d9a23e7c5b6ae6acffe8275b4d59cfac9 - now testinstall should pass.

Testing GAP with/without packa

[2016-11-28 20:14] alex-konovalov commented on #964
@hungaborhorvath P.S. and of course we need a way to check that packages does not break the behaviour of the core system, so we need a reference run of the tests without packages.

[2016-11-29 14:36] #963 closed

[2016-11-30 14:24] fingolfin commented on #957
Resolved by #967

[2016-11-30 14:24] #957 closed

[2016-12-01 10:11] alex-konovalov commented on #964
I have removed some more heavy tests in https://github.com/gap-system/gap/commit/cf1c2fbcfce9809c0c08546c180c09bdd665438a, https://github.com/gap-system/gap/commit/dcaa4b2bc8e10979421f953f01cd1803f4c545f6 - now `grpauto.tst` is runnable, and it takes about 2000 seconds both with and without packages.

This means that we're able to merge and test further PRs, and I am going to merge #763 by @hungab

[2016-12-01 15:44] hulpke commented on #964
I'm not fighting for the level of `InfoPerformance`, but the whole idea of this InfoClass was to warn if something carelessly inefficient is happening. I find it somewhat strange that we are on the path of having the test files dictate this user interface.

My recommendation would be to rather have the tests deliberately turn InfoPerformance (maybe even InfoWarning) to zero to ensure they do have

[2016-12-01 15:53] alex-konovalov commented on #964
@hulpke - we have mechanism for that: I suggested already to use START_TEST and STOP_TEST to play with InfoLevel elsewhere, but you haven't commented on that. For now, only `InfoPerformance` will suffice.

[2016-12-01 16:25] alex-konovalov commented on #964
`InfoPerformance` now handled in https://github.com/gap-system/gap/commit/392ad821fd45b2b5710933cf6dc77ae1007f3460

[2016-12-01 16:25] #964 closed

[2016-12-02 17:29] hulpke opened #970 "All kinds of errors in tst/testinstall/opers"
after merging the master branch, I get all kinds of errors in files in testinstall/opers, (and these also cause tests for #968 to fail).

For example (after an update to the master branch)

presentatives.tst:25

Set(ComplementClassesRepresentatives(G, N), H -> H^G)=Set([ Group([ (1,2,5)(3,\
4)(6,7), (1,4)(2,5,3)(6,7) ])^G, Group([ (2,5)(7,8), (1,3,5,4)(6,10,9,7) ])^G,\
 Group([ (2,3,4)(6,8,10), (1

[2016-12-02 19:19] hungaborhorvath commented on #970
I do not see any diffs or errors on my current master branch. Are you sure the method from #563 is in your ````grppccom.gi````?

I was the one who put these into testinstall in order to have better code coverage of ````ComplementClassesRepresentatives````. The test in question uses the new method introduced in #563. This is the smallest example for which it makes sense to use this method (otherwis

[2016-12-02 19:29] hungaborhorvath commented on #970
I have taken a look at the diffs and most of them are coming from functions I updated in #563 and #763. Could the problems in #968 maybe be resolved by rebasing to the _current_ master?

[2016-12-02 19:45] alex-konovalov commented on #970
I've checked that in the currently running nightly test of master branch with the set of packages from GAP 4.8.6 testinstall.g runs with zero diffs. It took 43s without packages and 75s with packages (and the slowdown is worrying).

[2016-12-02 20:47] markuspf opened #971 "ABI=32 on 64-bit system missing -D__USE_FILE_OFFSET64 (?)"
Configuring and compiling GAP as follows on a 64 bit system
[code]

yields a runnable executable, but sometimes GAP does not start complaining that it cannot find GAPDoc (even though this is installed, because the directory has a 64 bit ino for instance).

I traced this down to a call to `stat` in `src/sysfiles.c:3756`, it errors with `errno` set to 75 (value too large for datatype). This can be a

[2016-12-02 22:13] hulpke commented on #970
I'm at a loss here. I have now reset the branch to upstream/master and cherry-picked the changes on it again. It goes from my `additions' branch onto gap-system:master, to no avail. The error is triggered by the travis tests (so cannot involve anything I messed up on my computer) and the diff-listing shows that the issue that causes the error for `complementClassesRepresentative` cannot have been

[2016-12-02 22:30] hulpke commented on #970
Just to add the remark that even creating a new branch off master causes the same problems (#972)

[2016-12-03 12:44] alex-konovalov commented on #971
@markuspf thanks for digging this out. Do you know why it did not happen on Jenkins slaves which we have used before?

[2016-12-03 12:49] alex-konovalov commented on #970
I may be onto something, and it seems to be package-dependent. Investigation in progress.

[2016-12-03 14:04] alex-konovalov commented on #970
Nothing so far. What I've seen is
[code]
on our new slave with all packages loaded. But I can't reproduce this after several runs of `grpperm.tst` alone. Maybe random methods interfere and the calculation goes into some execution branch not covered by tests otherwise...

[2016-12-03 17:30] hungaborhorvath commented on #970
@hulpke I have played around with your branch a little bit. I might be completely off here (in which case I am sorry), but to me the culprit seems to be the following:

[code]
Now, here ````LatticeSubgroups```` is called at line 208 (````grplatt.gi````), which calls ````SubgroupsTrivialFitting```` at line 911, which calls ````SubdirectSubgroups```` at line 2800, which calls ````SubgroupsOrbitsAndN

[2016-12-03 21:36] hulpke commented on #970
@hungaborhorvath
Thank you very much for this identification. Indeed fixing this removes the errors (and I'm thus closing the issue). Apologies for pointing to other code.

I'm just completely puzzled why the test did not complain about a subgroup lattice computation, but actually gives the subsequent command (which has nothing to do with subgroup lattice)?

In any case -- thank you very much.

[2016-12-03 21:36] #970 closed

[2016-12-03 22:24] alex-konovalov commented on #970
@hulpke also, I can't see the problem with `ExponentsOfPcElement` in `Length(ConjugacyClassesSubgroups(g));` after re-running the tests.

[2016-12-04 08:54] hungaborhorvath opened #973 "StructureDescription(G:nice) breaks if group has different presentations because cannot compute centralizer in a group given by a matrix"
This affects current master.

Update2: The problems is really about GAP not being able to calculate a particular centralizer in a matrix group. See my third post below.

Update: The problem is really about adding list of groups to a set, and determining if a new list of groups is equal to any one of them in the set. See the comment below.

This was the original bug:
Somehow ````StructureDescriptio

[2016-12-04 09:42] hungaborhorvath commented on #973
Ok, I figured out the main problem, but I do not know how to resolve it.

GAP computes the normal subgroups, then for each normal subgroup ````N```` it computes its list of complements ````H````, and then adds ````[N, H[i]]```` to the set ````NHs````. Now, the problem is that at some point GAP cannot decide where to put the new element in this set.
[code]
In particular, after going out from the br

[2016-12-04 16:46] hulpke commented on #973
What is happening is that the nice monomorphism for a subgroup (defined over a smaller field) -- the `nice' in the example -- does not test fully whether an element of the whole group is in its domain.

The reason behind this problem is the use of a set of subgroups in the code -- unless groups are permutation group (and thus naturally subsets of one larger group) the implementation of the `<` ord

[2016-12-04 16:46] fingolfin opened #974 "Error when printing `SetIsLieAlgebra`"
I get the following error on the master branch:

[code]

[2016-12-04 17:57] fingolfin opened #975 "Rename `CharacteristicSubgroupsLib` into `CharacteristicSubgroups`"
@hulpke recently added a new attribute `CharacteristicSubgroupsLib` to the library in the master branch. It is named like that to avoid a conflict with `crisp`, which already defines `CharacteristicSubgroups`. But both attributes serve the same purpose, so they should be merged before GAP 4.9.0

I guess the plan should be to simply rename the attribute to `CharacteristicSubgroups` in the GAP libra

[2016-12-04 17:59] hulpke commented on #975
Yes. I can do the renaming once there is a new version of crisp.

[2016-12-04 18:35] alex-konovalov commented on #973
In case it may be useful to know where this test comes from: this is the test for the bug reported by Nilo de Roock (http://mail.gap-system.org/pipermail/forum/2006/001338.html ) and fixed by @Stefan-Kohl on 14 Feb 2006. Description of the fix:

"For certain matrix groups, the function `StructureDescription` raised an error message. The reason for this was that a trivial method for `IsGeneralLinea

[2016-12-04 19:30] hungaborhorvath commented on #973
@alex-konovalov Thank you. Well, it helps knowing how these groups arise, but this is still an error. For such groups ````StructureDescription(G:nice)```` should still work.

@hulpke Thank you, what you say about sets is indeed problematic. For now I have replaced all of my ````AddSet```` with the following command:

[code]
However, there still seems to be some other glitch, because the error stil

[2016-12-04 19:45] markuspf commented on #971
I'd have to look more in detail, but it'll have something to do with the filesystem having 64bit inode numbers, or something to a similar effect.

[2016-12-04 20:31] fingolfin opened #977 "kernel: get rid of `StringAndFilter`"
I think we can get rid of `StringAndFilter` -- it is a left-over, but some recent refactoring (by @markuspf ?) removed the only place using it.

[2016-12-04 21:07] markuspf commented on #977
Max Horn writes:

I agree, but I think the credit is due for @ChrisJefferson though ;)

[2016-12-04 21:17] hungaborhorvath commented on #973
Ok, I think I have found the culprit. GAP cannot compute the centralizer of a subgroup in another one for this example:
[code]
Is this intended behaviour or a bug? (Note that I updated the title once again to reflect this.)

[2016-12-04 21:27] bh11 commented on #975
Back in #878, we already discussed this and agreed that the best solution would be to change DeclareAttribute to silently ignore duplicate declarations. Seems a much cleaner approach to me than to add a hack to CRISP.

[2016-12-04 23:08] hungaborhorvath opened #979 "Poll for future of StructureDescription"
Sorry if this is not the correct way to ask these questions, but I already sent a message early this year to gap@gap-system.org, and nobody commented, so maybe this catches more interest.

The main question is what do people expect when they call ````StructureDescription````? What would they want to see?

What currently happens in the master branch is almost what is in the manual for stable:
1. ab

[2016-12-04 23:38] hungaborhorvath opened #980 "Cannot compute FrattiniSubgroup for G=PerfectGroup(1344,2) but can compute for SmallGroup(IdGroup(G))"
GAP cannot compute the ````FrattiniSubgroup```` of ````PerfectGroup(1344,2)```` (errors out with no method found), but can if it is defined as a small group.
[code]
Same happens with perfect groups 1920.4, 1920.5, 1920.6, 1920.7.

[2016-12-05 00:02] hulpke commented on #980
`PerfectGroup` returns by default a finitely presented group.
Use

     G := PerfectGroup(IsPermGroup,1344,2);

and it works.

[2016-12-05 00:06] hungaborhorvath commented on #980
@hulpke Ah, very nice, thank you! I must have missed this in the manual. I wonder, though, why they are not represented as permutation groups by default....

[2016-12-05 01:29] hulpke commented on #980
Presentations are the "native" format of the library (as it was published in the book by Plesken and Holt. Reasons include:

- Presentations are more compact (for these kinds of groups)
- The presentation indicates the composition structure and action on chief factors nicely
- It is easy to form central products

Because of this the person who implemented the GAP library decided to stick with pres

[2016-12-05 09:00] james-d-mitchell commented on #951
I agree it falls into the scope of the `MatrixObj` issue, but I think the documentation is still misleading. `IsMatrix` returns `true` for arguments that don't satisfy the definition of a matrix as given in the documentation of `IsMatrix`.

Whether it's too expensive or impossible to decide if a list of lists is a matrix or not is immaterial, this is simply about having clear documentation. I thin

[2016-12-05 09:46] #974 closed

[2016-12-05 10:08] markuspf opened #982 "Should IsTable([[]]) be `true`?"
By the documentation a table is a nonempty list of homogeneous lists, alas

[code]

[2016-12-05 10:57] markuspf commented on #979
My random thoughts on this this morning were as follows (this is my opinion):

For me the current output of `StructureDescription(G)` is of very little value (and the documentation even admits to that). If I know a group is "(C5 x C5) : C4" that is all fine and well, but I don't even know how that `C4` in the semidirect product (is it a semidirect product?) acts. Radom case in point:

[code]
I don

[2016-12-05 13:48] hungaborhorvath commented on #979
@markuspf Thank you for your thoughts. Currently there exists an undocumented command called ````DecompositionTypes````, which does something _similar_, but you would still not get the actions. The actions are currently not computed at all, but can be computed with a bit of work on my part. I will take a note of it, thanks.

Just a question: how would you want a description for a group that is not

[2016-12-05 13:56] markuspf commented on #979
I think, if it can be (or is) computed (reasonably cheaply?), it should be returned.

If it can't, one returns whatever one can return or has computed. My memory on group extensions is really quite fuzzy unfortunately.

How difficult would it be to compute the short exact sequence? I should really look at how structure description works before I comment further ;).

[2016-12-05 13:57] hungaborhorvath commented on #980
@hulpke Thank you for this information. It is in fact very interesting. I went back to check the manual and saw that the last sentence (just before 50.8-1 SizesPerfectGroups) says that all groups are represented as fp-groups instead of permutation groups, and there is also a comment about computational time. Would it be possible to include your points above into this part of the manual? I think it

[2016-12-05 14:07] markuspf commented on #979
Another thought (that somewhat contradicts what I said earlier) is of course that, if one can *detect* a group to be a semidirect product without computing the action, it is (also educationally) useful to say that (and provide this functionality).

[2016-12-05 14:09] hungaborhorvath commented on #979
@markuspf No, you should not (feel the need to). :). Te whole point of this issue is what people would _prefer_ instead of what exists currently.

So what you are saying with short exact sequences is that maybe have some chain of subgroups with morphisms between them and possibly some isomorphisms from these subgroups (or their factors) to building blocks? Is it not what ````ChiefSeries```` alread

[2016-12-05 19:34] fingolfin commented on #979
First off: A "poll" here has no binding value; writing to the mailing list was and is the right approach for this.

As to why there were no replies to your email: I can only guess that many people felt like me: I simply have no wishes in regards to `StructureDescription`. It's a little tool which can give some quick & dirty help during debugging, or in very simple cases. But for my actual research

[2016-12-05 22:17] alex-konovalov opened #984 "Recursion trap in MaximalSubgroupClassReps in grpperm.tst"
This currently occurs only on one of the two Linux slaves, and only when all packages are loaded. I have seen it twice by now in two consecutive runs of `make testandard`:
[code]

[2016-12-06 04:13] hulpke commented on #984
This is a subgroup lattice computation of M_{11}\wr 2 and quite involved code that exercises homomorphisms, complements, normalizers, Sylow subgroups, and much more, both in permutation representation and pc representations.

Can you reproduce the error outside a test file (so one can see at least which line triggers the error) -- I have been unable to do so?

[2016-12-06 19:06] hungaborhorvath opened #987 "Nice Monomorphism for Ree groups takes a looooooong time"
Happens on current master.

It takes a really long time (almost 20 minutes on my machine) to create a nice monomorphism for the simple group ````Ree(27)````. I only found this out, because I wanted to increase code coverage for ````StructureDescription```` and this is the smallest group for one of the lines. This is what I observed:
[code]
Using ````TraceMethods```` I confirmed that the nice monom

[2016-12-06 19:43] hungaborhorvath opened #988 "Cannot compute centralizers in matrix group"
This affects current master _with_ _packages_. This has been revealed already in #973, but that issue will be fixed by #985 using the suggestions from @hulpke. However, the following is still a problem in current master, so I decided to report it again without all the other problems going on in #973.
[code]
I would think this is a bug, but maybe I am wrong here?

Note, that current master _without

[2016-12-07 13:34] fingolfin commented on #980
@hungaborhorvath adding a comment as to what the default filter is sounds like a good idea, feel free to open a PR. As to the computational speed, I am not so sure; after all, this is relevant to virtually all algorithms in computational group theory. Discussing it in one particular spot seems arbitrary.

Finally, what should be done with this issue now? I see three options:

1. We could add an `I

[2016-12-07 13:39] hulpke commented on #980
This is fixed in #968 (by having Fp groups etc. use more generic methods).

[2016-12-07 13:40] fingolfin commented on #982
That sounds like it should be... The alternative of course is to say the code is right, and the documentation should be adjusted.

The question is: Would it have any effect on any existing code, and which? Perhaps discuss this on the mailing list, so that more people see this, and can think about it, including package authors. Some packages that use `IsTable` or `IsRectangularTable` include:
- atl

[2016-12-07 13:40] fingolfin commented on #982
So the safe route is of course to adjust the documentation, as it is guaranteed not to break anything ;-).

[2016-12-07 13:41] fingolfin commented on #975
@bh11 Yeah, I simply forgot about that. Anyway, it's been resolved this way now via #978.

[2016-12-07 13:41] #975 closed

[2016-12-07 16:36] fingolfin opened #990 "Error in `IsomorphismGroups` on two pc groups of order 6272"
Running the following code
[code]
with the master branch leads to this error (after several minutes):
[code]

[2016-12-07 16:49] hulpke commented on #988
The problem here is triggered buy the fact that at some point the subgroup H get created anew and does not inherit the nice monomorphism of G but its own (which is defined over a smaller field). When trying to apply it to N it runs into trouble.

This is a more fundamental question -- how robust against elements from left field do nice monomorphisms have to be? Resolving this (without performance

[2016-12-07 16:54] hulpke commented on #987
I think this is a fundamental misunderstanding of what you want the computer to do (and what `StrucrtureDescription` could do.
You *know* that the group is Ree(27) and you feed it in as if it is a random matrix group. This will be slow.
Why should one expect to call `StructureDescription` on subgroups of GL(7_27) of order 10^10?

[2016-12-07 17:15] hulpke commented on #979
Since there is an explicit question:

<rant>
I think `StructureDescription`, as a function for arbitrary groups, is a fundamentally flawed concept. One can make this work for a fixed set of particular examples, but offering such a function actually betrays a serious misunderstanding of what a ``typical group'' is. (Admittedly, a lot of undergraduate textbooks run in the same trap, and Analysis spe

[2016-12-07 18:48] hulpke commented on #990
This is fixed in
https://github.com/gap-system/gap/pull/968/commits/b5d80188f13818d356e30de18334f2aae9af6b20
in #968

[2016-12-07 19:39] fingolfin commented on #990
Excellent, thanks.

I noticed that you added this as a test case there. I wonder how effective doing that is on the long run: As the heuristics change, this particular test case might not trigger the same bugs anymore (i.e. even without your fix, it's quite possible that in a year, a different code path is used to handle that case, and it wouldn't error out anymore). In addition, these examples ar

[2016-12-07 19:45] fingolfin opened #994 "Feature request: add better debugging facilities (breakpoints, step-by-step execution, etc.)"
This is inspired by this old feature request: https://bitbucket.org/gap-system/gap/issues/26/debug-mode

What I'd envision is to improve the break loop, which is already nice, but not quite there. Things I'd like to have:

1. Setting and clearing break points dynamically, during runtime. Perhaps there could be a command `SetBreakpoint(func[, line]);` which sets a breakpoint at the start of a funct

[2016-12-07 19:58] fingolfin opened #995 "Parser bug on character constants"
I was looking at our old private tracker (we really should go through all issues there, and migrate any sensible issues to this tracker).

One of them was by @markuspf (see http://tracker.gap-system.org/issues/470) and reported the following buggy behavior: Enter a single quote, then press return twice and you get this:
[code]
So it look as if GAP did never finish parsing that character constant,

[2016-12-07 20:07] alex-konovalov opened #996 "Manual example for MaximalNormalSubgroups from grp.gd fails"
This presently occurs in nightly tests of the master branch
[code]

The following changes are new comparatively to the test from yesterday:
* Add IsAbelian filters to IsSolvableGroup and DerivedSeries
* ReadPackage error
* ENHANCE: Remove multi-declaration warning if both declarations are equal
* ENHANCE: CharacteristicSubgroupsLib to CharacteristicSubgroups

[2016-12-07 20:17] ChrisJefferson commented on #994
We could probably find a spare bit in instructions, but the problem would be figuring out how to set it -- we don't currently really have a way of walking through a function object, looking for statements on particular lines. One would have to look at this carefully.

I can imagine how to do breakpoints with cost (no cost when they are not being used) by hooking into the code used by line-by-line

[2016-12-07 20:18] ChrisJefferson commented on #994
I should add, I won't have time to work on this in the near future, but if anyone else wants to, I can quickly explain the code you would want to look at. Also, it would be nice to do a general cleanup of the profiling code at the same time (in particular, there should be a mode which doesn't generate a massive JSON file, but instead builds a more compact data structure directly which scales bette

[2016-12-07 20:20] fingolfin opened #997 "Add `License` field to PackageInfo.g format"
(I thought I'd seen this discussed before, but didn't see an issue, so I am opening a new one. If there is already an issue, feel free to close this one with a pointer to the existing issue. Thanks)

We should add a `License` field to GAP packages. It would initially be optional, but on the long run mandatory. Several variants for the content of that file come to mind:

1. A (package relative) pat

[2016-12-07 20:30] fingolfin opened #998 "kernel: incorrect use of ttyname()"
The following is inspired by an issue from our old private tracker, namely <http://tracker.gap-system.org/issues/474>

Currently, `src/system.c` contains this code (twice, actually, with minor differences):
[code]
The problem with that is that `ttyname` may (and, according to its documenation on BSD systems, *does*) return a pointer to an internal static buffer. Hence, comparing the results of two

[2016-12-07 20:41] fingolfin opened #999 "RewindStream fails for compressed files"
GAP supports reading from gzip compressed files transparently. I.e. GAP code need not be aware of this, it just happens "automatically".

However, `RewindStream` does not work in that case -- not surprising, given that we implement this by piping the data through a separate gunzip process.

One way to fix this would be to implement native gzip decompression (see issue #916). But of course it is pr

[2016-12-07 20:55] fingolfin opened #1001 "Weak pointer functions do not check their arguments, leads to crash"
The following examples crash with a segmentation fault:
[code]
This was originally reported by @rbehrends at http://tracker.gap-system.org/issues/371

[2016-12-07 21:01] fingolfin opened #1002 "FEATURE: Add `SortedList(list, cmpFunc)`"
It would be nice to have a two-argument variant of `SortedList`, mirroring the two-argument version of `Sort`. It would do roughly this:
[code]
While at it, one could also add a `SortedListBy` variant which uses `SortBy` instead of `Sort`.

This request is inspired by http://tracker.gap-system.org/issues/402

[2016-12-07 21:13] fingolfin opened #1003 "Inconsistent behavior of `IsRingWithOne`"
This issue was originally reported by me on our old private tracker, see http://tracker.gap-system.org/issues/300

The following behavior seems inconsistent and confusing to me (and I'd personally consider it a "bug", too :)
[code]

Maybe any (sub)ring of cyclotomics should automatically be turned into a RingWithOne once it "obviously" contains the integer 1? At least in the case where all generat

[2016-12-07 21:26] fingolfin opened #1004 "Improve `PreImages` error message if object is not in range"
Consider this example (originally due to @laurentbartholdi, see also http://tracker.gap-system.org/issues/391):
[code]
The error message is not very helpful. It would be much more helpful if we said something like "the set/object/list you provided is not contained in the range of the map" or so.

Without thinking too much about it, couldn't we achieve this by modifying e.g. the test
[code]
to this

[2016-12-07 21:33] fingolfin opened #1005 "Unexpected error computing PreImagesRepresentative"
Another issue based on <http://tracker.gap-system.org/issues/391>: The following error is unexpected, I'd instead expect `PreImagesRepresentative` to print an error that the object is not contained in the image of the map?

[code]

[2016-12-07 21:36] fingolfin opened #1006 "Wrong result computing PreImagesRepresentative"
The following is taken from http://tracker.gap-system.org/issues/391, was reported there by @laurentbartholdi and attributed to Van Lyuen Le:
[code]

[2016-12-07 22:05] ChrisJefferson commented on #1001
Will have a look at this

[2016-12-07 22:18] hulpke commented on #1006
This seems to be the same issue as 1005 -- the method for PreImagesRepresentative does not test for membership. But for me this actually gives an error now. Maybe not the nicest one (indeed a check seems to be in the wrong place), but an error nevertheless.

[2016-12-07 22:20] hulpke commented on #1005
The if in the else branch should be first, I'll fix this. Wirth it the error message will be
<elm> lies not in group defined by <pcgs>
which I think is a plausible error indicating the problem.

[2016-12-08 04:34] wagh commented on #397
It seems this is still not fixed. I am using latest release version (GAP 4.8.6, 12-Nov-2016, build of 2016-11-16 16:01:19).
Even the code given above crashes the GAP session:
Code:
`f := function() return 1/0; end;
a := "_q:=f();;";
stream := InputTextString(a);
Read(stream);`
and
`brk> quit;`
The trace starts with:
`*** longjmp causes uninitialized stack frame ***:`

[2016-12-08 10:50] alex-konovalov commented on #397
@wagh thanks for checking. The fix, committed in https://github.com/gap-system/gap/commit/cf6272ae207df91a3cecab0857f3c2f3e892aae6 by @ChrisJefferson, went to the master branch, so this will appear in GAP 4.9 release. I've just tried your example, and I can't reproduce the crash with the current master branch.

[2016-12-08 19:50] fingolfin commented on #1006
Note sure what you mean with "it gives an error now" -- I get the exact output I pasted above with master. The big difference to #1005 in my eyes is that there, an error is shown which is not helpful -- annoying, but nothing more. Here, a mathematically incorrect answer is given, which I consider much more serious, as it could even lead to incorrect research findings.

[2016-12-08 19:52] fingolfin commented on #1006
Ahh, I see now, you added a commit to #968 which turns this into an error. If that's the case, then yes, this issue becomes a dupe of #1005 :-)

[2016-12-08 22:08] hungaborhorvath commented on #996
This is my mess, sorry. The problem was with setting assertion levels to 2 instead of 3 as @fingolfin suggested. Fixed in #1007

[2016-12-08 22:12] #980 closed

[2016-12-08 22:12] #990 closed

[2016-12-08 23:03] #996 closed

[2016-12-09 03:59] wagh commented on #397
@alex-konovalov thanks for the reply. I will check it after 4.9 release. As the commit was in April, and in the master branch, I thought it was already incorporated in the latest release.

[2016-12-09 10:23] alex-konovalov commented on #984
This problem has gone after merges happening on Dec 8th. There are now another troubles however (master branch, both with and without packages):
[code]

[2016-12-09 16:15] hulpke commented on #984
@alex-konovalov
What is happening is that code checking for tables of marks and code checking for maximal subgroups refer to each other. I have a fix for this, which I will commit soon.

What it (unfortunately) implies is that I need to move the maximal subgroups routine for symmetric/alternating out of the primitive groups library (where it anyhow does not belong if it simply is a data package) a

[2016-12-09 16:42] alex-konovalov commented on #984
@hulpke thanks for the explanation and the incoming fix. Yes, please submit a PR to https://github.com/gap-packages/primgrp. I've also just invited you to that package so that you can also have write access.

[2016-12-10 10:14] #953 closed

[2016-12-10 10:18] ChrisJefferson commented on #1001
Fixed in #1009

[2016-12-11 14:18] fingolfin opened #1010 "When using Read(), ctrl-C sometimes does not work"
Using master, I was using `Read()` to execute a file with essentially a big for loop in it, computing and printing lots of stuff.

I then tried to abort the execution using Ctrl-C. But this only resulted in GAP printing the message
[code]
Clearly that was incorrect.

In the end, I had to rapidly press ctrl-c multiple times, until GAP finally noticed two of them in a way that lead to the `gap: you

[2016-12-12 15:22] #1001 closed

[2016-12-12 18:44] #977 closed

[2016-12-12 20:07] markuspf commented on #1010
Any chance I could get that file for testing?

I assume you're running on MacOS, not sure whether signal handling on MacOS is very different from linux or BSDs.

[2016-12-12 21:14] hulpke opened #1012 "Remove prim and trans folders"
With the primitive and transitive groups libraries moving into required packages:

https://github.com/gap-packages/primgrp

respectively

https://github.com/hulpke/transgrp

we need to set a timeline when the corresponding folders in the main directory will go away. This issue is created to make others aware of it.

As of Dec. 2016, the status is:
- Both libraries exist in package form, providing

[2016-12-12 21:19] fingolfin commented on #1012
Both packages are incompatible with `browse`. Loading GAP when `transpkg` is present and Browse is autoloading produces this:
[code]
For `primpkg`, I get this:
[code]

Of course it is a bit nasty that `browse` directly accesses the undocumented innards of both libraries. But I hope this can be fixed, possibly after adding some suitable official interfaces to the required data to `primpkg` and `tra

[2016-12-12 21:34] markuspf commented on #995
I thought we had fixed it back then. I will check this again, maybe we didn't fix it properly or merges between HPC-GAP and GAP re-broke it.

[2016-12-12 22:03] alex-konovalov commented on #1012
It is absolutely correct to set 4.9 milestone, and we're not miles away from it, indeed: there seem to be not much work left in SmallGrp and PrimGrp, and thanks to @hulpke with TransGrp too.

@fingolfin, I know too about this problem with Browse. But if we plan to make these three packages needed for GAP for backwards compatibility (what, of course, can be done for each of them only as soon as the

[2016-12-12 22:04] markuspf commented on #995
A similar problem occurs here:
[code]

[2016-12-12 22:08] markuspf opened #1013 "Triple quoted strings don't do any escaping."
When using triple quoted strings like so

[code]
as opposed to
[code]

This is "documented" at the top of the triple string parsing function, I just wonder whether it's desirable or not before I start hacking up the function.

[2016-12-12 22:23] markuspf commented on #995
There are more instances of when we don't abandon the parse early when a syntax error occurs, like this here:
[code]

I will have a closer look at this this week.

[2016-12-13 10:25] hungaborhorvath opened #1014 "BuildPackages do not log"
````BuildPackages.sh```` does not log anywhere, or if yes, then I could not find it.

Considering the immense output this generates (especially if sometimes a package fails to be built and it refers to some distribution package dependencies), I always run it like this in the ````pkg```` directory so that I can get back to it later:
[code]
This creates files ````pkg/buildpackages.out```` with the `

[2016-12-13 10:38] hungaborhorvath commented on #1014
Also, it would be nice if there was at least an empty line before and after a package build to better read the output.

[2016-12-13 16:38] #984 closed

[2016-12-13 17:02] fingolfin commented on #1013
I think that's desirable, and is what e.g. Python does.

The idea is that basically, you can copy & paste any text into triple strings, without worrying about escaping backslashes and double quotes and stuff.

[2016-12-13 17:10] fingolfin commented on #1014
I consider `BuildPackages.sh` a stop-gap measure at best anyway. It's better than nothing, but ultimately, it's a bad substitute for a proper package manager...

Anyway, yeah, some logging would be helpful, I guess.

Also, perhaps use color on the terminal output, to highlight messages printed by the script, so that they stand out when scrolling back in the terminal. While we are collecting wisehs

[2016-12-13 17:16] fingolfin commented on #1012
@alex-konovalov OK, adding explicit dependencies to `browse` on `primpkg` and `transpkg` might be an easy solution. But it requires good coordination with the `browse` authors (have you heard back from them?), and also it does not solve the problem that `browse` accesses undocumented internals of the transitive groups database. Additionally, it seems to contain a lot of explicit documentation abou

[2016-12-13 17:16] fingolfin commented on #1012
Existing issues relevant to this are #791 and #792.

[2016-12-13 17:24] fingolfin commented on #1012
@alex-konovalov OK, thanks for pointing me to / reminding me of #791 and #792. The discussion on the latter has grown quite long, it seems... But I see now that @frankluebeck did indeed reply (and I also participated in the discussion... ouch... forgot all about that :/), and that the plan is to make the new package "needed" by GAP, at least temporarily, until packages with adjusted explicit deps

[2016-12-13 17:26] hulpke commented on #1012
If the packages are there, the prim/trans folders are not touched any longer.

[2016-12-13 17:28] markuspf commented on #1013
I agree. I can get my escapes essentially by using `ReplacedString", though I might provide a function that does all escapes that are documented for GAP.

[2016-12-13 17:32] markuspf commented on #971
Do @fingolfin or @ChrisJefferson have any opinion on this?

[2016-12-13 17:43] alex-konovalov commented on #1012
Just to summarise:

- Who: @markuspf leads SmallGroups, @hulpke TransGroups and @alex-konovalov PrimGroups.
- What's left: mostly documentation. @fingolfin's assumption is true: part of main manuals goes into packages' manuals
- How: first packages should be completed and *picked up* by package update mechanism. Olny AFTER that one should proceed with removing directories. Otherwise our regression

[2016-12-13 17:49] alex-konovalov commented on #971
We have a new Jenkins slave in St Andrews which has this problem and throws test failure notifications every evening in the worst possible way: GAP can not be loaded in this configuration at all because GAPDoc package can not be loaded:
[code]

[2016-12-13 19:38] #951 closed

[2016-12-14 19:07] ChrisJefferson opened #1016 "Reading compressed files breaks when using saved workspace"
(Copied from GAP-Forum mailing list)

Dear GAP team,

We found a regression from GAP 4.7.6 when reading compressed files
after workspace is loaded.

If gap is started with the -L option (load workspace),
using ReadLine on a compressed file handle returned by InputTextFile()
only returns the first character.

By doing a bisection, I found the first (hg) changeset to exhibit
this behaviour is:

chan

[2016-12-14 19:08] ChrisJefferson opened #1017 "Issues with SaveAndRestoreHistory"
(Copied from GAP-Forum mailing list)

Dear GAP team,

I have some issues with SaveAndRestoreHistory.

If GAP is killed while SaveCommandLineHistory() is writing the file
history, the file get truncated. To avoid that, the functions
SaveCommandLineHistory() should save the history to a backup file and
then do the equivalent of 'mv history.bak history'.

Saving the full history is very slow. One rea

[2016-12-14 19:28] ChrisJefferson commented on #1017
Related to this, `ReadCommandLineHistory` doesn't allow replacing the history entirely (just in case someone dives into this area)

[2016-12-14 19:43] alex-konovalov opened #1019 "Search for help topics matching SetSomething and HasSomething"
The following idea had been suggested by @frankluebeck in the old Redmine based issue tracker (http://tracker.gap-system.org/issues/304).

It should be possible to improve the search in the help system in a way that, for example, the search for system setters and testers such as `?SetIsMapping` and `?HasIsMapping` will return corresponding attributes and properties. e.g. `IsMapping` (currently the

[2016-12-14 21:12] ChrisJefferson commented on #1014
Yes, to be clear, I made the current `BuildPackages.sh` and it is very horrible. Feel free to make any changes.

One option would be to output all output to a file per package, and on the screen just print which packages built correctly, and which didn't.

[2016-12-14 21:13] ChrisJefferson commented on #1014
Also seperating building one package from all packages -- I started this one day, but I'm not sure bash is the right language to do it in, for a start it's hard in bash to run another script from the same directory as an already-running script, so splitting into `BuildPackage.sh` and `BuildPackages.sh` is tricky.

[2016-12-14 21:14] fingolfin commented on #1014
Also to be clear: Despite what I wrote, I don't consider `BuildPackages.sh` to be horrible. It's useful, and much better than what we had before! But of course on the long run, we need something better. But until somebody has the abilitie and time to implement such a better thing, I am glad we have it.

[2016-12-15 10:51] hungaborhorvath opened #1021 "GAP4stones in tst files, unify them?"
Where can one find the documentation for GAP4stones? I sort of figured (by running ````make teststandard````) that these are supposed to somehow give an indication on how long a test will run.
However, I cannot find anywhere this documented in a proper way. Nor do I see that the numbers in the tst files are anything more than ad-hoc. I certainly have no idea what numbers to put into tst files, I j

[2016-12-15 11:10] hungaborhorvath opened #1022 "Error, CVEC_INTREP_TO_CVEC: no cvec"
Affects current master. This also gives a diff in ````bugfix.tst:2982```` for which the comment says ````# 2012/06/18 (FL)````
[code]
Result is the same with or without packages loaded.

[2016-12-15 11:12] alex-konovalov commented on #1021
@hungaborhorvath numbers are periodically renormalised (cf #666), so don't worry too much about placing arbitrary number. I don't mind if GAP4stones will disappear at all, but taking them out is not in my priority list.

[2016-12-15 11:14] fingolfin commented on #1022
This suggest a problem in or with the `cvec` package. My first thought is: Did you compile cvec? This looks as if an older cvec kernel extensions is sitting around somewhere, and is combined with the most recent cvec...

In any case, I cannot reproduce it...

[2016-12-15 11:24] hungaborhorvath commented on #1022
I just used ````Buildpackages.sh```` on the stable gap yesterday (with no errors for this particular package), and I have a symlink to these packages for the development version of gap.

Also, I can load the package.....
[code]
Further, my stable GAP is not affected.
[code]

[2016-12-15 12:10] james-d-mitchell commented on #1021
@hungaborhorvath and @alex-konovalov just to mention that this is related to Issue #446. I too wouldn't mind if GAP4stones disappeared.

[2016-12-15 12:46] ChrisJefferson commented on #1022
You can't use kernel modules compiled for one version of GAP in another version of GAP, is that what you are doing?

We should probably have code to check that, and explicitly reject such modules.

[2016-12-15 12:58] hungaborhorvath commented on #1022
Ok, I will try building packages for development gap, and look if the error still exists.

In the meantime, it would be nice to know how people manage their stable and development packages. Do you copy the uncompiled version completely, and compile separately for stable and for development? Because I thought that it is ok to just symlink them, I even think that I was advised to do so in some readm

[2016-12-15 13:06] ChrisJefferson commented on #1022
@hungaborhorvath : Good question, it's a pain.

I just tend to keep separate copies. You can symlink packages without kernel modules.

We could consider encoding in the directory name of where the package binaries are stored the version of the GAP kernel, but that would obviously be a major change.

[2016-12-15 13:15] hungaborhorvath commented on #1022
@ChrisJefferson Ok, so is there a list of those packages that have kernel modules? Or of those that do not? Maybe the packages with kernel modules are the ones that require to be built?

[2016-12-15 13:22] ChrisJefferson commented on #1022
@hungaborhorvath : Unfortunately, I don't think we have a fixed list.

I believe you just need to look for packages which run `LoadDynamicModule` on my machine, that's:

[code]

At the moment there is (I believe) no way to arrange these packages such that you can load one copy of the directory from both master and 4.8.

[2016-12-15 13:25] ChrisJefferson commented on #1021
My personal preference would be to kill GAP4stones.. they don't really mean anything, and they mean even less now we are frequently extending the testsuite (as they are based on how long the tests take to run).

[2016-12-15 13:29] ChrisJefferson commented on #999
At the moment we don't store the filename a stream is based on, but we could certainly store that, and then try to reopen the file later.

[2016-12-15 16:26] fingolfin opened #1024 "ImmutableMatrix accepts field sizes instead of fields: document this"
The documentation of `ImmutableMatrix( field, matrix[, change] )` says that `field` must be a field. Despite this, it is also possible to pass the size of a field (just as with `ConvertToMatrixRep`, `ConvertToVectorRep` etc.). In fact internally it always uses the field size, and throws the field object away.

I think this is quite useful, and consistent with the other functions in that "family".

[2016-12-15 21:50] #1016 closed

[2016-12-15 22:41] alex-konovalov commented on #1022
@hungaborhorvath asked

with
[code]

you can easily get the same set of packages as in the last stable release without symlinking.

`make bootstrap-pkg-full` assumes that the subdirectory `pkg` does not exist. It creates this directory, downloads `http://www.gap-system.org/pub/gap/gap4pkgs/bootstrap-pkg-full.tar.gz` (which is updated after each minor release), and unpacks it. You need only to call

[2016-12-15 22:47] alex-konovalov commented on #1022
P.S. @hungaborhorvath it could be me who suggested that symlink works, but is no longer the case (may still work in the stable branch, but not in master).

[2016-12-15 22:52] hungaborhorvath commented on #1022
Well, apparently compiling the packages running ````LoadDynamicModule```` did the trick, thank you.

BTW, I wrote the following script to manage my packages, take note of the part "Prepare packages for GAP development". If anybody wants, you can use it for ````make bootstrap-pkg-full````, or whatever.
(BTW, where are all these documented???)

[code]

[2016-12-15 23:05] hungaborhorvath commented on #1022
@alex-konovalov Thanks. I think I will stick with symlinks for those packages that do not have this ````LoadDynamicModule````. I know it is stupid, but I feel that we should not waste the space just because it is extremely cheap.

[2016-12-16 18:03] fingolfin commented on #160
What is the status of this issue? It seems that the initial computations @alex-konovalov tried still are slow, as it still tries to find all normal subgroups, and there are just too many

Personally, I'd argue that this is not really an issue, but just life... Even if we improve the algorithm further, I am sure we'll be able to find new cases where it does not perform well.

[2016-12-16 19:04] hungaborhorvath commented on #160
These are all timings on my own laptop with current master:
[code]
Of course I have no idea how these compare to the timings of @alex-konovalov , but the first two groups did not even give a result in half an hour, so I would not call this slow....

[2016-12-16 20:51] hungaborhorvath commented on #1014
I am no sure if it is a good idea to log every package into a different file. In that case, where would we save the log files? The ````pkg```` directory is cluttered already as it is, saving into e.g. ````pkg/log```` could make GAP (or ````BuildPackages.sh````) think that ````log```` is a package....

[2016-12-17 17:06] ChrisJefferson opened #1025 "TransitiveGroupsData.AllTransitiveGroups ignores Size"
This may be intensional, but I find it quite unexpected and not clear from the documentation. `TransitiveGroupsData.AllTransitiveGroups` seems to ignore any requests to filter by `Size`.

[code]

[2016-12-17 18:26] hulpke commented on #1025
What on earth is `TransitiveGroupsData'? This is not any part of the transitive groups library.

[2016-12-17 18:30] ChrisJefferson commented on #1025
I was searching for a method to get transitive groups information out, and when I searched for `??TransitiveGroups`, out came `TransitiveGroupsData.AllTransitiveGroups`. Turns out it is in `Browse`, so the bug could well be in there.

[2016-12-17 18:41] hulpke commented on #1025
The manual in
https://github.com/hulpke/transgrp
now contains documentation on how to access the library cleanly.

[2016-12-18 16:08] alex-konovalov commented on #160
@hungaborhorvath thanks for the edit - that's exactly what I was going to ask. I think this may now be closed. It lead to some improvements, and I agree with @fingolfin that the corner cases are "just life".

[2016-12-18 16:08] #160 closed

[2016-12-18 21:41] Stefan-Kohl commented on #1021
Yes, indeed. -- Of course for compatibility,  STOP_TEST should then just ignore the second argument if it is given (and not throw an error).

[2016-12-19 21:20] #1022 closed

[2016-12-20 15:35] alex-konovalov commented on #1014
@hungaborhorvath `BuildPackages.sh` ignores directories that do not contain `PackageInfo.g` file, so it will ignore `pkg/log`. Same is for `InitializePackagesInfoRecords`, which, if `PackageInfo.g` ios not found, also recursively goes through subdirectories.

[2016-12-20 15:37] alex-konovalov commented on #958
@ChrisJefferson  I've suggested alternative in #960 - please have a look.

[2016-12-20 22:30] fingolfin opened #1030 "TriangulizedMat documentation does not match actual behaviour"
The documentation for `TriangulizedMat` resp. `RREF` currently says this: `... It returns a immutable matrix in upper triangular form. ...`

But this is not true, as a quick look at the implementation or a brief experiment shows:
[code]

So we should fix either the documentation or the behaviour. Since it is quite likely that some code out there relies on the current behaviour, I tend to change th

[2016-12-20 23:36] alex-konovalov commented on #1030
I agree with fixing documentation. `TriangulizedMat` calls `m:=List(mat,ShallowCopy)` and then `TriangulizeMat(m)`, and documentation for the latter says that it takes a mutable matrix and changes it. I can't explain how "immutable" appears in `TriangulizedMat`...

[2016-12-21 16:35] hungaborhorvath commented on #1014
@alex-konovalov @fingolfin @ChrisJefferson #1023 now should log every package into a separate file.

[2016-12-22 08:13] fingolfin commented on #971
I think the correct way to do this is to #define `_FILE_OFFSET_BITS=64`, but *only* if the system really sypports 64bit inodes (at least the glibc documentation demands this).
Autoconf has a macro for this, which we hopefully can use: `AC_SYS_LARGEFILE`

While I could add it (it needs to be added to `cnf/configure.in`), I cannot reliably test it. So perhaps somebody who has a test setup can verify

[2016-12-22 09:20] markuspf commented on #971
I have a system here that I can test this on. I think I can give you access to it if you're willing to tunnel your ssh through one of our machines, I'd need a ssh pubkey from you for that.

[2016-12-23 08:07] fingolfin commented on #971
Can this be closed, now that #1033 has been merged?

[2016-12-23 09:22] #971 closed

[2016-12-23 10:05] alex-konovalov commented on #971
Great - Jenkins tests now do not trip over this problem. Thanks!

[2016-12-24 10:42] ChrisJefferson commented on #995
@markuspf : There are many, many places where we don't abandon parsing when a syntax error occurs, that is I think "standard behaviour".

If we wanted to fix that, we should introduce some kind of general method of cleaning that up -- some kind of "empty out the input stream" (that needs planning better before we start it)

[2016-12-24 14:35] valdecar opened #1041 "ParGAP bug with Sort(deltas) in MasterSlaveDeadSlave function"
Warning: non-native English speaker
### Problem
In declaration of MasterSlaveDeadSlave function in  pargap/libmasslave.g file from one can found lines:
[code]
But, because of slaveArray is list that can contain holes (holes in list `l` means `l:=[1,,,3,5,,7])`, deltas also can contain holes. In that case `Sort(deltas)` return error.
### How detect
1) First way:
 You can run tests from /gap4r8/pkg/

[2016-12-28 11:41] fingolfin opened #1042 "Third and fourth argument to NewRepresentation and DeclareRepresentation are ignored"
This is more a question or a "request for comments" and an issue:

Today, I was wondering what the `slots` argument to `DeclareRepresentation` and `NewRepresentation` really do es(the manual is a bit vague on that), and also what the fourth argument `req` (supposedly for "required"?) is about -- the documentation does not talk about it at all.

To my surprise, it seems that both arguments are simp

[2016-12-28 11:48] fingolfin commented on #897
I was bitten by this yesterday, as polycyclic's `IsFromTheLeftCollectorRep` suffers from the same problem (and thus a collector was shown to use 300 bytes of RAM when it really are 300,000 bytes...)

So all in all, it seems that `IsPositionalObjectRep` serves no useful purpose, other than perhaps to increase some ranks a little bit. It is not well-documented either: entering `?IsPositionalObjectRe

[2016-12-28 11:51] fingolfin commented on #897
In the meantime, we already have 3 in the form of the kernel functions `IS_COMOBJ`, `IS_POSOBJ`, `IS_DATOBJ`. I'll create a PR which improves MemoryUsage with the help of those.

[2016-12-28 12:13] fingolfin opened #1043 "IsPositionalObjectRep and IsComponentObjectRep are not consistently set"
(This is taken from issue #897)

Many representation for positional respectively component representations do now have the `IsPositionalObjectRep` respectively `IsComponentObjectRep` filters set. This can lead to surprising behavior and bugs, see e.g. issue #897. According to @markuspf this affects at least these representations in the library (and more in packages):

- `IsSyllableAssocWordRep`
-

[2016-12-28 12:14] fingolfin commented on #897
Note: I removed my last two comments in favor of a separate issue (see #1043). Should have done that from the start. Sorry for the noise.

[2016-12-28 16:21] hulpke commented on #1042
As far as I remember, these "slots" were supposed to be record components that could, respectively that would have to exist in a component object. Its purpose presumably was to keep control over what components were entered (and to force most of them into attributes) but it was never implemented and never missed, furthermore many declarations in the library only list few components.

 my preferenc

[2017-01-04 10:08] frankluebeck commented on #1043
The representations `IsPositionalObjectRep` do occur in the documentation, try for example `?Representation` or `?NewRepresentation`. It would be good to add some `<Index>` elements to the documentation.

In view of the documentation I would consider representation declarations which do not imply one of the four mentioned representations a bug. I would vote for a check when a representation is dec

[2017-01-04 13:59] frankluebeck commented on #1042
I vote for variant 3.

[2017-01-04 15:14] fingolfin commented on #1042
@hulpke Did you perhaps also mean variant 3 (and not 3)? Just wondering because what you write refers to `slots`, and you write "accepting them" which would fit 3, not 2.

[2017-01-04 16:18] hulpke commented on #1042
Yes, 3. I didn’t read that far and tghought req was the general ``requirements’’ for using `DeclareRepresentation’. Sorry!

  Alexander

[2017-01-06 11:30] frankluebeck opened #1049 "Strange behaviour of ~"
### Observed behaviour
[code]
### Expected behaviour
The assignment `~ := 1;` should lead to the same syntax error as the first examples.
### Copy and paste GAP banner (to tell us about your setup)
Seems that this has been in all version of GAP4 (and also in GAP3, where only the last line behaves differently).

[2017-01-06 12:20] ChrisJefferson commented on #1049
Some other bad places we can put `~`  (noting them, while I look around)

`f := function() local a,~,b; end;`

`f := function(a,~) end;` and `~ -> ~`

[2017-01-06 12:39] ChrisJefferson commented on #1049
This is tricky to fix, without possibly slowing GAP down -- the obvious places to fix it would involve putting code in places that have to be fast.

I'm investigating making `~` read-only from a user point of view (that would lead to a run-time error, rather than a parse-time error, but still stop it being written to).

[2017-01-06 13:17] ChrisJefferson commented on #1049
I have a fix for this, but it requires first merging #490 (just because they touch the same code, so there would be a merge conflict otherwise).

[2017-01-06 14:19] fingolfin opened #1051 "Syntax extension: add support for keyword arguments (= named parameters) for function"
It would be very nice if GAP supported named keyword arguments (also known as "named parameters", and certainly by other names). They are named so in contrast to classical "positional arguments", which GAP already supports.  Some references:

* https://en.wikipedia.org/wiki/Named_parameter
* https://docs.python.org/2/tutorial/controlflow.html#keyword-arguments

They allow users to pass arguments t

[2017-01-06 14:43] hungaborhorvath commented on #973
Fixed by #985

[2017-01-06 14:43] #973 closed

[2017-01-07 13:39] fingolfin opened #1052 "NumberPerfectGroups(1) return 0, not 1"
The documentation says for `IsPerfectGroup`: "A group is perfect if it equals its derived subgroup" and that is also the definition I know. Hence, the trivial group is perfect.

However, `NumberPerfectGroups(1)` return 0, not 1. I see two solutions:

1. Change `NumberPerfectGroups` to return 1 (for people who want to use the perfect group library, there is still `NumberPerfectLibraryGroups`; also,

[2017-01-07 13:40] fingolfin commented on #1052
Assigning to @hulpke as I think he wrote the relevant code (?) and in general probably knows most about this, i.e. what solution is best / most realistic (perhaps one I didn't even think of :-)

[2017-01-07 19:41] ChrisJefferson commented on #1052
I agree. It would be nice if `NumberPerfectGroups` lined up with the behaviour of `IsPerfectGroup`, and (of course) `IsPerfectGroup(Group(()))` returns `true`.

[2017-01-08 16:06] hulpke commented on #1052
The code was written by Volkmar Flesh who felt very strongly about implementing exactly the listing from the Plesken/Holt book, that is excluding the trivial group, even if it does not make sense. (This is also the reason for the fp representation being the default, as the groups are given in the book by presentations.) I've removed myself as assignee, as I've never really looked into this code, b

[2017-01-08 19:55] fingolfin opened #1057 "Random source are documented in "Integers" chapter; move them? (to a new chapter)?"
Right now, Random source are documented in section 14.17 of the "Integers" chapter. I find that quite counterintuitive and really weird.

So perhaps we should move them to a more appropriate location? Perhaps together with section 30.7 "Random Elements"

But where? Perhaps to a new chapter? But are we willing to insert a new chapter, as that would renumber all following chapters, and break hyperli

[2017-01-08 20:51] ChrisJefferson commented on #1057
It is weird. I wonder also if we should document every specialisation of `Random`, or just the general method.

[2017-01-09 00:42] fingolfin commented on #589
The only way to make progress on this would be for @james-d-mitchell to provide a full log of what isngoing on: what commands are enter d, their full terminal output; possibly also a copy of the two config.log files.

Also, thenoriginak report was with GMP disabld; but these days GAP *requires* GMP, sso that can't be how the error is reproduced these days... or is it?!?

[2017-01-09 00:48] fingolfin commented on #676
I fixed the crash in d3baa774119f5db69cf6257e506458ee6526e9e0, not realizing this bug was related.

I am not closing this yet, though, as it still accepts `Z(4,5)` (treating it equal to `Z(2,10)`), which it really shouldn't. But at least no crash anymore!

[2017-01-09 10:37] fingolfin opened #1060 "Get rid of GAP stones in tests"
We discussed this on some other issue at some point, but here it is on its own:

Let's get rid of the GAP stones in tests.

Rationale: Most people will add new tests without updating the stones; or add completely new .tst files with random stones values. And that's reasonable, too, for it's very time consuming to add "correct" stones -- it is not even clear what exactly that means, as there is no

[2017-01-09 10:40] james-d-mitchell commented on #1060
I agree with this proposal.

[2017-01-09 10:40] fingolfin commented on #1052
@hulpke OK, thanks for the background. My assumption was based on these commits from the old repos:
[code]
But I guess what I see here is  you adding the trivial group, and then somebody (Volkmar Felsch?) complaining, after which you removed it again :-).

[2017-01-09 10:41] ChrisJefferson commented on #1060
I agree. The 'stonesLimit' is mainly for travis, to run the things in teststandard which are "fast enough". it would be better to just split teststandard into two directories.

[2017-01-09 11:24] markuspf commented on #1060
(I am sure this has been discussed before) should there be a way to time tests just in wallclock time (using `NanosecondsSinceEpoch` for instance) to detect regressions?

As you say, this is only relevant if one is running some test on some well-defined hardware, but it seems useful to be recording runtimes to see regressions, maybe?

[2017-01-09 14:03] #676 closed

[2017-01-09 14:07] fingolfin commented on #60
I believe this was resolved by PR #448. Feel free to reopen if I am mistaken!

[2017-01-09 14:07] #60 closed

[2017-01-09 14:10] fingolfin commented on #412
Has this been resolved by #535?

[2017-01-09 14:12] fingolfin commented on #208
@markuspf This is needing a response by you...

[2017-01-09 14:13] #253 closed

[2017-01-09 14:17] fingolfin commented on #340
It would be trivial to resolve this -- the only problem is to decide which one is the "correct" value. I am tempted to say that the output of `GAPInfo.UserHome` is, but then somebody (@hulpke?) spent quite some effort to make `DirectoryHome` return the Windows documents folder.

(BTW, if we keep that code, we really should rewrite `DirectoryHome` and `DirectoryDesktop` (and maybe more...) to *not*

[2017-01-09 14:20] fingolfin commented on #344
As I wrote on #340, we really should be calling the native Windows APIs for retrieving the path of the Documents, Desktop etc. folder.

It also might make sense to change `DirectoryHome` to return the home directory, and add a new `DirectoryDocuments` returning the documents folderr... though instead of all these `DirectoryFOO` dirs, we also could have a single function taking an argument that det

[2017-01-09 14:22] fingolfin commented on #664
See also issue #765

So, is this still occuring? And both for Ubuntu and Windows?

[2017-01-09 14:28] fingolfin commented on #1060
@markuspf Something like this certainly would be desirable, but one needs to put some thought into it, else it'll not be useful but only distracting.

One approach would be to setup our own version of http://speed.pypy.org/ (the code for the site is available) and simply plot the timing results produced by some fixed hardware. E.g. perhaps from our Jenkins. (The travis CI timings are not useful fo

[2017-01-09 14:30] fingolfin commented on #1057
@ChrisJefferson See also @116

[2017-01-09 15:39] hulpke commented on #340
Yes, my hack was always intended only until someone would figure out how to do this properly using the Windows API (which I think requires accessing the Registry).

The reason for the `My Documents' folder was that I'm not sure whether the normal user folder is guaranteed to be user writeable.

[2017-01-09 16:00] markuspf commented on #1060
I agree, so lets first get rid of the GAPStones to scratch that itch, then move on to do the timing page, and lets then come up with a clear spec of what we're expecting of the timing page (and find someone who sets it up).

[2017-01-09 16:24] markuspf commented on #664
No, I fixed the hangs in #672 (at least for any system that uses posix timers)

[2017-01-09 16:58] markuspf commented on #208
I will need to dig up my access credentials to the PPC box. I will put this on my TODO list.

[2017-01-09 17:00] frankluebeck commented on #1060
I never found the GAPStones particularly useful; so I agree to get rid of them.

Concerning timing and comparing for regression tests: Are you aware of the optional argument for the `Test` function which allows to specify `writeTimings`, `compareTimings` and `reportTimeDiff`?

[2017-01-09 17:22] hulpke commented on #1052
@fingolfin
Thanks -- I clearly do not remember the details (and 2004 is before my searchable email history), so I do not recall the reason for the 2004 reversion.

I've things in to allow the trivial perfect group again. (https://github.com/gap-system/gap/pull/1046/commits/26ba7c2a126307fca5b5bdb51d1fc55e67f6bb53
as part of #1046)

[2017-01-09 18:18] dimpase commented on #340
@alex-konovalov in your tests, how much of Cygwin is installed on the host? The results might differ in the "real" case, i.e. in the minimal setup, with cygwin1.dll, and nothing else, the path /cygdrive/c/Users/accountname/ won't even exist, as it is created during a "full" Cygwin installation.

[2017-01-09 18:34] fingolfin commented on #1060
@frankluebeck I saw those before, but must admit I wasn't actively aware of them. Thank you for the reminder! They look indeed potentially useful. Not sure if we can use them with travis (due to the fluctuation of performance I mentioned, and also because we'd have to see how we store results between builds -- might be possible via their caching feature). But perhaps this could be setup on our Jen

[2017-01-09 18:55] fingolfin commented on #817
I added a fix for this on PR #1048. It is somewhat arbitrary in that it changes `HashKeyBag` to handle immediate ints given as input object by returning the input object as output, and refusing to handle FFEs. Note that the "arbitrary" bit is to accept immediate integers; a case could be made that those should be rejected, too. If somebody wants it differently, speak up. In the meantime, either be

[2017-01-09 22:15] hungaborhorvath commented on #412
@fingolfin Yes, it has, I just forgot to close it at the time. I will do it now.

[2017-01-09 22:15] #412 closed

[2017-01-10 23:44] alex-konovalov commented on #511
Has this been resolved by #535 as well as #412?

[2017-01-11 00:00] alex-konovalov commented on #1060
My opinion quite differs from @fingolfin's, but I use it regularly since 2009 so I am very biased. The UI could be better, but a particular feature I like is matrix jobs, when you can easily see patterns if tests are failing not in every configuration:
![screen shot 2017-01-10 at 23 50 47](https://cloud.githubusercontent.com/assets/5751387/21829733/d26d10c4-d78f-11e6-8147-aacc148d4d5f.png)

Anyhow

[2017-01-11 06:58] hungaborhorvath commented on #511
Yes, it has.

[2017-01-11 06:58] #511 closed

[2017-01-11 17:02] fingolfin commented on #994
Note that there already seems to be some undocumented debugging facilities: See `lib/debug.g`, `etc/debugvim.txt`, `etc/debug.vim`.

[2017-01-12 15:37] fingolfin commented on #545
With the codecov setup, I am personally mostly happy now, and we might consider this as resolved.

Of course it would be nice if we next could also provide a read-made solution to package authors, so that they can trivially setup travis and codecov for their packages... Something like my `GitHubPagesForGAP` just for packages. But that's really a separate issue.

[2017-01-12 22:00] james-d-mitchell commented on #589
I will try again in the next couple of day to see if this is still an issue.

[2017-01-13 16:52] #897 closed

[2017-01-13 16:52] #817 closed

[2017-01-13 18:16] fingolfin commented on #817
Fixed in 3306f0fbfc9033603a95d75412e79332083aa42b

[2017-01-13 23:09] fingolfin opened #1076 "Can we run (some) manual tests on travis?"
The examples from the manual add a lot of coverage. It would be nice if we could run some or even all of them on travis (I have no idea how expensiv they are).

I guess the first step for this would be to improve the way we handle them. Right now, there is a relatively convoluted rule in the primary Makefile, which runs some GAP scripts (`doc/ref/extractexamples.g`, `doc/ref/runexamples.g`, and th

[2017-01-14 10:12] ssiccha commented on #1051
I would love this! Handling optional arguments in my code always feels extremely clumsy.

[2017-01-14 10:22] ssiccha opened #1078 "Read can't handle files with BOM characters"
### Observed behaviour
When I read in a file with BOM-characters (cf https://en.wikipedia.org/wiki/Byte_order_mark), GAP can't handle this. An MWE:
[http://tinyurl.com/h7djx8n](url)
(The problem came up when I wanted to read a file provided to me by a windows user.)
[code]
### Expected behaviour
GAP should either report, that the BOM char is the problem, or be able to handle it.

### Copy and past

[2017-01-14 12:20] fingolfin commented on #1060
Well, the fact the our Jenkins *still* requires a username and password, and is also not integrated with GitHub (and hence not easily discoverable) are also pretty big barriers. I always have to search until I figure out its URL, too. You may discount all of these as minor issues, but to me, having to spend time to figure out how I even find and then access the system each time, as opposed to just

[2017-01-14 13:15] ssiccha opened #1079 "Segfault loading workspace wo readline support"
I compiled GAP 4.8.6 wo readline support, saved a workspace, then recompiled GAP 4.8.6 with readline support. Starting GAP then yields a segfault. For a full run see below, the error is basically
[code]

This could in principle lead to problems if users would want to share or send each other GAP-workspaces. ( Does anybody ever do this? )

### Observed behaviour
Note that the banner says  `Libs use

[2017-01-14 14:20] ChrisJefferson commented on #1079
Workspaces are very sensitive to the same gap, compiled in the same way, with the same package versions, also compiled in the same way.

There is still a bug here -- we should report this fact more clearly when an incompatable workspace is loaded.

[2017-01-16 11:48] markuspf commented on #1076
I am all for it.

Just to clarify: Do you want to extract the manual examples and commit the test files to the git repository, or do you want to extract them when the test is run?

[2017-01-16 11:50] fingolfin commented on #1076
The latter, so that they are always in sync with the manual.

[2017-01-16 11:51] alex-konovalov commented on #1076
I have some thoughts - will write later.

[2017-01-16 11:54] ChrisJefferson commented on #1076
I will not have time to work on this, but if any technical issues arise with the profiling itself, let me know and I am happy to add new functionality as required (where possible of course!)

[2017-01-16 11:57] markuspf commented on #1076
Doesn't seem to be too hard to do, I'll try myself a PR.

[2017-01-16 12:34] markuspf commented on #1076
I might regret asking this, but does there already exist some automation to give filenames to the documentation scraper? At the moment it seems filenames are recorded in `makedocreldata.g`...

[2017-01-16 12:37] fingolfin commented on #1076
@markuspf You mean, like, instead of listing every. single. file. you want to be able to say something like `everything in lib`? Well, `AutoDoc` does that for you.... Now, I am not suggesting to use `AutoDoc` here, but doing this is quite easy, and you could borrow from AutoDoc (code or inspiration).

Or perhaps you meant something else, then please clarify.

[2017-01-16 12:38] markuspf commented on #1076
No I mean exactly this, can you point me to the function in autodoc that can inspire me?

[2017-01-16 12:39] fingolfin commented on #1076
It's `AUTODOC_FindMatchingFiles` and I just see that the `utils` package also has `FindMatchingFiles` (based on the AutoDoc code)

[2017-01-16 12:41] markuspf commented on #1076
I might do a PR that puts this in the library (`FindMatchingFiles`)?

I shall have a look, it;d be unfortunate if we had this function in 3 places...

[2017-01-16 13:31] fingolfin commented on #1076
Well, the `FindMatchingFiles` in utils clearly is based on an older version of `AUTODOC_FindMatchingFiles`, which was the result of some refactoring there. As it is, I think `FindMatchingFiles` in `utils` is not very generic and hence not useful for most people (note that I did not submit it to `utils`, that was @sebasguts I think, and @cdwensley added it?)

And I just noticed that the latest `AUT

[2017-01-16 13:33] fingolfin commented on #1076
Also, I would expect there to be some overlap with `TestDirectory`, as that also needs to collect all `.tst` files in a given directory.

I guess what I am saying is: Don't waste too much time polishing this and putting it in "nicely", rather just get something working for now...

[2017-01-16 13:57] markuspf commented on #1076
Looking at it, I would not want to put that function into GAP

I'd like to put in a more generic one, for instance one that can at least take a list of roots, and extensions, and then returns a list of filenames. We can leave it undocumented and prefix it with something in capital letters so we can tell people that it's their own fault if we yank it out again, but for purposes of extracting docume

[2017-01-16 14:05] fingolfin commented on #1076
Aye. But again: Don't let the hope for something perfect get in the way of having something that works, now (or at least: soon ;-). Also, it's dangerous to try and design the "ultimate" function for a problem if you don't have a bunch of real world instances of the problem you want to solve. Anyway, that all is not meant to discourage you from whatever you feel like doing, just some generic advice

[2017-01-16 17:38] cdwensley commented on #1076
When functions are transferred from a package Home to Utils, the implicit assumption is that they will be removed from Home at the next release.
With transfers from AutoDoc (unlike other packages) it is perfectly possible for the two versions to continue indefinitely because of the different names, e.g. AutoDoc_FindMatchingFiles and FindMatchingFiles.
This is a very undesirable situation, so I nee

[2017-01-17 01:16] alex-konovalov commented on #1076
There are no technical obstacles for adding the test of manual examples to pull requests. They do not take long time (15-30 minutes altogether to build GAP and packages and to run all three configurations - with all, without and with default packages). IIRC, once should be able test them on fly, with [`ExtractExamples`](https://www.gap-system.org/Manuals/pkg/GAPDoc-1.5.1/doc/chap5.html#X8337B2BC79

[2017-01-17 11:06] ChrisJefferson commented on #1078
Do you know which editor put this BOM mark in? I would normally only expect to see one in UTF-16 encoded files, which GAP would choke on for other reasons.

We could treat a BOM as a type of whitespace for the purposes of parsing. Does anyone with more Unicode knowledge than me know if that is reasonable?

[2017-01-17 13:30] stevelinton commented on #1043
I'd support Frank's proposal. All representations should imply exactly one of the four base representations.

[2017-01-17 17:13] fingolfin opened #1085 "Regression: `Error` on REPL causes an actual error"
Previous behavior:
[code]
Behavior after a6e9e061f424570f7bdf7fcc232a79856dc12528 (found by bisecting)
[code]

Makes me wonder how we can add a test case for this, as this is really only visible on the REPL... perhaps we need to pipe the input into a GAP process we start just for this?

[2017-01-17 17:31] ChrisJefferson commented on #1085
I will look into this.

I started adding some tests for this kind of thing, in `tst/test-error`. They aren't linked up yet to the general testing unfortunately. I will look into it.

[2017-01-17 17:50] ChrisJefferson opened #1086 "Disable loading gap.ini / gaprc"
There are some tests in `tst/test-error` to check raw output of GAP. Unfortunately, these are quite unstable across machines, due to settings in `gap.ini` and `gaprc`.

I would like to add a command line option to ignore these files. I'm just checking if there are any complaints to such a thing?

[2017-01-17 17:56] ChrisJefferson commented on #1086
Looks like `-r` skips reading .gaprc (under a very unhelpful message, `disable/enable user GAP root dir GAPInfo.UserGapRoot`). Maybe this could also skip `gap.ini`, and just be changed to `disable/enable user configuration files`

[2017-01-17 21:26] alex-konovalov commented on #1086
@ChrisJefferson Isn't `-r` sufficient for this? The manual says

[2017-01-17 21:28] alex-konovalov commented on #1086
P.S. @ChrisJefferson could it be that some script that you run appends `-r` to the call which already contains `-r` and toggles it back? I use `-r` regularly, and never had a problem like you describe.

[2017-01-17 21:41] fingolfin commented on #1086
Perhaps we could add --enable-BLA and --disable-BLA switches (on addition to -r) ?

[2017-01-17 21:43] ChrisJefferson commented on #1086
I'll work through the code tomorrow, but it looks to me like -r only skips .gaprc, not gaprc or gap.ini.

[2017-01-17 21:51] alex-konovalov commented on #1086
As I've said in #1087 - just to keep the discussion in one place - I still don't see this. I have added Print statements to my gap.ini and gaprc files, and `-r` disables them. Also note that `.gaprc` is not needed any more, the manual says:

[2017-01-17 23:42] markuspf commented on #1086
On `master`, with a `gaprc` file in my gap source directory it does not make a difference whether I use `-r` or not, `gaprc` is read.

[2017-01-17 23:52] alex-konovalov commented on #1086
If so, that's a regression. I've been testing GAP 4.8.6.

[2017-01-18 00:11] alex-konovalov commented on #1086
I also can not reproduce this in the master branch. But hey here is the difference in my setup: I am using `~/Library/Preferences/GAP` instead of `.gap`.

[2017-01-18 07:42] ChrisJefferson commented on #1086
@markuspf : That's what I did -- At some point I've copied my gap.ini into my gap source directory. `-r` does two things:

1) It sets GAP_ROOT_PATHS to only contain the gap source directory (not `~/.gap` or `~/Library/Preferences/GAP`).

2) Stops GAP reading `~/.gaprc` from the user's root directory.

However, we still try to read `gaprc` and `gap.ini`, and will read them if we find them in the GA

[2017-01-18 08:41] ChrisJefferson commented on #1086
Alternatively (sorry to keep writing) I could just make `-r` not load `gaprc` and `gap.ini`, even if they are in the GAP source directory, which I feel the documentation kind-of implies?

[2017-01-18 10:01] alex-konovalov commented on #1086
Hmm, the manual says `The option -r tells GAP to ignore any user specific configuration files`. It's debatable whether configuration files in the GAP source directory are user specific - they may be site specific for GAP installation in a shared partition.

I suggest that you could indeed just stop placing config files in your GAP source directory, and don't make any changes.

[2017-01-18 10:05] ChrisJefferson opened #1089 "Tighten up rules on loading workspaces"
At the moment GAP checks the kernel version when loading workspaces (so for example 4.4.11 won't load a 4.4.10 workspace). I would like to suggest the following tightening of the rules:

* Reject if `HAVE_LIBREADLINE` is different
* Reject if `BUILD_VERSION` is different (that is, the git version the kernel was build from)

Only the last one I imagine might be controversial, but I think we should

[2017-01-18 10:06] alex-konovalov opened #1090 "Add tst/test-error to standard test suite"
As @ChrisJefferson said,

[2017-01-18 11:35] stevelinton commented on #1089
The GMP version would only matter if gmp changed it's mpn binary data format, which seems pretty unlikely.

[2017-01-18 11:38] stevelinton commented on #1086
I think there is merit in being able to separately ignore user-specific and installation/site-specific configuration. So I would leave -r as it is and consider adding another option that ignores stuff from the GAP source directory as well.

[2017-01-18 12:06] #1085 closed

[2017-01-19 11:51] fingolfin commented on #1076
@alex-konovalov All you say to me seems like something that strongly indicates that we absolutely *need* to (a) improve the manual examples to be more robust, and to (b) thest the them on Travis.

Of course if a PR breaks a manual example, we may need to be flexible about that, and decide what to do, as you described. But it's much, much better to do and decide that while reviewing the PR, than do

[2017-01-19 11:59] alex-konovalov commented on #1076
@fingolfin

Yes

(+1)

I would do it differently - starting from lightweight Travis test to run `make testmanuals-light` which will be produced from `make testmanuals-light` throwing away two other configurations and leaving only the 'stable' one with default set of packages. May try to submit an alternative PR in a couple of days.

[2017-01-19 14:14] ssiccha commented on #1078
I think it was Notepad under Windows. It could also be Notepad++. Not a hundred percent sure, but I think it was Notepad.

[2017-01-19 14:20] stevelinton commented on #1019
This seems like a good idea. The only real question I can see is how to keep a reasonably clean interface with the help system.  Maybe the help system could have a system of pluggable filters that could transform the search string.

[2017-01-19 14:22] stevelinton commented on #1017
There is also LogInputTo. I'd never thought of it, but this is somehow duplicative with saving command-line history

[2017-01-19 14:24] fingolfin commented on #1090
Hooking them up with travis shouldn't be hard: We just need to invoke `tst/test-error/run_error_tests.sh` in e.g. `etc/ci.sh`, right? But see also #1094

[2017-01-19 14:27] fingolfin commented on #608
Seems that the certificate for https://keith.cs.st-andrews.ac.uk:8443/ has been fixed at some point.

And there is now https://ci.gap-system.org/ -- but that does not have a valid SSL certificate...

So we could either close this issue, or else rename it to be about https://ci.gap-system.org/ ?

[2017-01-19 15:27] fingolfin commented on #1019
@alex-konovalov Actually, that old item was created by you and not by @frankluebeck :-).

Another way to approach this would be to modify GAPDoc to emit additional index entries: Whenever an attribute or property `IsFOO` is documented, then also emit index entries for `HasIsFOO` and `SetIsFOO`. Of course those don't need to be visible in the HTML index.

[2017-01-19 15:57] fingolfin opened #1095 "UniteSet makes immutable arguments mutable, and removes string rep."
A weird test failure on PR #1072 lead me to the following discovery:
[code]
So, the globale variable `CHARS_LALPHA` is immutable and in string rep before the call to `UniteSet`. Afterwards, it is neither.

[2017-01-19 16:31] fingolfin commented on #1095
Wow, this must be an anicent bug (?!).

Turns out that the kernel function `IsSet` invokes `PLAIN_LIST` on anything that is not a plist but a small list (such as a string in stringrep...) and sorted.

And since `IsSet` is invoked on both arguments of `UniteSet`...

So to fix this, we could change `IsSet` to not modify its arguments. But that will have a ripple effect, we'd have to carefully inspec

[2017-01-19 16:42] fingolfin commented on #1095
Seems this bug has been around since the old repository was started :)

[2017-01-19 18:14] fingolfin commented on #1078
@ssiccha FYI, you can upload text files directly as issue attachments (I also took the liberty of fixing the broken tinyurl link in your original report)
[bom_file.txt](https://github.com/gap-system/gap/files/717398/bom_file.txt)

[2017-01-19 18:16] fingolfin commented on #1078
As to this issue: I think it would be OK to skip UTF-8 BOMs (at least at the start of files; inside of them, we could indeed treat them as UTF-8, but this should be much, much rarer).

We could also handle UTF-16 BOMs, by immediately raising an error (unless we ever add UTF-16 decoding, which I kind of doubt ;-).

[2017-01-19 18:45] fingolfin commented on #1095
So `PlainString` was not correctly preserving mutability, that fixes half of the problem.

After having looked longer at the relevant code, I guess it is intentional that the representation of the string is changed. I still find it questionable to do this, but there is a lot of code in the kernel of that nature, so trying to change it might be quite monumental...

[2017-01-19 21:19] markuspf commented on #608
Max Horn writes:

I just fixed the certificate for https://ci.gap-system.org, I just don't
know what we want to have available under that URL?

Our IT people pretty explicitly said we shouldn't make jenkins
world-accessible at some point...

[2017-01-20 00:54] alex-konovalov commented on #1095
Is this related to problems discussed in http://tracker.gap-system.org/issues/79 ? Cf. the following:
[code]

[2017-01-20 01:04] alex-konovalov commented on #1019
@fingolfin you're right, it was my idea :-). Thanks for reminding - now I know how to do this.

I've implemented some time ago a feature which ensures that the search for e.g. `Normaliser` will also search for `Normalizer` even if the synonym is not defined (see `TRANSATL` global variable in `lib/helpbase.gi`).

In the same way I can modify the search in a way that the search for `HasSomething` an

[2017-01-20 19:58] fingolfin opened #1098 "Convert more Random methods to use InstallMethodWithRandomSource"
In PR #810, the new `InstallMethodWithRandomSource` was introduced.

We should convert more `Random` methods in the library to use `InstallMethodWithRandomSource`, and, once a release of GAP supporting it has been made, we should also get packages to use it.

[2017-01-20 20:11] fingolfin commented on #639
Some people still create new packages using gapmacro, though (e.g. Bettina)

[2017-01-23 18:29] fingolfin commented on #1014
Resolved by PR #1023

[2017-01-23 18:29] #1014 closed

[2017-01-25 09:59] fingolfin commented on #37
Resolved by PR #490

[2017-01-25 09:59] #37 closed

[2017-01-25 10:02] fingolfin opened #1102 "Get rid of undocumented syntax `->1` for argumentless lambdas"
From HPC-GAP, we got this special syntax for declaring argumentless lambdas:
[code]

Now that PR #490 is merged, we can rewrite this in an IMHO much clearer way:
[code]

I would therefore propopse that we remove the HPC-GAP syntax extension, and convert any HPC-GAP code using it to use the new mode.

However, I think this should only happen after (respecitvely, *if*) HPC-GAP is merged, to simplify

[2017-01-25 10:08] #1049 closed

[2017-01-25 13:26] ssiccha commented on #1078
@fingolfin Ah, cool thx. I just saw that I can just drag&drop them... :sweat_smile:

[2017-01-25 15:47] fingolfin opened #1104 "Parsing very long literal sequences is broken in several ways"
When reading input, literal sequences exceeding the size of the `Value` buffer (i.e. more than 1024 characters) are handled by `ReadLongNumber` in `src/read.c`. This is broken in several ways. Here are some examples. Warning very long input lines. Naturally.

[code]

[2017-01-25 15:50] fingolfin commented on #1104
... and you can find more if you e.g. insert periods, which triggers the float code, or records; and can also lead to GAP actually evaluating part of the expression:
[code]

[2017-01-25 15:55] fingolfin opened #1105 "Some malformed floats do not raise an error, instead evaluate to fail"
Consider this:
[code]
I would expect the first example to raise an error, not return fail.

My guess would be that this is caused by parsing of float expressions in exponent notation, i.e.
[code]

[2017-01-25 16:37] ChrisJefferson commented on #1105
So, this seems to be an intentional choice. There is a comment in float parsing

`      /* We allow one letter on the end of the numbers -- could be an i,
       C99 style */`

This is, I believe, to support float extensions which want an extra character. Because of this, we can't raise an error until we try converting the float, as a user-installed float package can use this character.

So, two q

[2017-01-25 16:41] ChrisJefferson commented on #1104
The second error here occurs at much shorter lengths:

[code]

This is coming in the following way:

* Parse a float: `.123`, successfully.
* We can, given any GAP expression `X`, try parsing `X.y` as a record expression.

Technically, we can't even assume that `.123.x` isn't valid GAP, because a custom float package could turn `.123` into a record-type structure!

That's not to say we should impr

[2017-01-25 16:50] ChrisJefferson commented on #1105
How about something like:
gap> 1.1x;
Error, Invalid float: '1.1x' at /Users/caj/reps/gap/gap/lib/float.gi:208 called from
...
gap> f := y -> 1.1x * y;
function( y ) ... end
gap> f(2);
Error, Invalid float: '1.1x' at /Users/caj/reps/gap/gap/lib/float.gi:208 called from
...
[code]

[2017-01-28 12:06] stevelinton commented on #1051
For functions, I think this is a good idea. It's probably in line with GAP's weak typing not to provide a way to limit what parameter names a given function is allowed, although it would be quite nice to have a way of setting default values for some named parameters. so the example above could be

[code]

I'd be happy with the ** syntax, either as a prefix or as a suffix like ... . One trivial que

[2017-01-28 20:13] stevelinton commented on #1105
@laurentbartholdi could you comment on this?

1. Are there any reasons to allow any letter in that position except 'i'?
2. Is it reasoanble for the parser always to throw an error if a floating point literal conversion returns fail.

[2017-01-28 20:18] stevelinton commented on #1104
You don't need demented custom float packages. Someone could install a method for ELM_REC for IsFloat. You could even imagine wanting x.mantissa and x.exponent to return suitable things.

[2017-01-28 21:09] laurentbartholdi commented on #1105
@stevelinton : 1. I think it's better not to duplicate the checking: there could be other options in the future, i,j,k for quaternions, etc.
2. Definitely 1.1x should raise an error, not return fail. I think your suggestion is best.

[2017-01-31 23:14] Stefan-Kohl commented on #463
Nowadays we are having Unicode / UTF-8 encoding -- so why not just start a multi-line comment with 诂 and end it with 末? -- These characters are likely non-existent in any present GAP code or -documentation, and to allow nesting of comments would be no problem. Also, these characters are highly unlikely to obstruct future other syntax extensions.

[2017-02-01 10:26] fingolfin opened #1114 "Remove support for Itanium and Sparc"
As far as I can tell, nobody is using GAP on Itanium and Sparc anymore, yet we have dedicated code for both of them in our source tree. The problem with that is that it prevents us from refactoring associated code, at least not without risking to break those systems.
Apparently, sparc64 support is already broken now: <https://buildd.debian.org/status/logs.php?pkg=gap&arch=sparc64>

I see these thr

[2017-02-01 11:28] Stefan-Kohl commented on #979
@hulpke `StructureDescription' is actually used quite a lot -- e.g. there are presently [65 posts on MathStackExchange which mention it](http://math.stackexchange.com/search?tab=relevance&pagesize=50&q=structuredescription) -- and a Google search of course yields a lot more elsewhere on the internet, and a couple of instances even in printed books. Even though it cannot be ideal in any way, I'd sa

[2017-02-01 11:34] fingolfin commented on #463
@Stefan-Kohl Is that some kind of joke, or an attempt at sarcasm?

In any case, so far nothing in the GAP core language goes beyond use of ASCII, and I don't think we should change that. Also, to the best of my knowledge, we do *not* actually support UTF-8 beyond some basics in GAP (although GAPDoc adds some limited support). OK, I can enter and print a string containing UTF-8, but GAP knows nothi

[2017-02-01 11:54] Stefan-Kohl commented on #463
@fingolfin As far as I remember, the GAP source files have been converted from ISO-... to UTF-8 a couple of years ago. In practice this mostly changed the way the umlauts in some developers names were represented -- but if I understood @frankluebeck right, the idea was to extend the allowed character set in the files. Now, of course, admittedly a move towards allowing arbitrary Unicode characters

[2017-02-01 13:12] ChrisJefferson commented on #463
@Stefan-Kohl : I don't think so, while we try to do a better job of printing out UTF-8 in strings, in various ways, the non-string parts of source files (like identifiers) still have to be ASCII. If anything happens to work, I think it is considered a bug and should be fixed.

[2017-02-01 14:49] Stefan-Kohl commented on #463
@ChrisJefferson So you would consider e.g. the following as a bug?:

[code]

I agree that it does make some sense to stay with ASCII -- though my impression was that slowly moving towards extending the allowed character set was intended (like GAP slowly moved away from the classical 8+3 DOS format for file names),

[2017-02-01 14:51] ChrisJefferson commented on #463
No, because those are all inside strings.

I would consider (for example):

`translations.诂 := "comment"` to be an error, and it is.

[2017-02-01 15:01] Stefan-Kohl commented on #463
@ChrisJefferson When moving towards extending the character set, allowing this as well would be the next step. -- But of course when one stays with ASCII, as you say it is a bug.

[2017-02-01 16:41] fingolfin commented on #463
Folks, this is getting way off-topic. If you want to discuss use of UTF-8 identifiers in GAP, please open a separate issue and/or discuss it on the mailing list. But *this* issue is about multiline comments.

[2017-02-01 23:51] alex-konovalov commented on #979
At least the manual does says that it describes it "to some extent" and "is intended primarily for small groups (order less than 100) or groups with few normal subgroups" and can be expensive in other cases,  and also that the string is often not the most useful way to describe a group.

[2017-02-02 14:06] markuspf opened #1115 "Print Filters for Operations, Attributes, Properties"
There should be a way to get filter information about Constructors, OPerations, Attributes, and Properties, for example if one prints them, for example

[code]
obvious extensions include printing what filters there are actually methods installed, though that could be a longish-list and should not be just printed.

I'll assign it to myself, but anyone who feels like beating me to it feel free to ;)

[2017-02-02 22:13] markuspf opened #1117 "Unhelpful error message (?)"
When playing with the parser I get this

[code]

[2017-02-02 22:14] ChrisJefferson commented on #1117
What would you like instead?

[2017-02-02 22:19] ChrisJefferson commented on #1117
This is printed by line read.c:1535. We can change the `"end"` to anything we like easily (that `"end"` is just what is printed in the error, it's not part of the parsing).

The reason this appears is we loop checking for every kind of valid expression until we find no more, then we expect to find an `end` (or `od` for blocks)

[2017-02-04 23:00] alex-konovalov opened #1118 "Missing tools for tools archive"
In GAP 4.8.6 installation you can find the archive `etc/tools.tag.gz` and the script `etc/install-tools.sh` script which unpacks this archive ensuring that files will go into intended directories:
[code]
This setup is here from 2012, and `etc/README.tools` describes its content: https://github.com/gap-system/gap/blob/stable-4.8/etc/README.tools. The tools archive is created when the GAP source dis

[2017-02-04 23:04] ChrisJefferson commented on #1118
Do you really need `install-tools.sh` All it does is `tar -xvzf tools.tar.gz -C ../`?

[2017-02-04 23:07] alex-konovalov commented on #1118
I think so, otherwise if users will just click on the file or extract it without adding `-C ../`, the files may end up in wrong locations.

[2017-02-04 23:51] alex-konovalov commented on #1118
So far I've done https://github.com/gap-system/gap/commit/20169c70cfc503f2d38a31402b8fa64d3a65787d and https://github.com/gap-system/gap-distribution/commit/dc46fd01a4bfec70d1b8c41866d55382462660a6 to restore `install-tools.sh` and remove references to deleted files. This permits me to resume weekly tests of the release candidates on the new Jenkins setup, then if we wish we can make more changes

[2017-02-05 00:21] alex-konovalov opened #1119 "Fresh failures in teststandard with all packages"
On Jenkins, teststandard passes with `-A` option, but fails when all packages are loaded. @james-d-mitchell, @markuspf, @hulpke do you recognise any of your changes that may be related?

[code]

[code]

[code]

[code]

[2017-02-05 00:23] alex-konovalov commented on #1095
@fingolfin Is this fixed by #1096?

[2017-02-05 01:10] alex-konovalov opened #1120 "Make colour in BuildPackages.sh logs optional (or remove?)"
After #1023 by @hungaborhorvath, `BuildPackages.sh` uses coloured output. This may be helpful for interactive usage, but not for viewing Jenkins logs - that's what I see there:

[code]

Is it possible to make it optional? For me, being able to call it with e.g.
[code]
would work.

[2017-02-05 08:08] hungaborhorvath commented on #1120
What I can do more or less quickly is to add an option to remove the colouring _everywhere_.

The good fix would be, though, to colour the output on the screen but not in the logs. I am not entirely sure if that is easily doable.

[2017-02-05 08:40] hungaborhorvath commented on #1119
[code]
The test itself was added by me for better coverage of ````grpnames.gi````. At that time the gave an instantaneous answer. In fact, I updated to current master, recompiled both gap and manuals, and this one line still gives me an immediate answer:
[code]
Maybe I am not loading a package that jenkins loads?

[2017-02-05 08:59] ChrisJefferson commented on #1120
This is an area where it is hard to be perfect.

A patch is (hopefully) on it's way -- this will detect if you are writing to a file rather than to a terminal output.

[2017-02-05 09:12] fingolfin commented on #1118
I am not hat all convinced and somewhat upset that the file was restored via direct commit, instead of a PR, thus giving no chance for review and/or alternative solutions. In particular, I think we shold just drop the tools arcgive.

Was it really such an emergency that it couldn't wait for at least a day?

[2017-02-05 10:26] alex-konovalov commented on #1118
Yes, it really was - I need to migrate jobs from old Jenkins to new one, to avoid further tests rotting and restart checks for package updates. I had time yesterday and have some other plans for today. And I was also upset that the file was removed via direct commit ;-)

[2017-02-05 11:10] alex-konovalov commented on #1120
Thanks - may not work automatically for Jenkins, which logs all terminal output, but indeed may be helped by a shell variable or tweaking the Jenkins job script. Will look at PR.

[2017-02-05 11:12] james-d-mitchell commented on #1119
The changes in recent pull requests relating to semigroups were to fix bugs highlighted by new tests added in the dev version of the Semigroup package. The tests in the current release version of Semigroups are broken by these changes, and so library tests are broken by being replaced with methods in Semigroups that have bugs in the release version. I am preparing a new version of Semigroups to ad

[2017-02-05 11:14] alex-konovalov commented on #1119
@hungaborhorvath yes, as I've said, it fails with all packages are loaded. Try to call `LoadAllPackages();` and see if it works.

[2017-02-05 11:30] ChrisJefferson commented on #1119
Given we want to be able to test with `LoadAllPackages`, there seems to be 2(?) choices:

1) Don't load the semigroups package until it is fixed
2) Disable the new tests until the semigroups package is fixed

[2017-02-05 11:53] alex-konovalov commented on #1119
(2) is not acceptable, (1) cuts too much, and (3) is to ignore errors till new Semigroups release... But I've tried (4) and will switch to using the stable version of Semigroups in https://github.com/gap-system/gap-distribution/commit/ac7062bc437b6d7fa29345f9f308ed366200fa93. This will explain whether all errors in this issue are caused by Semigroups, or only some of them.

I do hope that the late

[2017-02-05 11:54] alex-konovalov commented on #1119
P.S. Of course now me and @james-d-mitchell should remember to revert https://github.com/gap-system/gap-distribution/commit/ac7062bc437b6d7fa29345f9f308ed366200fa93 after the next Semigroups release!

[2017-02-05 13:43] hungaborhorvath commented on #1119
Ok, I have checked the problem with the ````Ree(27)```` group. The main problem is that the package ````Gpd-1.45```` defines a nice monomorphism method for ````IsAbelian```` in ````pkg/gpd-1.45/lib/gpd.gi:2325````, and then that will be invoked for the ````Ree(27)```` group, instead of the generic method from ````lib/magma.gd:868````. And creating the nice monomorphism takes an enormous time for t

[2017-02-05 15:52] hulpke commented on #1119
@alex-konovalov I did not merge anything recently -- unlikely to be my code

Concerning the observation by @hungaborhorvath I can't fathom why one would want a nice monomorphism for `IsAbelian` -- it is just a test on the generators and can be done in the original group as soon as we can compare elements.  My inclination is to consider it a bug (or too general an installation) in Gpd.

[2017-02-05 16:54] hungaborhorvath commented on #1120
@alex-konovalov @ChrisJefferson I tried another way to do this properly in #1122, because it seems to me that #1121 would not work. However, it now needs to ````sleep```` at some points due to a bug I am unable to debug. Anyone could check what the problem might be there? Thanks.

[2017-02-05 17:13] ChrisJefferson commented on #1120
@hungaborhorvath : In short, I think you are being too clever :) Just don't print out the colors, rather than try to strip them back out later.

[2017-02-05 17:28] hungaborhorvath commented on #1120
@ChrisJefferson I somehow do not see how that would work. Currently we have coloured output, and then the output is redirected into files using ````tee````. That is, the output as a whole is redirected. So I do not see how we could colour on terminal and not in files in any other way than to strip off the colouring when doing the logging.

Or do you mean get rid of the colours completely, even on

[2017-02-05 18:02] hungaborhorvath commented on #1120
Very well, #1123 adds the option to turn of colouring completely. That can be merged quickly, and fixes this issue. In the meantime, we can discuss what went wrong with #1122 to only colour to terminal, and never not to log files.