[2017-08-24 12:27] markuspf opened #1629 "`PseudoRandom` does not work in separate threads in HPC-GAP"
if one creates a group in HPC-GAP and calls `PseudoRandom` on this group in one thread it creates a mutable attribute for the seed. This means that any calls to `PseudoRandom` on that group in separate threads do not work, because they don't have access to the seed.

#1405 would probably address this.

[2017-08-24 14:15] alex-konovalov commented on #1619
As @ThomasBreuer confirmed by email, these differences are harmless, so you may ignore them.

[2017-08-24 14:22] alex-konovalov commented on #1619
My suggestion to @ThomasBreuer was to move tests which fail to another test files in `ctbllib/tst` directory, and put

    TestFile := "tst/docxpl.tst",

in `PackageInfo.g?`. After all, there are 13 diffs in the test file with 1039 lines and 227 GAP
prompts, while the rest of test actually runs.

[2017-08-24 22:51] alex-konovalov opened #1631 "Documenting AdditiveElementAsMultiplicativeElement"
There is an undocumented attribute `AdditiveElementAsMultiplicativeElement` which for an additive element `obj` returns a multiplicative element, for which multiplication is done via addition of the original element. The original element of such "wrapped" multiplicative element can be obtained as the `UnderlyingElement`. I suggest that it should be documented, as Johannes Hahn asked in https://bit

[2017-08-28 10:10] markuspf opened #1637 "`InstallValue` is broken for (at least) Types"
Currently GAP handles forward declarations and installations of values for global variables as follows:

 * A call to `DeclareGlobalVariable` registers a global variable name and installs a dummy value `ToBeDefined` for it
 * A later call to `InstallValue` copies the new value over the dummy object using `CLONE_OBJ`

Now the following is possible:
[code]

This is roughly how the `NEW_TYPE` cache w

[2017-08-28 10:47] ChrisJefferson commented on #1637
So, what do we think things should look like?

I guess `InstallValue` should take a string containing the name of the variable, and then `InstallValue` would just look internally like `Cheese := makeval()`?

[2017-08-28 11:16] ChrisJefferson commented on #1637
Stepping back a minute, what would we like `InstallValue` to do? Would we like it to be more like `Cheese := makeval()`?

[2017-08-28 11:40] stevelinton commented on #1637
What we want is, I think, impossible. We want to find every reference to the "ToBeDefined" placeholder anywhere in the workspace and replace it by a reference to the exact object we are trying to install as its value.

Since that's too hard, we change the object which is the ToBeDefined placeholder into a clone of the object we are trying to install. Mostly that's OK, but there is a problem when t

[2017-08-28 18:40] fingolfin commented on #616
This problem also occurs in plain GAP.

[2017-08-28 19:01] markuspf opened #1643 "GAP library declares `CopyToVectorRep` and `CopyToVectorRepNC`, but does not install functions"
As part of the cleanup and merge of GAP and HPC-GAP @fingolfin suggests to first fix the API of `CopyToVectorRep`, and document it, before it becomes something we have to support.

This issue is mainly here so we do not forget addressing it.

[2017-08-28 19:27] alex-konovalov commented on #1643
Here they are:
https://github.com/gap-system/gap/blob/323141ee98128fe6bf71c703e67e2ead3fe9a7b4/hpcgap/lib/vecmat.gi#L1477

[2017-08-28 19:28] markuspf commented on #1643
That is HPC-GAP, not GAP. The point is that they are declared but not installed in GAP.

[2017-08-28 19:37] alex-konovalov commented on #1643
Then probably declarations must have been introduced in HPC-GAP  and crawled into the GAP library in the process of converging the two databases.

[2017-08-30 08:17] ChrisJefferson opened #1644 "AtomicList handles unbound values strangely"
AtomicList seems to treat unbound elements as elements of the list. Consider:

[code]

This is entirely different to normal GAP lists, where the length of the list is the position of the last unbound value.

I find this behaviour very strange, and not like the rest of GAP. I would suggest we make some change:

1) Make `AtomicList` act more like a list in terms of Size (I can believe that this is h

[2017-08-31 15:06] alex-konovalov commented on #791
The package is now available at http://gap-packages.github.io/primgrp/. See  https://github.com/gap-packages/primgrp/issues/5 for the plan of removing `prim` from the core system in several steps (hope may be done in a couple of days).

[2017-09-01 11:56] sebasguts opened #1649 "Resolve Workflow Attach Edit Wrong warning: method installed for * matches more than one declaration"
If one installs a property ```prop``` with the same name for several categories ```cat1, cat2,...```, and then declares and installs methods the attribute ```attr``` for those categories using the filters ```cat1 and prop```, ```cat2 and prop``` etc, one gets the wrong warning:

This depends on the ordering of the declaration of ```prop```. GAP seems to think that prop implies the first category f

[2017-09-04 09:07] ChrisJefferson opened #1652 "`ErrorMayQuit` in the kernel doesn't say how to exit the break loop"
The GAP kernel function `ErrorMayQuit` behaves like `ErrorNoReturn` in the library -- it creates a break loop which can only be exited, not returned from.

However, it doesn't tell the user how to exit the break loop, for example (`SHIFTED_PERM` uses `ErrorMayQuit` internally)

[code]

[2017-09-04 09:11] wilfwilson commented on #1652
I'll have a go at sorting this out.

[2017-09-04 09:33] alex-konovalov commented on #1477
https://github.com/gap-system/gap-distribution/wiki/Release-checklist has been expanded a lot while I've been publishing GAP 4.8.8. Maybe it now could be placed under version control in gap-distribution repository so that one could easier submit PRs to edit it.

[2017-09-04 13:37] wilfwilson opened #1659 "Incorrect IsFinite methods for Rees (0-)matrix subsemigroups"
While writing code coverage for `lib/reesmat.gi`, I found the following bug. A Rees 0-matrix subsemigroup `S` is created in some way from (or is equal to) a Rees 0-matrix semigroup `R`. There are currently some methods installed for `IsFinite`. The logic is this: `S` is finite if and only if `R` is finite. Subsemigroups of finite semigroups must be finite, but a subsemigroup of an infinite Rees 0-

[2017-09-04 14:58] wilfwilson opened #1661 "Incorrect IsOne methods for Rees (0-)matrix semigroup elements"
### Observed behaviour

For the following non-trivial Rees 0-matrix and Rees matrix semigroup, `IsOne` returns `true` for the multiplicative zero element. This is incorrect.
[code]

[code]

The method returns `true` if it's a 1x1 Rees (0-)matrix semigroup, and the element in question is idempotent. That's invalid; a 1x1 Rees (0-matrix semigroup) can contain many idempotents; at most one can be an

[2017-09-04 15:14] james-d-mitchell commented on #1661
Isn't a 1 by 1 Rees matrix semigroup over a group just a group, and hence it has a one?

[2017-09-04 15:25] wilfwilson commented on #1661
A Rees (0-)matrix semigroup has a multiplicative neutral element (identity) if and only if it is 1x1 and the matrix entry is a unit of the underlying semigroup.

My question was a technical rather than mathematical one:
[code]
The identity of this is `(1, (), 1)`, but since `R` it's not a magma with one (i.e. `(1, (), 1) ^ 0` doesn't work), at the moment it seems inconsistent for for `IsOne` to ap

[2017-09-04 15:27] james-d-mitchell commented on #1661
Oh yes, I see what you mean, if Rees matrix semigroups in GAP are not in the category `IsMagmaWithOne`, then there should not be a method for `One` as you write.

[2017-09-04 15:31] wilfwilson commented on #1661
Okay, I'm just going to remove the `IsOne` methods

[2017-09-04 22:35] fingolfin commented on #1652
Resolved by #1654

[2017-09-04 22:35] #1652 closed

[2017-09-05 11:37] rbehrends commented on #1626
I can see the problem. The reason why this isn't default behavior is (1) that cleaning up errors in potentially dozens of worker threads is extremely tedious and (2) it will pause not only the task but all computations that depend on it.

Note that the task object retains the error message (though not the backtrace, and there's still a lack of an interactive break loop).

If you're familiar with s

[2017-09-05 11:52] rbehrends commented on #1644
The rationale behind atomic lists is that they are low-level constructs that exist for performance reasons and that ideally shouldn't be exposed to users directly (it's pretty easy to introduce race conditions if you use them naively).

They coopt `LEN_LIST()` because it's easy and cheap to hook into the kernel's dispatch table, and `Length()` inherits that behavior. I'd be open to suggestions to

[2017-09-05 13:23] wilfwilson opened #1664 "`CodePcGroup` fails for trivial pc group"
In today's `master`:

### Observed behaviour
[code]
### Expected behaviour
[code]
(Since `PcGroupCode(0, 1)` gives a trivial pc group, I'd guess this is the right code).

(Thanks for teaching me about `CodePcGroup` @fingolfin!)

[2017-09-06 06:19] ChrisJefferson opened #1671 "TemporaryGlobalVarName is not threadsafe"
The function `TemporaryGlobalVarName` is not thread-safe, as it produces the same variable name when called from multiple threads.

My suggested fix would be (other options available!)

1) Add a dummy version of `CurrentThread` and `ThreadID` to GAP. Then you can call in both GAP and HPC-GAP `CurrentThread(ThreadID())` to get a number about to current thread.

2) Put that number into the string ge

[2017-09-06 12:09] fingolfin opened #1673 "HPC-GAP: pager in the help system does not consistently receive key presses"
With latest master branch, if I start HPC-GAP, and then ask for help (say by entering `?IsPrime`), then a pager subprocess is launched to show the help.

This is fine and well, but then I have a hard time exiting the pager: pressing `q` does not work, or rather only work if I press it several times in a row.

My guess is that the GAP input thread is competing with the subprocess to read the key pr

[2017-09-06 12:29] wilfwilson opened #1674 "Incorrect behaviour for certain partial perm semigroups"
Currently, in the GAP `master` branch, not using the Semigroups package.

### Observed behaviour

I'll create this semigroup, which is a semigroup of size 2 with an identity and a zero:
[code]
It has two D-classes, but GAP finds only one:
[code]
And therefore it gets the size and number of elements wrong:
[code]
If I do this in a different order, I get the correct list of elements, but an error:
[

[2017-09-06 12:32] wilfwilson commented on #1674
This happens with other partial perm semigroups:
[code]
This should have 3 D-classes

[2017-09-06 13:04] wilfwilson commented on #1674
This narrows down the problem a bit:
[code]

[2017-09-06 13:26] fingolfin opened #1675 "HPC-GAP: UserPrefs are not available in all threads"
Consider this:
[code]

The obvious solution in this case is to make the string immutable. This might also be general solution, using `Immutable`, but some care needs to be taken if the pref value is a record or list...

With this in, plus a few changes in the next GAPDoc release, help view should work in threads other than the main thread.

[2017-09-06 14:38] fingolfin commented on #1618
Here's an idea: These "cannot switch to visual mode because" messages are printed as `InfoWarning` -- so why not set `InfoWarning` to 0 just before reading the browse tests, and reset it afterwards. That should get rid of most of the diffs.

[2017-09-06 14:39] fingolfin commented on #1618
Then we can come up with a plan to deal with the rest...

[2017-09-06 14:42] wilfwilson commented on #997
I support the idea of adding these field(s).

[2017-09-06 15:06] wilfwilson commented on #982
I was always confused by this; I should've raised an issue. The important thing is that the doc matches the behaviour; I don't care too much either way.

In any case, I looked at digraphs and spotted one place where we assume that a rectangular table contains non-empty lists; I removed this assumption. So if you did ever change the code for `IsTable` or `IsRectangularTable` in the way suggested by

[2017-09-06 15:13] wilfwilson opened #1681 "Proposal: move Rees matrix semigroups from library to Semigroups package"
I propose that the code relating to Rees matrix semigroups be moved from the library into the Semigroups package.

[2017-09-06 20:45] markuspf commented on #1681
If you can do this without breaking other library functionality, I am all for it.

It has been a longstanding wish of mine to make the library more manageable.

[2017-09-06 20:46] markuspf commented on #1681
Even if a package uses Rees-Matrix semigroups they would be better of depending on the semigroups package, because its better tested, maintained, and faster.

[2017-09-06 20:56] markuspf commented on #1674
The problem is this

[code]

Since `FroidurePinExtendedAlg` filters out all generators that are equal to `One(x)`.

[2017-09-06 21:11] markuspf commented on #1674
The documentation of `One` claims that it should return *the* multiplicative neutral element of its argument. This does not really make sense for partial permutations since there are potentially many of them as far as I understand.

[2017-09-06 21:15] james-d-mitchell commented on #1674
So a more radical solution to this would be to simply delete the offending code in GAP (I wrote it, I confess), and require the Semigroups package where this does not occur.

[2017-09-06 21:21] markuspf commented on #1674
I think this would require most of GAP's semigroup functionality to happen in the semigroups package.

While I in principle support moving as much semigroups functionality as we can to the semigroups package (see also #1681), we need to be careful about the ways in which the semigroups code interacts with the rest of the GAP libraries and packages.

I remember that there are some string functions

[2017-09-06 21:28] markuspf commented on #1674
Looking at the places in which `FroidurePinExtendedAlg` is used it seems that its not very integral to the "functioning" of the library, so removing `FroidurePinExtendedAlg` is an option, but maybe its still worth fixing it?

[2017-09-07 08:21] #1664 closed

[2017-09-07 08:29] #1659 closed

[2017-09-07 08:29] #1661 closed

[2017-09-07 12:00] wbhart opened #1686 "Unable to force Gap to build against a supplied GMP"
I am trying to build libgap from within Julia. This requires building against an existing GMP (in this case, MPIR) which has been installed at:

[code]
The library, libgap.so itself will be installed at:
[code]
I have tried issuing the commands by hand to build libgap (which is rebased on current gap master 06.09.17) as follows:

[code]
I then issue a cp to manually install the library in the corr

[2017-09-07 12:13] wbhart commented on #1686
There was a typo.

[2017-09-07 12:13] #1686 closed

[2017-09-07 14:29] wilfwilson commented on #1674
I think I can fix the incorrect result that I originally reported by replacing the line
https://github.com/gap-system/gap/blob/a4b35953124d9112e1aed382e78778584a81edf1/lib/semirel.gi#L975
with
[code]
Of course, this doesn't resolve the more fundamental issue that `One` and `IsOne` are doesn't behave as intended for partial permutations. But I'll prepare a PR with this change.

[2017-09-07 14:36] james-d-mitchell commented on #1674
Just to chip in: `One` and `IsOne` do behave as intended, it is just that their behaviour does not correspond with the documentation.

The principal issue is that `One(x)` when `x` is a partial perm cannot return the same object for every partial perm, unless we define a partial perm on all of the natural numbers (currently partial perms are only ever defined on a finite set). So, for this to be c

[2017-09-07 14:45] wilfwilson commented on #1674
Yes, sorry @james-d-mitchell I wasn't as clear as I should have been - I meant that `IsOne` and `One` for partial perms don't behave in the way that was intended *by whoever wrote the documentation.* Certainly they do what you intended.

[2017-09-07 22:54] fingolfin opened #1699 "Release notes for GAP 4.9"
Below is a list of pull requests which are NOT in stable-4.8, formatted as a task list.

If you want to help, do this: Take any PR which has not been "ticked" yet. Look at it, and decide whether it contains changes that should be mentioned in the release notes. If yes, do so.
In either case, once you are done reviewing the PR, tick it, so that nobody else has to look at it.

TODO: explain how / wh

[2017-09-07 23:11] alex-konovalov commented on #1699
Summarising this using wiki sounds like a good idea to me: then let's use https://github.com/gap-system/gap/wiki/Changes-between-GAP-4.8-and-GAP-4.9

[2017-09-07 23:12] fingolfin commented on #1699
Please see discussion on Slack

[2017-09-08 11:05] fingolfin opened #1702 "Reactivate the `dev/Updates` system (or something similar) for tracking changes for release notes"
The plan: Any pull request which adds a feature or fixes a bug that should be conceivably mentioned in release notes should also add a file briefly summarizing these changes in the `dev/Updates` directory. Then we can can generate release notes with help of these.

Why not add a line to a `CHANGES` file? Because if multiple PRs add a change, they'll all add the new line in `CHANGES` in the same pl

[2017-09-08 16:15] stevelinton commented on #1702
Reported by is relevant for bugs. We used to include that in the release announcements and it would be good to do so again, to give credit where it's due. We can't rely on all reports appearing in the form of github issues.  The "Type of Change" stuff is also something that's good to include in the release announcement. If the release includes fixes for wrong results in an area you care about it m

[2017-09-09 22:19] fingolfin commented on #1564
`tst/testbugfix/2006-01-11-t00130.tst`  in https://travis-ci.org/gap-system/gap/jobs/272904376

[2017-09-09 22:31] #1674 closed

[2017-09-10 16:13] alex-konovalov opened #1705 "Chapter on relations has no single example at all"
My attention was turned to this by [this question](https://math.stackexchange.com/questions/2359463/poset-test-and-hasse-diagram-in-gap).

Some examples of this functionality may be found in the test file https://github.com/gap-system/gap/blob/master/tst/testinstall/relation.tst and in my 10+ old teaching materials at https://www.gap-system.org/ukrgap/Examples/relation.htm.

[2017-09-11 23:38] alex-konovalov commented on #34
@frankluebeck @fingolfin Just to check, is this staying in GAP 4.9.0 or there may be new GAPDoc release that will work in both modes?

[2017-09-11 23:43] alex-konovalov commented on #791
This may be closed after merging #1650.

[2017-09-11 23:43] alex-konovalov commented on #792
This may be closed after merging #1650.

[2017-09-11 23:52] alex-konovalov commented on #1699
@fingolfin "below" there is no list of PRs as announced - could you please update the comment with an up to date info?

[2017-09-12 08:30] fingolfin commented on #1699
@alex-konovalov but you have the "for internal use pnly" HackMD URL with it already, which I gave out on Slack so that you and others could edit it further

[2017-09-12 08:45] fingolfin commented on #1699
Closing this then, as apparently it is not helpful and others are reluctant to edit it

[2017-09-12 09:03] alex-konovalov commented on #1699
The task of walking through all PR merged to master but not into stable is quite tedious. We are doing that in a shared document - if anyone wants to help, ask one of the assignees for this issue for details.

When we will have that completed, we can update [release notes on Wiki](https://github.com/gap-system/gap/wiki/Changes-between-GAP-4.8-and-GAP-4.9) and add the new chapter to the `doc/change

[2017-09-13 11:41] fingolfin commented on #1702
I thought about this some more. The advantage of having these files is that all data is in the repository, and can be easily recovered in the distant future, even if GitHub goes away / we stop using it.

The drawback is that one has to remember creating these files, come up with names for them, fill them with content etc. I am simply concerned whether people will really do this consistently. Also,

[2017-09-13 13:03] ssiccha opened #1717 "DeclareObsoleteSynonym handles Operations incorrectly"
Calling `DeclareObsoleteSynonym("ObsOp", "NewOp")` with `"NewOp"` the name of an operation defines `ObsOp` as a function. This causes method installations into `ObsOp` to fail.

### Observed behaviour
[code]

[2017-09-13 13:52] wilfwilson opened #1719 "Bad assertion in `PrimePGroup` for direct products"
In `lib/gprd.gi`, the method for `PrimePGroup` for direct products of p-groups contains the following lines:
[code]
In the first line, `p` is defined to be a group; however the assertion is written as if `p` is instead the prime of that p-group. This leads to bad assertion failures:

### Observed behaviour
[code]
I'm working on this fix for this.

[2017-09-13 21:28] #1719 closed

[2017-09-15 09:14] #473 closed

[2017-09-15 09:18] olexandr-konovalov opened #1725 "make testmanuals log misreports diffs"
The log wrongly reports diffs found, although tests passes. Reminding for myself to fix this.
[code]

[2017-09-15 09:53] alex-konovalov commented on #1717
See the subsequent discussion in #1718. As #1718 has been closed, I am closing this issue too. `ObsOp` becomes a function since we want to print a message when obsolete operations are used to alert the user. The fact that one can not install new methods for obsolete operations is also a kind of an alert...

[2017-09-15 09:53] #1717 closed

[2017-09-15 10:56] ssiccha opened #1727 "Should the help system consider synonyms?"
I get:
[code]

Wouldn't it be nice to have the help system show the results for `Length` instead? (The `??` command should stay unaffected IMO)

How else would you find the documentation of a function you only know the synonym of?

[2017-09-15 11:01] alex-konovalov commented on #1727
@ssiccha good point - I think if the synonym is documented, then it should. The place to add this would be `HELP_SEARCH_ALTERNATIVES` which already takes care about different spellings (e.g. Normaliser/Normalizer) and system setters and testers:

https://github.com/gap-system/gap/blob/b8a6c4545ad37330f1fb9aaa2f6922c7c2b88ab4/lib/helpbase.gi#L139

[2017-09-15 13:38] ssiccha commented on #1727
Unfortunately `DeclareSynonym` is called with a string `name` and a GAP object `value` so it doesn't know the object `value`'s name.

Chris suggested to have a method `IDENTS_GVAR_VALUE` which returns a list of `[varname,value]` pairs, where `value` is unbound if the variable is unbound and to use that to find out a GVar's name.

I'll see whether I can get around to do that myself. :)

[2017-09-15 14:16] alex-konovalov commented on #1727
@ssiccha Alternatively, one could establish some global data structure which will be populated in calls to `DeclareSynonym` and then use it to return extra help search matches. This is how `TRANSATL` is used - see
https://github.com/gap-system/gap/blob/b8a6c4545ad37330f1fb9aaa2f6922c7c2b88ab4/lib/helpbase.gi#L95

[2017-09-15 15:17] fingolfin commented on #1564
`tst/testbugfix/2006-01-11-t00130.tst` again in https://travis-ci.org/gap-system/gap/jobs/275558662

[2017-09-15 15:27] alex-konovalov commented on #1477
The release checklist has been placed under version control here: https://github.com/gap-system/gap-distribution/blob/master/DistributionUpdate/RELEASE_CHECKLIST.md.

You can now comment on it on the commit https://github.com/gap-system/gap-distribution/commit/86283c6650c80b9098c56c29286e963c50c9c60e and submit pull requests with suggested modifications.

Will keep this issue open for a while to m

[2017-09-15 15:40] alex-konovalov commented on #1456
Unless package authors would like to use it, too.

[2017-09-15 15:47] alex-konovalov commented on #1621
Fixed by @ManuelAFDelgado, package picked up for the redistribution and should appear in the next GAP release.

[2017-09-15 15:47] #1621 closed

[2017-09-15 18:22] alex-konovalov commented on #1702
The only automated use of `dev/Updates` file that I am using at the moment is `make testupdates` which extracts tests from `dev/Updates` entries and regularly run on Jenkins.

The script was called `dev/DistributionUpdate/maindist/Update.g` and it has been deleted in the following commit: https://github.com/gap-system/gap/pull/13/files#diff-837b949249dcd66121806fe023412def (and I have never used i

[2017-09-16 12:55] ssiccha commented on #1727
Ah yes, `IDENTS_GVAR_VALUE` could then be used to populate the global data structure.

[2017-09-18 15:23] alex-konovalov commented on #1568
Remaining issues in principle can be quickly fixed by replacing `<Ref Func="UNSAFE_VIEW"/>` by `<Ref Label="UNSAFE_VIEW"/>`. But this is not the right solution. What actually must be done is to convert Subsections to ManSections.

Also, a side note - the manual states @vjanjic as an author, but the chapter on MPI has been withdrawn.

[2017-09-19 11:01] fingolfin opened #1732 "Setup daily docker builds of the GAP repository, for use in package's Travis tests"
It would be great if we could setup a Travis cron job, which builds Docker images of GAP every 24 hours or so, for use by packages.

More specifically, the job would upload docker images to some Docker registry which
1. contain a fully compiled GAP,
2. contain the bootstrap package distro,
3. and in which as many packages as possible have been compiled (e.g. copy the logic we use for the `testpack

[2017-09-19 11:03] fingolfin commented on #1732
See also https://docs.travis-ci.com/user/docker/ for how to build and use Docker images with Travis.

[2017-09-19 14:29] alex-konovalov commented on #1732
I've set up two Docker images:
* https://github.com/gap-system/gap-docker-master
* https://github.com/gap-system/gap-docker-stable

Now I am waiting for the images to appear in DockerHub respectively at
* https://hub.docker.com/r/gapsystem/gap-docker-master/
* https://hub.docker.com/r/gapsystem/gap-docker-stable/

Both are using the gap-docker-base image (https://hub.docker.com/r/gapsystem/gap-doc

[2017-09-19 23:36] alex-konovalov commented on #1732
Docker images are available - they are called
* `gapsystem/gap-docker-master`
* `gapsystem/gap-docker-stable`

To test, I suggest to start with `gapsystem/gap-docker-stable` on some package that should work with GAP 4.8. `gapsystem/gap-docker-stable` contains the tip of the stable-4.8 branch and packages from GAP 4.8.8 distribution which should provide a robust platform for testing.

* `gapsystem/

[2017-09-20 21:45] alex-konovalov commented on #1732
P.S. You can see an example of using Docker containers in Travis builds here: https://github.com/gap-system/gap-docker-pkg-tests/blob/master/.travis.yml

[2017-09-20 22:19] fingolfin commented on #1564
`tst/testbugfix/2006-01-11-t00130.tst` again in https://travis-ci.org/gap-system/gap/jobs/277838806

[2017-09-21 10:29] alex-konovalov commented on #1732
Next: I've set up two Travis builds

* https://travis-ci.org/gap-system/gap-docker-pkg-tests-stable
* https://travis-ci.org/gap-system/gap-docker-pkg-tests-master

which run standard tests for GAP packages in `gapsystem/gap-docker-stable` and `gapsystem/gap-docker-master` containers respectively.

I see that for packages that don't have time consuming tests, the whole step of pulling and starting

[2017-09-21 15:57] alex-konovalov opened #1739 "Windows build fails"
On Jenkins machine with 32-bit Cygwin Windows build fails. It does nothing special, just
[code]
and `make` fails with this:
[code]

This is the set of commits that triggered the failure:
* 8657f05e3e249430cc39bdc885840b05393ce683 Replaced ReadTest by Test in the dev manual
* de7b683ee2b7556ca8a58f86ef93241ceef4e402 Remove unused cnf/sysinfo.in
* 8e9e180607d014f26f9c747dc7d73f272d6ebcd8 Makefile.ru

[2017-09-21 16:08] frankluebeck opened #1740 "Target `citests` in Makefile?"
In recent pull requests I found it difficult to understand what the CI tests bound to this repository are doing and to understand the problem that caused a test to fail.

Could someone who knows please add a target `citests` (or some other name) to the Makefile such that it becomes easy to locally run these tests before submitting a pull request. That would simplify the change-and-test cycle a lot

[2017-09-21 16:15] fingolfin commented on #1739
This error might be caused by the symlinks change. Try adding this line to `Makefile.rules` around line 382:
[code]
If that helps, you could commit it as a workaround for now. But that build code is quite hackish anyway: For starters, `bin/$(GAPARCH)` really should only be used in compatibility mode.  And I don't understand why we copy that DLL into that dir -- perhaps it is needed by packages (I

[2017-09-21 16:27] fingolfin commented on #1740
Something in this direction definitely would be good to have. But there are some fundamental limitations and questions on that

E.g. it couldn't possibly install 32bit versions of compilers and libraries for you...

Also, what scope do you have in mind? Do you want something that really emulates all the tests, including setting up 32/64 builds, HPC-GAP builds, builds with and without `--enable-deb

[2017-09-21 21:44] alex-konovalov commented on #1740
@fingolfin testing things locally, I also just do `gap tst/testinstall.g` often. But doing it in the way like `make testinstall` does is important to check that no packages break it. I am fine if people are doing `gap tst/testinstall.g` more often and the full `make testinstall` less often.

[2017-09-21 21:48] fingolfin opened #1741 "HPC-GAP: copying atomic lists and records is broken"
Copying of atomic lists and records is fundamentally broken: this operation returns either the atomic object itself, or some weird error. To demonstrate this:
[code]
One way to fix this would be to simply disallow copying of atomics.

We could also try to implement it... Making an immutable copy then would just return an immutable plist or precord. And a mutable copy a new atomic object identical

[2017-09-21 22:22] fingolfin opened #1742 "HPC-GAP: missing guards"
Right now, HPC-GAP is missing almost all read and write guards, due to us switching lots of macros to `static inline` functions, see https://github.com/gap-system/ward/issues/46

This is what *should* happen (recorded on the `hpcgap-default` branch):
[code]
But this is what currently does happen:
[code]

This is a quite serious problem, and we must address it in some way.

[2017-09-21 23:03] fingolfin commented on #1742
One way to fix this is to fix `ward`, as described in https://github.com/gap-system/ward/issues/46. As an alternative, we could also try to get rid of ward, by inserting guards into all relevant accessor functions, and hoping for the compiler to get rid of redundant ones -- and @rbehrends had some ideas on how to (ab)use `__attribute__((pure))` to help the compiler do that. Also, in some experimen

[2017-09-21 23:13] fingolfin opened #1743 "gapstate.h: adapt `InstallTLSHandler` for non-HPC-GAP, use it consistently"
Right now, we initialize (and deinit) members of the global `GAPState` in two ways:

1. `InitGAPState` knows about a few init functions like `InitCoderState` from `code.c` and just calls them, in both GAP and HPC-GAP. Same for deinit.
2. In HPC-GAP, one can use `InstallTLSHandler` to install constructors and destructors, which are executed when a new thread local `GAPState` is initialized. E.g. `S

[2017-09-21 23:19] alex-konovalov commented on #1739
@fingolfin your suggestion helped - added in #1744.

[2017-09-22 08:10] ChrisJefferson commented on #1741
I think we should forbid structuralcopy or shallowcopy of mutable atomic lists, for the same reason we should also forbid `=` and `<`: They are impossible to serialise (that is, you can end up with a copy which has a value the atomiclist never actually help, or compare two lists equal that at no point in time were ever equal).

The mutable I have less strong opinions on, but I'm tempted to forbid

[2017-09-22 12:58] rbehrends commented on #1742
Well, `TNUM_BAG()` and `SIZE_BAG()` should not have guards, anyway. Guards were only ever inserted for operations that read or modified the contents of a bag; the header could be read and modified concurrently (accordingly, special tests are inserted where that happens in an unsafe fashion, such as in `KTNumPlist()`.

This does not necessarily fix the issue for other inline functions, but in princ

[2017-09-25 13:49] fingolfin commented on #1742
Are you sure about that? I am seeing e.g. this in `hpcgap-default`:
[code]
I'm also not concerned about `ELM_BAG`, as that is a gasman-only function which usually does not even get compiled in. Indeed, unless I am doing something wrong, I think all occurrences of `(Bag **)`, with or without space, are in `gasman.c`, with `PTR_BAG` being the only exception. Or perhaps you meant something else?

[2017-09-25 16:28] #1739 closed

[2017-09-25 19:14] ssiccha opened #1745 "GAP inserts carriage return characters when getting input from a pipe"
I also tried this using `bash --norc` because I read somewhere that maybe the config messes up things. Maybe also some of my environment variables are messing things up.
### Observed behaviour
[code]

[2017-09-26 00:08] fingolfin commented on #1745
This is a duplicate of https://github.com/gap-system/gap/issues/430

[2017-09-26 00:08] #1745 closed

[2017-09-26 19:52] alex-konovalov commented on #1732
Remains to set up a nightly build of the Docker image. "Remote build triggers" looks like exactly what we need.

[2017-09-26 22:09] alex-konovalov commented on #631
Confirm that Nilmat 1.3 fixes the problem. When we will close #632, this may be closed too.

[2017-09-29 12:39] james-d-mitchell opened #1752 "Recursion depth trap when repeatedly calling `Test`"
### Observed behaviour
If the contents of the test file `bug.tst` is:

    gap> START_TEST("bug.tst");
    gap> IsAbelian("A");
    Error, no method found! For debugging hints type ?Recovery from NoMethodFound
    Error, no 1st choice method found for `IsCommutative' on 1 arguments
    gap> STOP_TEST("bug.tst");

and I load GAP without any packages `gap -A`, then do

        i := 0;; repeat i := i

[2017-09-29 12:43] ChrisJefferson commented on #1752
I suspect the problem is we don't reset the depth of the stack when we longjmp.

[2017-09-29 12:46] james-d-mitchell commented on #1752
It seems to be a bit unpredictable.

[2017-09-29 12:47] ChrisJefferson commented on #1752
It will be (I suspect) connected to the number of tests which exit via an error.

[2017-09-29 12:50] wilfwilson commented on #1752
Yes. In our continuous integration, it was always one of the last files to be tested that was having problems.

[2017-09-29 12:53] ChrisJefferson commented on #1752
Ah, just checking, is this only on 4.8? I have a feeling I fixed something related to this in master (and the error doesn't seem to trigger in master for me)

[2017-09-29 12:54] wilfwilson commented on #1752
We only test with master at the moment, so I don't know anything about whether it's present in stable-4.8.

[2017-09-29 12:55] ChrisJefferson commented on #1752
Ah, no, I can reproduce it, it just takes a while.

If I add a way of printing out GAP's `RecursionDepth`, then I can see it increases by 3 each time we run the test, so eventually we overflow.

[2017-09-29 12:59] ChrisJefferson commented on #1752
Fix coming up.

[2017-09-29 13:00] james-d-mitchell commented on #1752
Awesome @ChrisJefferson, thanks

[2017-09-29 13:24] ChrisJefferson commented on #1752
This is (hopefully) fixed by #1753.

[2017-09-30 22:32] OpaStefanVogel opened #1756 "'gap -x 1345' exits when 'Print(10^1342);'"
### Observed behaviour
    pi@raspberrypi:~ $ gap -x 1345
    gap> 10^1342;
    100000...000
    gap> pi@raspberrypi:~ $

### Expected behaviour
gap should not exit after the last 'gap>'

### Copy and paste GAP banner (to tell us about your setup)
 ┌───────┐   GAP, Version 4.7.5 of 24-May-2014 (free software, GPL)
 │  GAP       │   http://www.gap-system.org
 └───────┘   Architecture: arm-unknown-l

[2017-10-01 08:41] ChrisJefferson commented on #1756
This has been fixed in the latest version of GAP. I remember it being fixed, but I can't find the issue number (sorry).

If you want GAP to stop printing "\" at the end of lines, then as a workaround you can call: `SetPrintFormattingStatus("*stdout*", false);`, which may work on the GAP you are using (sorry, it's old enough I don't have a copy), without having to use `-x`.

[2017-10-01 08:41] #1756 closed

[2017-10-01 09:05] OpaStefanVogel commented on #1756
Yes,

    SetPrintFormattingStatus("*stdout*", false);

is ok, without using -x. Thank You. gap version 4.7.5 I get on Raspberry Pi Zero W with 'sudo apt-get install gap' and I use gap with node-red-daemon https://github.com/node-red/node-red-nodes/tree/master/utility/daemon.

[2017-10-02 12:14] markuspf commented on #1752
Fixed by #1753

[2017-10-02 12:14] #1752 closed

[2017-10-02 15:59] fingolfin opened #1759 "Segfault upon `InstallMethod` for `Unbind[]`with multiple indices"
While looking at the multi-index code (for supporting `a[i,j]` in various places), I noticed that several parts of it need to be overhauled or are otherwise problematic. Perhaps the most serious issue I encountered is the following segfault (with latest master, on OS X 10.11):
[code]

[2017-10-02 20:34] ChrisJefferson opened #1761 "\[\] doesn't perform bounds checking"
The `\[\]` operator doesn't do bounds checking for negative numbers, for example (on my machine)

[code]

[2017-10-06 10:47] #1761 closed

[2017-10-06 22:07] alex-konovalov opened #1768 "Check the status of obsoletes before GAP 4.9.0"
Some entries from obsoletes (moved there before 4.8.0) are not used in any of the redistributed packages any more and may be deleted.

Mainly a reminder for myself to submit a PR.

[2017-10-06 23:45] ChrisJefferson commented on #1768
Just to clarify, do you mean delete them entirely, so currently working GAP code which uses them will break?

[2017-10-06 23:51] alex-konovalov commented on #1768
Yes. The procedure used in the past was to move to obsolete in a major release, and delete entirely (if no packages use it by that time) in the next major release.

I am not going to mechanically remove everything which is not used by packages, and PR will be reviewed, in case someone will suggest to keep some things. But for example I think it's fine to delete KERNEL_VERSION and PACKAGE_VERSIONS

[2017-10-16 08:48] fingolfin opened #1774 "Error computing kernel of group hom from fp group into perm group"
The following issue was reported by Graham Ellis on the support list:
[code]
But this works:
[code]

The issue is *not* present in GAP 4.4.12, but it *is* present in GAP 4.6 -- I did not try to bisect it further.

[2017-10-16 08:51] fingolfin commented on #1774
Looking closer at the error, it occurs in the Intersection2 method for "subgroups of fp group by quotient", which contains this code:
[code]
Now, the two groups A and B are in representation `IsSubgroupOfWholeGroupByQuotientRep`, and as I understand it, this means that the groups `A` (i.e. `G!.quot`) and `B` (i.e. `H!.quot`) should have the same number of generators as the parent group `F` of `G`

[2017-10-18 14:10] mtorpey opened #1778 "Functions for floats are poorly documented"
@markuspf and I were looking at the documentation for "mathematical operations" functions on floats,  currently Section 19.2-1, and noticed it explains the functions quite poorly.  It consists of a long list of function names with no explanation and the simple description "Usual mathematical functions."

The meanings of `SinCos`, `Atan2`, `Log1p`, `Erf`, `ComplexI` and others are unclear, and user

[2017-10-18 23:40] alex-konovalov commented on #1774
If the fix is imminent, i suggest to make GAP 4.8.9 - there are a few packages waiting for the next minor release already.

[2017-10-18 23:52] alex-konovalov commented on #1012
This will be completed in #1650 which I suggested to be merged on 1st November 2017.

[2017-10-19 00:05] alex-konovalov commented on #848
Some specific examples of poorly documented areas are reported in #1705 and #1778.

[2017-10-19 09:39] kalbr opened #1781 "Compiler emits call to InfoDecision but symbol is defined `static` in intrprtr.c"
With a fresh checkout of master, the compiling the snippet
[code]
produces a module that fails to load:
[code]

It seems that `InfoDecision` is declared in compiled.h, but has no non-static definition. I fixed this locally with the following trivial diff:
[code]

[2017-10-19 09:56] fingolfin commented on #1781
This regression is likely caused by PR #1464, where we overlooked that the GAP compiler also needs to be adjusted. Also relevant for PR #1770

[2017-10-19 10:18] ChrisJefferson commented on #1781
Just so I cover your use case, could you give the complete list of commands you use to create, build, and load the dynamic module?

[2017-10-19 11:24] wilfwilson opened #1783 "IsomorphismPartialPermSemigroup/Monoid does not work for a perm group with 0 generators"
### Observed behaviour

Given a group with 0 generators, such as the symmetric group of degree 1:
[code]

### Expected behaviour

This should not trigger an error, and should work like this:
[code]
You can't create an inverse semigroup from an empty list, so I'll fix this by having a special case.

[2017-10-19 23:03] alex-konovalov commented on #1556
First, I have established that the error is produced by the call to `GASMAN("collect")` in `START_TEST`.  It occurs in `teststandard/stablesort.tst`, but the real problem might be in `teststandard/stabchain.tst` which is the test that is performed immediately prior to that.

It is very reproducible in Jenkins (each night), but I still can not produce a smaller example. GAP has to be started with `

[2017-10-20 07:38] ChrisJefferson commented on #1556
I guess part of the problem is that tests leave lots of new global variables lying around

[2017-10-20 10:07] wilfwilson commented on #1564
`tst/testbugfix/2006-01-11-t00130.tst` again in https://travis-ci.org/gap-system/gap/jobs/290175165 and in one other job that I restarted.

[2017-10-20 11:39] alex-konovalov commented on #1556
@ChrisJefferson yes. It's not necessarily a bad thing as it exercises GAP, but it complicates reproducibility.

So, is it time to replace `-o 1g` by `-o 2g` when running the tests?

[2017-10-20 12:51] fingolfin commented on #1564
So I just tried to run `Test("tst/testbugfix/2006-01-11-t00130.tst");` locally, and could not reproduce a hang on Mac OS X. But on a Linux machine, it "reliably" hangs after a few tries.
This is the content of the file:
[code]

Makes me wonder if this is related to this bug: https://github.com/gap-packages/io/issues/40

[2017-10-20 13:04] ChrisJefferson commented on #1564
I think this is unrelated.

While we could trace through carefully, basically making this kind of thing to work (reading, and writing, from an external program, because it is so easy to deadlock (which I guess is what's happening).

Depending on what this is supposed to be testing, I'd prefer to just edit the test so we don't try to both write to, and read from, the same external process.

[2017-10-20 13:46] ChrisJefferson commented on #1564
I get something much more concerning, a crash/double free in `rev`!

[code]

[2017-10-20 14:28] ChrisJefferson commented on #1564
Turns out there is a series of problems here:

* Further investigation -- sometimes `rev` gets itself in such a mess it can't be killed with `SIGTERM`, and that is what we use to kill processes.

We could just move to `SIGKILL`, or try to be nicer and do `SIGTERM` followed by a `SIGKILL` if they don't respond.

* `ReadLine` doesn't wait for a full line if the process hasn't finished producing one

[2017-10-20 23:34] alex-konovalov opened #1795 "Missing methods for IsCentral"
I've got an example from a user:

[code]
Indeed, the manual says that in `IsCentral( M, obj )` the 2nd argument must either be an element or a magma, but there seem no methods installed for this case at all:
[code]

I've advised to use `e in Centre(M)` instead, but I think that a missing method should be added as well. Moreover, `Centre` is defined as an attribute for magmas.

[2017-10-21 12:06] #631 closed

[2017-10-21 12:11] alex-konovalov commented on #1556
@ChrisJefferson in #1791 says:

[2017-10-21 14:03] ChrisJefferson opened #1796 "Check documentation is linked into Manual"
After realising the documentation in some places isn't linked into the manual correctly, I wrote a small horrible script to find examples where there is some GAPDoc which (appears) to not be linked into the manual -- that is a `ManSection` which is not within a `#GAPDoc` section.

You can see the results of this script here: https://gist.github.com/ChrisJefferson/042d22644eed15a0ff4a28e77495d761 ,

[2017-10-21 20:10] alex-konovalov commented on #1556
Thanks @ChrisJefferson - #1791 fixed this, so I am closing this issue. When it will strike again, I will consider switching to `-o 2g` setting.

[2017-10-21 20:10] #1556 closed

[2017-10-22 10:47] stevelinton commented on #1778
It might be possible to document them simply by reference to the standard C functions that they "wrap".

[2017-10-22 11:34] stevelinton commented on #1795
Sounds sensible. Do we need to worry about deciding whether we want Centre or LieCentre?

[2017-10-23 08:51] alex-konovalov commented on #1473
This is done and reported in #1732:  I've set up two Travis builds

- https://travis-ci.org/gap-system/gap-docker-pkg-tests-stable
- https://travis-ci.org/gap-system/gap-docker-pkg-tests-master
which run standard tests for GAP packages in gapsystem/gap-docker-stable and gapsystem/gap-docker-master Docker containers respectively.

[2017-10-23 08:51] #1473 closed

[2017-10-23 15:32] sebasguts opened #1800 "Wrong syntax warning about undefined global variable."
In 4.6, 4.7, 4.8, and master, the code
[code]
gives the syntax warning
[code]
which is wrong. However,
[code]
does not produce a warning. The above example is minimal in the sense that the warning does not appear with a single for loop, but only if there are at least two nested for loops.

Copy of banner:
[code]

[2017-10-23 18:02] fingolfin commented on #1800
Actually, I am not so sure the warning is "wrong"; maybe it is undesirable, but GAP cannot easily tell the state of `string` at that point. For me, the bug is that the two snippets of code behave differently. I do not care that much whether they both show a warning, or both don't.

So, here is what (I think) is going wrong:

We only issue `SyntaxWarning("Unbound global variable");` in one place, n

[2017-10-23 18:14] fingolfin commented on #1795
We are not taking about just one missing method here, though; rather, we'd potentially need one for each of the cases listed by `ShowMethods` above. Note that all but one of the existing `IsCentral` methods are implemented using `IsCentralFromGenerators` (the one exceptions is for groups).
So, we could add a companion to `IsCentralFromGenerators`, say `IsCentralElementFromGenerators`, and then use

[2017-10-23 19:27] fingolfin commented on #1800
As to why this shows a warning at all: I guess that the plan back then was that the warning should only be shown when coding a function, but not when coding interactive input (?), which is why we have a line in the kernel code I showed above which says

However, in your example, `string` *is* used in a function, namely in `j -> ...`.

I see no good solution for this, at least with the current way

[2017-10-24 11:44] fingolfin opened #1804 "Problematic syntax error / break loop interaction when doing `1[2]:=3`"
I originally noticed the following when experimenting with constant gvars, but eventually realized it doesn't have to do anything with it; instead it is a regression compared to GAP 4.8 and older. Specifically, this:
[code]

So the problem here is that we now in principle support `foo[idx]` for arbitrary objects; in principle, you can install such a method handling the case where `foo` is an integ

[2017-10-24 14:48] fingolfin commented on #1637
So here is a (nasty) way how we could perhaps resolve this: We add a new TNUM `T_PLACEHOLDER` (better name TBD). When we `DeclareGlobalVariable`, then we create a new instance of that type, and use it as placeholder object (instead of `"ToBeDefined"`). In it, we store the name resp. gvar id of the declared global var.

Now we go on in one of several ways:
1. As soon as a `gvar` gets installed, we

[2017-10-24 17:12] ChrisJefferson commented on #1637
I think tidying this up would be nice.

Another possibility would be to just leave the variable unbound, and come up with some way of stopping the error message (although, I can't immediately think of a better way of doing that than something similar to what you describe)

[2017-10-24 17:14] ChrisJefferson commented on #1637
Although, that would require `InstallValue` gaining some magic to cope with the name not being defined.

[2017-10-24 17:43] fingolfin commented on #1637
@ChrisJefferson yeah, that sounds like a nice approach, except that we'd have to turn `InstallValue` into a compiler special, like `IsBound` and `Unbind`, which is not so nice ... :/

Anyway: Right now, a declared but not installed variable still ...
* ... is bound, as in `IsBound(x)` returns true,
* ... can be assigned to other variables
* ... is read-only, i.e. the name is blocked otherwise.
Tha

[2017-10-24 21:25] hulpke commented on #1774
#1809 includes a fix. (The problem was that `Image' of a group does not guarantee that the same generators are used.)

[2017-10-24 21:55] #358 closed

[2017-10-25 12:32] stevelinton commented on #1804
The same error shows up in `[1,2,3][2] := 3;`
This arguably should be legal, but useless. Indeed the equally useless:
[code]
works (or at least raises no errors).

A problem though is something like
[code]
which sets the 1,2 and 2,2 entries of `x` to 2 and 3 respectively
versus
[code]
which is a syntax error. If we suppress this error, both of these would be valid and have different meanings, whic

[2017-10-25 13:37] ChrisJefferson commented on #1804
I think you might be misinterpreting that error?

`1[2]` isn't a syntax error by itself (although it fails because we haven't installed a method for `\[\](IsInt,IsInt)`. The problem is that we don't view `1[2]` as a valid left hand side of an assignment, so the parser assumes it has reached end of statement, and complains when it doesn't see a semicolon. You get the same error for `2 := 3` in mast

[2017-10-25 13:43] ChrisJefferson commented on #1804
So maybe we need to change `; expected` into something about `invalid assignment`?

And also separately, we could change the `Error, List Assignment: <list> must be a list (not a integer)` to not enter the break loop, as I don't think it's super-useful to be able to replace the list when you passed in an integer :)

[2017-10-25 13:50] fingolfin commented on #1804
To clarify: My primary (and hopefully uncontroversial) complaint is that the syntax error is only displayed *after* leaving the break loop. That can be super confusing:
[code]

The suggestion that we only show one error, not two, is just one way to address this. I don't mind if that suggestion turns out invalid or infeasible, as long as the reported issue is resolved :-)

[2017-10-25 13:53] ChrisJefferson commented on #1804
So the path through the parser (for the curious) is:

read.c:2795 -- if the line starts with an identifier, read an expression, which might be an assignment.

If the line doesn't start with an identifer, it can't be an assignment. Therefore read an expression which can't be an assignment (line 2816). This correctly parses 1[2], tries to execute it (and fails, as \[\] isn't defined for IsInt,IsInt)

[2017-10-25 14:25] stevelinton commented on #1804
@fingolfin so this is an instance of the general confusion caused by the very eager evaluation in the parser. A common (but less confusing) instance at least for clumsy typists like me is
[code]
(hit 'l' instead of ';')

This will fully evaluate `foo(bar)` including any associated break loops, interaction, I/O, etc. before reaching the `; expected` error.   Short of abandoning eager execution (whi

[2017-10-25 19:51] stevelinton commented on #1800
Maybe we should just adjust the text of the warning to "Potentially unbound global variable".

[2017-10-25 21:51] gwhitney commented on #917
I just want to add that if the statements before the bad function call are more elaborate, e.g.,
[code]
then the distance between the reported troublesome line and the actual typo can be reasonably significant. The above is a nonsense cooked-up example adapted from some code I was writing. I mistyped () instead of [] in the list access on line 10, but GAP told me there was an error in "n<2" on lin

[2017-10-25 22:18] fingolfin commented on #917
@gwhitney Thanks for the feedback (which did not at any point seem like "whining" to me).

I actually think I know what the issue is, and how to fix it (this will be byproduct of the lvars / CurrState / BRK_CALL_TO cleanup I worked on a month or so ago; it's just been slow-going as I keep running into other quirks that take time to cleanup properly (this then e.g. lead to other fixes, e.g. for UpE

[2017-10-25 22:21] fingolfin commented on #917
(actually, I think it's `SET_BRK_CURR_STAT` you'd want to call in `EXEC_STAT`... but it's been some time I last looked at this, and in any case, this is part of what still needs untangling)

[2017-10-26 09:54] ChrisJefferson commented on #917
Yes, I also looked at this and got lost in the weeds. The main problem is to decide what we want to produce in which situations.

[2017-10-26 10:55] #1783 closed

[2017-10-26 12:37] gwhitney commented on #917
@fingolfin I do not doubt that globally it might improve matters to add a SET_BRK_CURR_STAT to EXEC_STAT (and presumably then remove various (most? all?) other SET_BRK_CURR_STATs which would become redundant in such a case). However, after rattling around in the code a while last night, it turned out the the necessary SET_BRK_... calls for this issue are already in the code (they happen to be SET_

[2017-10-26 13:56] #1781 closed

[2017-10-26 14:29] #1564 closed

[2017-10-27 04:39] kalbr opened #1819 "CosetTableFpHom does not set `one`, `useAddition` expected by NEWTC_Rewrite"
I ran into a bug in `NEWTC_Rewrite` with the attached input. The test case could probably be made more minimal, but I don't really know may waya round the FpGroups functionality very well yet. It's a bug that I've run into a couple of times recently, and this is the only reasonably self-contained test case I've managed to come up with. I hope it's still helpful.

The offending `rec` is returned fr

[2017-10-27 10:08] alex-konovalov opened #1820 "Location of binaries in Windows distribution"
When GAP for WIndows is built under Cygwin, binaries are placed in `.libs` directory. After that the GAP root directory is archived and copied to a Cygwin-free machine for testing. But `bat`-files in the `bin` directory are referring to `bin\i686-pc-cygwin-gcc-default32\gap.exe` which is not there - it is in `.libs` instead.

A workaround which works is to move the whole content of `.libs` into th

[2017-10-27 10:51] james-d-mitchell commented on #1820
Do you mean when GAP is built under Cygwin?

[2017-10-27 10:54] alex-konovalov commented on #1820
Oops yes.

[2017-10-27 13:30] alex-konovalov opened #1822 "Cannot get perfect subgroups without data library"
The following happens now in the master branch:
[code]
This is part of `tst/testextra/grplatt.tst` so not detected by Travis CI.

[2017-10-27 15:32] alex-konovalov commented on #1822
Traced this to the following: the error occurs when transgrp 2.0 package is loaded. When there is no transgrp package, GAP uses the `trans` directory instead, and then the example works fine.

[2017-10-27 16:00] alex-konovalov commented on #1822
So, with tracing methods for `LatticeSubgroups` we have
[code]
vs
[code]

[2017-10-27 16:09] ChrisJefferson commented on #1822
I'm not sure this is a bug, or a problem.

[2017-10-27 16:10] ChrisJefferson commented on #1822
Oh sorry, I understand. I thought the problem was when you had no transgrp at all. Sorry.

[2017-10-27 16:19] alex-konovalov commented on #1822
Aha, next method to trace is `RepresentativesPerfectSubgroups`.

Now this works:
[code]
but this does not:
[code]

[2017-10-27 16:22] alex-konovalov commented on #1822
As we see now, `RepresentativesPerfectSubgroups: symmetric at /Users/alexk/GITREPS/gap/trans/trans.gi:174` gives the answer, but when the package is used, it tries next `Trying next: RepresentativesPerfectSubgroups: using Holt/Plesken library at /Users/alexk/GITREPS/gap/lib/grplatt.gi:1480`. @hulpke do you know what happens here?

[2017-10-27 16:29] alex-konovalov commented on #1822
Well, the library code says:
[code]
and the package code says
[code]
so because we use `NoPrecomputedData` option, of course when the package is there, GAP tries to use next method. When we use the `trans` directory, this is not happening and `RepsPerfSimpSub` is never called.

[2017-10-28 14:13] gwhitney opened #1824 "Oddities with DirectProductElements"
This is really three closely related points; I didn't want to clutter the issue list, but let me know if you prefer I break this in three.

1A) Note the following interaction with current master, freshly compiled:
[code]
This would seem to me to be a bug, especially in light of the line in the Reference Manual sec 6.3.2 stating: "One should at the very least install a String (27.7.6) method to all

[2017-10-28 23:39] alex-konovalov commented on #1822
@hulpke do you think we can proceed as follows: to avoid TransGrp breaking existing GAP tests, change TransGrp to not to analyse `NoPrecomputedData` option, and then take time to resolve this properly?

There are more errors happening in the test in this setting. Some of them are apparently cause by the same reason, while some others are more alarming: e.g. the

[code]
and
[code]
While I might hop

[2017-10-29 20:42] fingolfin commented on #1819
@hulpke wrote the new MTC code, so hopefully he has some insights on this.

[2017-10-29 21:42] fingolfin commented on #1819
To ease debugging, here is the input, in a form that also works in older GAP versions:
[code]
In GAP 4.8.7 and older, the last command returns 25.

[2017-10-30 16:45] markuspf opened #1829 "`ViewString` hits recursion depth trap for recursive lists"
[code]

[2017-10-31 15:57] markuspf opened #1832 "Example missing for `PRump`"
Help in my current GAP shows the following

[code]

[2017-10-31 20:57] #917 closed

[2017-10-31 21:35] hulpke commented on #1819
Thank you, @fingolfin for isolating out the example. The issue is simply a forgotten component copy. I will fix it.

[2017-10-31 22:09] hulpke commented on #1822
First, this is exactly the problem with moving tests generously into testextra.

Secondly, I do not think that the issue is with the transgrp package. What you simply observe is that the `trans' directory never got the precomputed data option included as it was clear i would go away. I however hazard the guess that one could have run in exactly the same error without the package, by making up a su

[2017-10-31 22:39] fingolfin commented on #1822
First off: glad to see @hulpke has a fix, thanks!

However, I don't see how this problem is caused by or related to "moving tests generously into testextra". Perhaps you mean to imply that the issue would have been noticed earlier if the test had been in `testinstall`? I am not so sure: we only catching things that break in `testinstall` because we now *constantly* run `testinstall`, but we can on

[2017-10-31 23:09] fingolfin opened #1836 "HPC-GAP: `MakeReadOnly` name is potentially confusing (compared to `MakeReadOnlyGlobal`)"
HPC-GAP introduces a new global library function  `MakeReadOnly(obj)`, which moves `obj` into the readonly region.

However, this name is very similar to `MakeReadOnlyGlobal`, which has been around forever.

The two have virtually nothing in common; in particular, `MakeReadOnlyGlobal` acts on the "gvar slot" (and not on the object bound to it), while `MakeReadOnly` acts on objects, not "gvar slots

[2017-10-31 23:18] fingolfin commented on #407
The original issue reported here now is perhaps something that should be added to the `smallgrp` package repository.

The more elaborate plans afterwards are different of course, but then perhaps the issue title should be changed?

I am also going to remove the "good first issue label".

[2017-10-31 23:19] fingolfin commented on #1743
This has been resolved by #1767.

[2017-10-31 23:19] #1743 closed

[2017-11-01 01:12] alex-konovalov commented on #407
Agree. Created https://github.com/gap-packages/smallgrp/issues/25 and changed issue title.

[2017-11-01 09:21] stevelinton commented on #1836
I'd be happy with MakeReadOnlyObject (or even MakeObjectReadOnly). If people aren't clear on the distinction between a variable and the object it refers to, they are not going to get far with concurrent programming

[2017-11-01 09:29] stevelinton commented on #1829
This could be fixed easily enough by moving these methods into the kernel and duplicating what already exists for ViewObj etc.

It could probably be fixed clunkily by keeping a list of already visited subobjects or their HANDLE_OBJ values and checking it with IsIdentical or by comparing handles in GAP code cf MEMORY_USAGE.

It would be a bit cleaner with ObjHash -- is that in non-HPC GAP yet?

[2017-11-01 10:01] alex-konovalov commented on #1822
@hulpke thanks for the explanation! I will look how this will behave in PR #1809 then.

[2017-11-01 15:13] fingolfin opened #1838 "HPC-GAP can crash upon deep recursion of GAP code"
Normally, we employ a "recursion depth trap" to catch GAP code which accidentally performs an infinite recursion. I.e. if the recursion depth exceed a certain threshold, we show an error and let the user choose between aborting or resuming the computation.

In HPC-GAP this can fail, and we instead run into a segfault. Indeed:
[code]

This seems to be a problem with how we use Boehm GC to maintain

[2017-11-01 22:06] pedritomelenas opened #1842 "Quotient ring as a field"
This issue is a resurection of an [old issue](https://bitbucket.org/gap-system/gap/issues/5/quotient-ring-as-a-field) reported on bitbucket.

If one defines
[code]
then
[code]
The expected behavior should be either `true` or `No method found ...`. At least for Euclidean domains this could be tested "easily".

`IsField` looks like
[code]

And `IsMagmaWithInversesIfNonzero` already returns false
[co

[2017-11-01 23:11] ChrisJefferson commented on #1842
It is important to GAP's functioning that Filters always return `true` or `false`, because we can ask any GAP object if it satisfies any filter during method dispatch, even when the question might not make sense.

[2017-11-02 00:32] fingolfin opened #1844 "Segfault computing `SylowSubgroup(G,12);`"
The following snippet causes `master` to segfault:
[code]
Using `git bisect`, I tracked this down to 771e34b44a044a7b97427cb6af8b38ca8ed63caa

However, I just stared at this commit for half an hour and can't figure out how that might cause this breakage. But it definitely does do so...

[2017-11-02 01:01] markuspf commented on #1844
Max Horn writes:

I think this commit only exposes the problem: If you checkout the one
immediately previously the error output is incomplete already (no file
number, and the line number is suspicious, too). I suspect it has
something to do with this being a function expression inside a function
(the KeyDependent installation stuff).

I am too tired right now to stare more though...

[2017-11-02 01:02] fingolfin commented on #1844
OK, I think I am getting somewhere:

Backtrace:
[code]
frame #6: 0x00000001000c608d gap`FuncPRINT_CURRENT_STATEMENT(self=0x00001000000101e0, context=0x0000100000500230) + 173 at gap.c:1072
   1069	  }
   1070	    else if ( /*FIRST_STAT_TNUM <= TNUM_STAT(call) &&*/
   1071	              TNUM_STAT(call) <= LAST_STAT_TNUM ) {
-> 1072	      PrintStat( call );
   1073	      Pr(" at %s:%d",(UInt)CSTR_ST

[2017-11-02 01:03] fingolfin commented on #1844
@markuspf aha, good observation, thanks

[2017-11-02 01:15] fingolfin commented on #1844
Ahhh, indeed: the function in which the error occurred is this one:
[code]
But that's in `oper1.g`, so compiled, so it's really `HdlrFunc14` from `c_oper1.g` -- and that's precisely the active function bag at that point.

Now we should be showing the "compiled statement" message, but we actually don't have a proper check for that in place inside of `PRINT_CURRENT_STATEMENT` (and `CURRENT_STATEMENT

[2017-11-02 07:14] pedritomelenas commented on #1842
Good, but in this case it should return true, not false. The answer is misleading.

[2017-11-02 10:28] pedritomelenas commented on #1842
As explained by @markuspf  and @fingolfin  on slack, I now understand the meaning of `Filter` here (or at least I think I understand it). So I think I will close this issue... GAP treats F as a ring, not as a field. Probably a method for AsField(F) could be implemented...

[2017-11-02 10:36] pedritomelenas commented on #1842
As discussed with @markuspf I reopen this cause at least `IsMagmaWithOne(F);` should return `true`.

[2017-11-02 21:33] alex-konovalov opened #1849 "Overflow in table of terminated processes"
This currently happens in the master branch. @ChrisJefferson is working on it already, I am recording it to remember. This is needed for GAP 4.9 beta, as it fails `make testbugfix' test.
[code]

[2017-11-03 00:22] alex-konovalov commented on #12
@fingolfin I suggest to re-assign this to a future milestone (4.9.1 or even 4.10.0).

[2017-11-03 00:25] alex-konovalov commented on #184
@markuspf what's the status of this? Should we re-assign this to a future milestone (4.9.1 or even 4.10.0).

[2017-11-03 00:27] alex-konovalov commented on #333
@fingolfin I suggest to not to touch this now, and re-assign this to 4.10.0.

[2017-11-03 00:28] alex-konovalov commented on #220
@markuspf Didn't made into GAP 4.8, and seems for GAP 4.9 too. I suggest to re-assign it to GAP 4.10.0.

[2017-11-03 00:35] alex-konovalov commented on #1637
I suggest to re-assign this to a future milestone (4.9.1 or even 4.10.0).

[2017-11-03 00:46] alex-konovalov commented on #564
I think this should be documented somewhere, and this will allow us to close the issue. Practical parts would be merging #549 in combination with setting assertion levels globally, perhaps via implementing #527.

[2017-11-03 11:02] fingolfin commented on #1741
This has been resolved by PR #1749

[2017-11-03 11:02] #1741 closed

[2017-11-03 11:03] fingolfin commented on #1637
Re-assigned to 4.10.0. This would be a major change, so certainly nothing for a minor bugfix release

[2017-11-03 11:07] fingolfin commented on #1637
Also: My idea for resolving this unfortunately was way too naive and does not work. So this still needs more work.

I thought some more about the idea @ChrisJefferson sketched (i.e. simply not binding the variable upon declaration; instead adding it to a list which then is used to suppress the warnings; and finally a gross but probably simple hack to the interpreter to accept such declared variabl

[2017-11-03 11:10] #1844 closed

[2017-11-03 19:24] fingolfin commented on #1673
This was resolved by @ChrisJefferson in PR #1801

[2017-11-03 19:24] #1673 closed

[2017-11-04 01:00] alex-konovalov commented on #1543
@fingolfin what happened to this? Is there a plan to release an updated FPLSA after 4.9 beta will be out?

[2017-11-05 22:27] #1774 closed

[2017-11-05 22:27] #1819 closed

[2017-11-05 22:27] #1822 closed

[2017-11-05 22:55] Alasdair-Macindoe opened #1853 "Segfault on pasting semigroup in HPC-GAP"
Hi,
### Observed behaviour
When attempting to copy and paste the following semigroup into HPC-GAP:
[code]

I am greeted with the following output:
[code]
### Expected behaviour

The expected behaviour would be for the variable `g` to be assigned to the stated semigroup.
### Copy and paste GAP banner (to tell us about your setup)
[code]

NOTES: I did attempt a fresh set up. Bug does not seem to exi

[2017-11-06 09:26] fingolfin commented on #1853
This looks like some kind of buffer overflow in the HPC-GAP shell UI handler. Specifically, I can also reproduce the crash as follows: start HPC-GAP, then paste a length string several times. E.g. for me pasting `Transformation( [ 1, 1, 2, 1 ] ), ` eight times reliably triggers the crash.

[2017-11-06 09:30] fingolfin commented on #1824
As to cluttering the issue list: There is no such thing. Indeed, we very much prefer to get one issue filed for each, well, issue. Grouping multiple problems together into a single issue actually complicates things for us, and also leads to mistakes (e.g. an issue describes multiple problems, one gets fixed, the issue gets closed because somebody did not notice there were more problems listed in i

[2017-11-06 10:40] fingolfin commented on #1853
There are multiple things going on here:

1. The `LineEditKeyHandler` (implemented in GAP code) for some reason runs into an error if the file length exceeds a certain threshold (I have not looked into the reasons).
2. The `LineEditKeyHandler` is expected to always return a plist, but the C code in `syFgets` blindly relied on that, and so if something else was returned, could crash. Since the`Line

[2017-11-06 10:47] fingolfin commented on #1853
Looking at the line editing code in `sysfiles.c`, I also just found this revealing code comment:
[code]
While that comment is on the code dealing with code completions, actually almost nothing in that code seems to honor `length`, with the exception of the code dealing with "yanking" (i.e. what is called "pasting" in most other contexts). In particular, this is the code dealing with simple key pre

[2017-11-06 12:47] ChrisJefferson commented on #1849
Plan for fixing this bug (it's going to be in multiple piecesc)

1) Add a hook into GAP so libraries can report children which have died ( https://github.com/gap-system/gap/pull/1851 , ready for merging )

2) Use that hook in IO ( https://github.com/gap-packages/io/pull/55  - proof of principle, needs documentation and tests )

[2017-11-06 13:05] gwhitney commented on #1824
Yes, I had exactly that concern of crispness/clarity when I posted this; but as a relative newcomer, I was concerned about posting three issues at once.  With the slight more experience I have, I will definitely keep future issues focused, and try to be judicious as to which deserve posting.

As for the contents of this issue, such as it is: Item (1A), which was the only cut-and-dried "bug," is de

[2017-11-06 13:12] #1215 closed

[2017-11-06 13:12] #1568 closed

[2017-11-06 15:12] alex-konovalov opened #1859 "Problem with builtin_smull_overflow"
Several packages fail to build in the master branch on Linux with gcc 4.8.5:
[code]

[2017-11-06 15:17] alex-konovalov opened #1860 "Problem with reesmat.tst (orb+semigroups)"
This has been discussed in #1809 and was identified as a separate issue. When Semigroups package is loaded, the following diffs appear:
[code]
As @markuspf points out, this maybe related to the breaking of hash functions for permutations in "orb" package after PR #1831 which make spermutations remember their inverses.

[2017-11-06 22:47] alex-konovalov commented on #792
The package TransGrp now resides here:
  * repository: https://github.com/hulpke/transgrp
  * website: http://www.math.colostate.edu/~hulpke/transgrp/
and `trans` directory has been removed in #1650.

[2017-11-06 22:47] #792 closed

[2017-11-06 22:49] alex-konovalov commented on #791
The package PrimGrp now resides here:
  * repository: https://github.com/gap-packages/primgrp
  * website: http://gap-packages.github.io/primgrp/
and `prim` directory has been removed in #1650.

[2017-11-06 22:49] #791 closed

[2017-11-07 00:14] alex-konovalov commented on #34
#1865 is a step in this direction. It imported the latest snapshot of GAPDoc at the time of submitting that PR (commit c24e382597cf2) from https://github.com/frankluebeck/GAPDoc

[2017-11-07 00:34] alex-konovalov commented on #1012
#1650 has been merged, so this is now closed. I've created an issue at https://github.com/hulpke/transgrp/issues/26 to remind about the idea to take over `BrowseTransitiveGroupsInfo` from Browser to TransGrp.

[2017-11-07 00:34] #1012 closed

[2017-11-07 11:23] fingolfin commented on #1270
This has been done, and the patch was removed in PR #1858

[2017-11-07 11:23] #1270 closed

[2017-11-07 11:38] fingolfin commented on #1836
I tried to make this change and noticed that there is also `MakeReadOnlyObj`, which differs from `MakeReadOnly` in that it is not recursive, i.e. only modifies the object itself, not its subobjects.

Contrast this with `ShareObj` vs. `ShareSingleObj`, `MigrateObj` vs. `MigrateSingleObj` etc. -- so I now think we should rename
*  `MakeReadOnlyObj` -> `MakeReadOnlySingleObj`
* `MakeReadOnly` -> `Mak

[2017-11-07 13:14] wilfwilson commented on #1860
These diffs are present when I use the released version of Orb (4.7.6), but not when I use the master branch of Orb (which contains a fix for the hashing of permutations). So I think @markuspf is right, and this should disappear when the next version of Orb is released.

[2017-11-07 14:17] fingolfin opened #1866 "Teach "make bootstrap" to use `curl` if `wget` is not available"
On macOS, `curl` is available but `wget` is not.

[2017-11-07 14:20] fingolfin commented on #1859
AFAIK this was caused by a mismatch between the C and C++ compilers (i.e. the C compiler supports `__builtin_smull_overflow`, hence GAP uses it, but the C++ compiler doesn't).

I assume @alex-konovalov resolved this by now, closing. Reopen if I am mistaken on this.

[2017-11-07 14:20] #1859 closed

[2017-11-07 16:29] stevelinton opened #1868 "grpauto.tst spends a lot of time in CmpVec8BitVec8Bit"
Please use the following template to submit an issue
(you may delete lines which are not used). Thank You!

### Observed behaviour

Profiling teststandard with gprof reveals that a lot of time is being spent in the kernel function CmpVec8BitVec8Bit. This turns out to come from grpauto.tst where part of the automorphism group code ends up doing a lot of calls like `m in sorted_list_of_matrices` whe

[2017-11-07 22:24] fingolfin commented on #1868
As to the last part: allowing matrices where the rows are not separate objects is of course a central aspect of the matrixobj project, so I consider this here another strong motivation to work on that.

[2017-11-07 23:08] hulpke commented on #1868
I'm a bit surprised that this ends up as a timing issue, since the code (I think I'm talking about the same as you observe) is using element lists to save on element tests.

Roughly, a generating set for a subgroup is built up in a spinning algorithm. The basic operation thus is to test membership of an element in the group so far. Now, if the group has at most 50000 elements, an element list is u

[2017-11-07 23:24] fingolfin commented on #1742
I am not sure if it is realistic, but I *really* would love if we could get an alpha version of this ready for GAP 4.9. The alternative is to ship a severely broken HPC-GAP to people :-/.
If we could implement this, even in a sub-performant version, we could also get rid of `ward`, making it that much easier to build `HPC-GAP`...

[2017-11-07 23:45] fingolfin commented on #1868
Just some rambling and somewhat incoherent thoughts and remarks: I don't think the options @hulpke lists are necessarily mutually exclusive. For top performance, I believe one *must* force all matrices to use the same representation. This makes it possible to effectively cache the comparison function, and use a single hash function (which then also does not need to bother to stay compatible with o

[2017-11-07 23:47] fingolfin commented on #1868
So "Convert the matrices to vectors by concatenation" would be helpful right now (it avoids the row objects), and with `MatrixObj` you can do the same internally, while still being able to access the data as a matrix. So this is mostly good for convenience.

If you then ensure all those concatenated vectors / matrix objects use the same rep, you can use a hash table (or whatever) with a fixed and

[2017-11-08 13:44] fingolfin opened #1873 "Implement copying for T_OBJSET and T_OBJMAP"
In GAP, one currently cannot copy `T_OBJSET` and `T_OBJMAP` objects:
[code]
To fix this, several things have to be done:
* provide `CopyObjFuncs` and `CleanObjFuncs` table entries
* install at least type and marking table entries for `COPYING` variants.
* set suitable bag type names
* ...

I recommend searching e.g. `plist.c` for `COPYING` to get an idea of everything that has to be added. It shou

[2017-11-08 13:47] fingolfin commented on #1873
I think we should at the very least implement `ShallowCopy` (that ought to be fairly easy). We may wish to solve the main part of this issue by declaring object sets/maps as not "deep copyable", although I right now don't see a good argument for why we would do that?

[2017-11-08 14:56] fingolfin commented on #554
Slightly overdue ;-). I guess this will be postponed to 4.10 or even later?

[2017-11-08 15:29] fingolfin opened #1876 "Overhaul object copying in GAP and HPC-GAP, get rid of COPYING flag"
tl;dr: it would be nice if GAP and HPC-GAP used the same code for copying objects, and if we could get rid of the `COPYING` TNum flag in GAP, but I am not sure this is possibly w/o slowing down GAP:

Right now, copying a GAP kernel object (including lists, records, etc.) for most kinds of objects involves temporarily modifying the object, to insert a forward pointer to the copy, in order to allow

[2017-11-08 19:59] laurentbartholdi opened #1878 "Parser bug"
With the latest git head, I try:

[code]

and lots of empty lines follow:
[code]

[2017-11-08 20:13] fingolfin commented on #1878
For reference, this is what happens in previous GAP versions:
[code]

[2017-11-08 20:24] fingolfin commented on #1337
What's the status of this?

[2017-11-08 20:25] fingolfin commented on #1337
I suspect @james-d-mitchell fixed this in PR #1424 resp. 9326bbad3d5e6c230377c0784961446d74c5d4cd ... ?

[2017-11-08 20:27] fingolfin commented on #564
However, I don't think this needs to be in 4.9 -- we want to get that out soon, and there are other more important things we should take care of first. So I propose to remove the milestone, or change it to 4.10.

[2017-11-08 20:28] fingolfin commented on #907
While this would be nice to have, I don't think it's mandatory for 4.9.0, hence I just removed the milestone. Perhaps we can try to get this into 4.10.0.

[2017-11-08 20:28] fingolfin commented on #527
While this would be nice to have, I don't think it's mandatory for 4.9.0, hence I just removed the milestone. Perhaps we can try to get this into 4.10.0.

[2017-11-08 20:29] fingolfin commented on #220
While this would be nice to have, I don't think it's mandatory for 4.9.0, hence I just removed the milestone. Perhaps we can try to get this into 4.10.0.

[2017-11-08 20:29] fingolfin commented on #184
While this would be nice to have, I don't think it's mandatory for 4.9.0, hence I just removed the milestone. Perhaps we can try to get this into 4.10.0.

[2017-11-08 20:30] fingolfin commented on #997
While this would be nice to have, I don't think it's mandatory for 4.9.0, hence I just removed the milestone. Perhaps we can try to get this into 4.10.0.

[2017-11-08 20:33] fingolfin commented on #1759
The crash is gone. I suspect PR #1848 took care of it.

[2017-11-08 20:33] #1759 closed

[2017-11-08 20:36] fingolfin commented on #1176
This was resolved in PR #1753 by @ChrisJefferson (we really should make it a habit to mention issues affected by PRs in the PRs, ideally as "resolves #NNN`, so that we don't have resolved issues lingering around).

[2017-11-08 20:36] #1176 closed

[2017-11-08 20:48] fingolfin opened #1879 "Improve interaction between ctrl-c and Test()"
Right now, pressing ctrl-c while `Test(...)` is running does not open a break prompt, nor does it abort `Test(...)`. Instead, the user interrupt is treated like an error in the code being tested. This makes it difficult to abort certain long running tests; sometimes, if you are lucky, you can press ctrl-c quickly repeatedly to at least exit GAP, but even that can fail.

Perhaps we could teach `Tes

[2017-11-08 20:58] alex-konovalov commented on #997
I agree (perhaps even some 4.9.X will be fine, as it only adds new fields). One should do this:
- [ ] update PackageInfo.g in Example package
- [ ] update PackageMaker
- [ ] update ValidatePackageInfo
- [ ] update website scripts that extract details from PackageInfo.g for package overview pages.

[2017-11-08 21:01] alex-konovalov commented on #184
If there was a milestone, it could be that it was to prevent this falling below the radar - perhaps in such cases one should not remove it, but change to the next major release? OTOH, this could easily lead to milestone "polluted" by such issues that might be of a less importance, hence postponed, rather than being populated with more high-priority tasks.

[2017-11-08 21:06] fingolfin commented on #857
@ChrisJefferson status?

[2017-11-08 21:06] alex-konovalov commented on #564
@fingolfin agree - was going to suggest the same by same reasons. Will put 4.10.

[2017-11-08 21:08] fingolfin commented on #852
It would be really good to resolve this for GAP 4.9.

[2017-11-08 21:09] fingolfin commented on #1649
@markuspf what's the status of this? Any chance of this being resolve in time for 4.9.x? Let's add it to that mileston, then; or if not, let's add it to the 4.10.0 milestone?

[2017-11-08 21:11] fingolfin commented on #405
Added to 4.9.0 milestone; @markuspf feel free to move it to 4.10.0 if you don't have time to fix it.

[2017-11-08 21:24] fingolfin commented on #1866
Would be great to get this into 4.9. Shouldn't be too hard either. E.g. we could add an `etc/download.sh` shell script, which looks something like this (untested):
[code]
Then change `Makefile.rules` to use that script.

Caveat: This disables a trick we use to make our Travis builds a bit more robust, by passing lots of extra options to wget in `etc/ci-prepare.sh`, like this:
[code]
It should stil

[2017-11-08 21:27] fingolfin commented on #1273
I think this is really important for GAP 4.9 and quite easy to do.

[2017-11-08 21:28] fingolfin commented on #920
This has been resolved:
[code]

[2017-11-08 21:28] #920 closed

[2017-11-08 21:39] fingolfin commented on #1866
As @alex-konovalov correctly pointed out to me, end users won't care about these targets, so no need to get this into 4.9 (won't hurt either, of course).

[2017-11-08 21:41] james-d-mitchell commented on #1337
I'll check tomorrow morning

[2017-11-08 21:44] fingolfin opened #1880 "Disable "maintainer mode" in release versions?"
Right now, our build system detects if parts of it were modified, and in particular it invokes `autoconf` if it deems it necessary (e.g. because the timestamp of `configure.ac` is newer than that of `configure`. In GNU automake, this is called "maintainer mode"

This is perfect for developers using the git version of GAP. But for end users, this can lead to frustrating results, e.g. if a freshly u

[2017-11-09 00:21] alex-konovalov commented on #1567
For the record, I've just hit another instance of this problem trying to run `testinstall.g` in the GAP Docker container: https://travis-ci.org/gap-system/gap-docker-master-testsuite/jobs/299390501

[2017-11-09 09:39] james-d-mitchell commented on #1337
This is resolved by PR #1424 as @fingolfin says.

[2017-11-09 09:39] #1337 closed

[2017-11-09 11:14] stevelinton commented on #1868
Just to report a few more experiments:  Alexander's patch does reduce the time in CmpVec8Bit...  a bit, but adds much more time in permutation multiply.  I tried some changes to `InList`. At the moment a successful '\in' test for length 1 lists does two comparisons -- one to discover that the object belongs in position 1 and the other to check that it is equal to what is currently in position 1.

[2017-11-09 11:47] wilfwilson commented on #1522
With no packages loaded, on my Mac, I ran the above code with no problems, ending with `U:=Intersection(K,H);`. However I then ran `Index(F, U);` and `Rank(U)`, and got the following error:

[code]

Is this perhaps related to the recent p-group changes?

[code]

[2017-11-09 12:15] alex-konovalov commented on #1860
Waiting for the new Orb then. One could see this problem when current Orb is loaded in the new Travis test here: https://travis-ci.org/gap-system/gap-docker-master-testsuite/jobs/299400942

This Travis test allows everyone (not only to those who can access Jenkins) to see how  testinstall/standard/bugfix/extra behaves with no packages, with default packages, and with all packages loaded, using the

[2017-11-09 14:44] fingolfin commented on #1878
With a `git bisect`, I determined that this was introduced by @ChrisJefferson's multi-argument lambda code in ba5ca7482101c91fb7253ac6179dcd8c56cb1d20.

[2017-11-09 16:45] fingolfin commented on #1624
@lucjon This should be fixed on master thanks to PR #1848. If not, please reopen.

[2017-11-09 16:45] #1624 closed

[2017-11-09 19:52] ChrisJefferson commented on #1878
Found the bug, submitted a fix ( #1882 )

[2017-11-10 09:25] #1768 closed

[2017-11-10 13:19] markuspf commented on #405
Actually I am not sure anymore whether there's anything wrong here:

[code]
This doesn't terminate (proving infinity of this group doesn't work via the CommutatorFactorGroup procedure, and I don't know whether we should try very hard: One can compute a complete finite rewriting system and hence decide whether the group is infinite for some cases, but the question is whether one should try this.

[2017-11-10 13:19] markuspf commented on #405
Oh, I see the problem. Its bad if issues lie around for this long. I'll make afix.

[2017-11-10 15:00] fingolfin opened #1885 "HPC-GAP: Add configure option to set HAVE_NATIVE_TLS?"
We may want to add an `--enable-native-tls` option to configure, which would `#define HAVE_NATIVE_TLS 1`.

[2017-11-10 16:07] #1836 closed

[2017-11-10 17:31] fingolfin opened #1889 "Plan: add more "caching" abstractions"
## Motivation
We recently added `lib/cache.gi` and `lib/cache.gd`, currently with only a single function `MemoizePosIntFunction` in them.

Our plan is to add more functionality in there for common caching needs. One motivation is that this will help us to further reduce the number of files in `hpcgap/lib/`, as quite a few of them are in there simply because they are adding locking code to caches.

[2017-11-10 18:26] ChrisJefferson commented on #1889
One big issue is locking.

One reason for memoizeposintfunction's current design is it can be implemented without locks.

It could be extended to support sparse structures and strings with records.

Beyond that, you need a lock, and then decide where that lock should go. You want to ensure anything calling the cache won't take a lower lock, and also any function the cache calls won't take a higher

[2017-11-10 18:28] ChrisJefferson commented on #1889
Another consideration -- as these caches are design for use deep in the library, we can't make them operations or methods and use nice dispatch to choose a "nice" function.

[2017-11-10 19:39] fingolfin commented on #1889
Yes there are multiple things I did not (yet) discuss, including: implementation strategies (including the issues you mention); interface considerations; key-dependant attributes (another special kind of caches) and more).

As to our cache code not being able to use (or implement) operations and methods: that's perfetly fine by me.

[2017-11-10 20:01] fingolfin commented on #1889
Regarding locking: of course were possible we'll try to use atomic data structures. But since these are low level caches for use in the library (or by package authors who know what they are doing), I think locks are not completely out of the question; we "just" have to be very careful about how use them. But of course we agree that this is tricky.

So, I'd start by focusing on things we can do wit

[2017-11-10 20:39] fingolfin commented on #1543
FPLSA 1.2 was released a few days ago, yay :-).

[2017-11-10 20:39] #1543 closed

[2017-11-11 00:01] alex-konovalov commented on #1447
Simpcomp 2.1.7 released and picked up for the redistribution (see https://github.com/simpcomp-team/simpcomp/issues/5). It should appear in GAP 4.9.0 archive.

[2017-11-11 00:01] #1447 closed

[2017-11-11 17:46] alex-konovalov opened #1890 "Error message changed in testbugfix in 32-bit mode"
In master branch I have the following recent new diff occurring in 32-bit builds:

[code]

[2017-11-12 08:31] alex-konovalov commented on #1860
Picked up new Orb (and Semigroups too) - now the test is back to normal.

[2017-11-12 08:31] #1860 closed

[2017-11-12 08:33] ignatsoroko commented on #1522
wilfwilson, this error is probably due to FGA package not loaded. It contains methods for dealing with free groups.

Max Horn checked before and on Mac everything works fine (with FGA loaded). The error described above is Windows specific, as it seems.

[2017-11-12 17:22] alex-konovalov commented on #560
This may now be closed, as we have merged #1374

[2017-11-12 17:22] #560 closed

[2017-11-12 17:48] alex-konovalov commented on #1796
Discovered that @ChrisJefferson already raised this question in #855, and I mentioned some ideas in #538.

[2017-11-12 17:56] alex-konovalov commented on #1271
Step one would be to liaise with its authors and establish a repository under https://github.com/gap-packages

[2017-11-12 20:22] fingolfin commented on #1271
I have already exchanged numerous emails about this with the authors, it is planned.

[2017-11-12 21:22] stevelinton commented on #1890
The first messahe should be produced on a 64 bit system, the second on a 32  bit one. There is no way to test production of the first error message on a 32 bit system.

[2017-11-12 21:32] alex-konovalov commented on #1890
OK, then we have `tst/test32bit` and `tst/test64bit` directories to put two test cases there. I was surprised that it apparently passed the CI test, but indeed we are running the bugfix test only in 64-bit mode there.

[2017-11-13 11:19] sebasguts commented on #1889
Sorry for being late to the show, I will just give a quick overview of what we do in ToolsForHomalg:

* We have caches using arbitrary objects as keys, since we only need those in CAP. The Number of keys is fixed for each cache.
* We also offer the convenience for wrapping functions with caches, in ToolsForHomalg this method is called `InstallMethodWithCache`. It is possible to provide the cache o

[2017-11-13 16:03] fingolfin opened #1898 "Remove GMP (and possibly Boehm GC) from repository"
I'd like to eventually remove GMP (and also Boehm GC) from the repository. Why? I find it annoying to have it in the tree (e.g. it spams `git grep` results). It also throws off tools which analyze our repository (they add GMP to our line counts). I also find the whole "extern" dir somewhat confusing, so I'd like to hide it as much as possible...

As far as I can see, the main reasons we have GMP i

[2017-11-13 16:22] ChrisJefferson commented on #1898
I'm not opposed to this, although I also don't care about GMP (and Boehm, and libatomic) being in the repository.

I have never gotten an out-of-tree GMP to work properly on Macs, so I do want to keep good support for the in-tree version. My only comment should be that we should make sure it's not "hard to find". The easiest way to solve this would be, if the configure script can't find GMP, to ju

[2017-11-13 16:42] hulpke commented on #1842
How about a special routine for univariate pol ring/irreducible that dispatches to `AlegebraicExtension`
?

[2017-11-13 16:52] fingolfin commented on #1898
Off-topic, but: I still find it really bizarre that you have problems getting GMP to work on Macs. It shouldn't be harder than anywhere else. Well, at least with either a hand-build version (GMP supports the `./configure --prefix=WHATEVER && make && make install` dance just fine), or a sane package manager (MacPorts or Fink). I would expect that even Homebrew gets something so basic right, but of

[2017-11-13 16:55] fingolfin commented on #1898
(Same for GNU readline, which works great if self compiled, or via Fink and MacPorts, and for several GAP users I know also using Homebrew)

[2017-11-13 16:57] ChrisJefferson commented on #1898
I don't really care enough, as the built in one works perfectly, but sometimes GAP doesn't build, then sometimes packages can't find the GMP I built GAP with.

The problem may well be I'm trying to use GMP from homebrew, but homebrew seems to be the most popular package manager for macs at the moment.

[2017-11-13 16:58] ChrisJefferson commented on #1898
Readline just never gets found properly by configure, configure always claims it's broken.

[2017-11-13 17:03] ChrisJefferson commented on #1898
Not for this bug report, but I always see this (multiple machines)

[code]

[2017-11-13 17:10] fingolfin commented on #1898
That error is because it picks up BSD readline (shipped with Mac OS X), not the real readline. Try `./configure --with-readline=/usr/local` (or wherever homebrew is installed)

[2017-11-13 17:10] ChrisJefferson commented on #1878
This is now fixed. The message could perhaps still be better, but there are no silly blank lines.

[2017-11-13 17:10] #1878 closed

[2017-11-13 17:12] ChrisJefferson commented on #1898
I see the same problem on Ubuntu.

[2017-11-13 17:12] fingolfin commented on #1898
The GMP issues also sound as if you don't tell GAP and/or packages where GMP is. Of course we could use the bad old tradition of searching in /usr/local "for the user". Personally, in the past I found this causes more problems than it solves. But on Mac OS X, it would help Homebrew users on macOS. Anyway: with the revised package build system (both autoconf and gac) I am working on right now, pack

[2017-11-13 18:05] fingolfin opened #1899 "Deal with ncurses in build system: detect, or don't use..."
The following build failure can happen on Ubuntu (and in a similar fashion on other systems), despite `libreadline-dev` being installed:
[code]
The problem becomes clear when looking at `config.log`:
[code]

So the problem was/is caused by us always adding `-lncurses` to the linker flags, but `libncurses5-dev` may not be installed.

This is very annoying to debug for a user, as there is no hint ab

[2017-11-13 19:45] pedritomelenas commented on #1842
The problem here is that one wants to avoid testing if the ideal is irreducible. One could do what @hulpke suggests when `AsField` is called for R/I.

If R is polynomial ring is over a field K, then one takes p as the gcd of the generators of the ideal I, and `AsField(R/I)` could return `AlgebraicExtension(K,p)`.  Indeed, if one calls `AlgebraicExtension`, it checks if the polynomial is irreducibl

[2017-11-13 22:31] alex-konovalov commented on #1898
Regarding

Of course we have weekly builds of the release candidate in Jenkins. It wraps master branch with inserted version numbers and release date, pre-built documentation, latest packages picked up for the redistribution, etc. While it sits behind the firewall, there is no obstacles to either automate publishing it by copying the archive(s) to some publicly accessible location, or have a Jenki

[2017-11-14 12:24] ThomasBreuer opened #1902 "Bug in the computation of a permutation group isomorphic to a group of automorphisms"
The following bug was not present in older versions of GAP.

[code]

I get the wrong result in GAP 4.8.7 and 4.8.8,
and also in a not too old development version.

[2017-11-14 15:07] fingolfin commented on #550
To give another concrete use case for integer accumulators: computing binomial coefficients. Since I needed faster ones for a project, I looked into implementing `Binomial` in C. A naive direct conversion of the GAP code yielded only a minor speed up. Calling GMP's `mpz_bin_uiui` resp. `mpz_bin_ui` however, is asymptotically faster, and tremendously so, and I strongly suspect this is for the most

[2017-11-14 15:48] hulpke commented on #1902
Ouch! I'll fix it.

[2017-11-14 17:31] fingolfin commented on #1824
OK, that was long again :-). Regarding (1B): I think it's simply that none of us *care* about `DirectProductElement` are printed. I almost never encounter them in my work, and even if, printing them is the least of my concerns. If you'd like them to print differently, make a separate issue on that (ideally with a terse description of the request). Or directly submit a PR implementing the desired c

[2017-11-14 20:25] hulpke commented on #1902
I have corrected it. The problem was that the formula for outer automorphisms for groups of type C only works for parameter n\ge 3, C2(q) needs to be considered as B_2(q) instead. This is fixed (though there is so far nor formula for type B implemented.

[2017-11-14 22:42] alex-konovalov commented on #1859
@fingolfin yes, fine - I am not observing this any more.

[2017-11-15 10:07] #1899 closed

[2017-11-15 10:21] alex-konovalov commented on #1849
For now, @ChrisJefferson in #1910 makes the process test pass by disabling the IO signal handler. This would have to be revisited after the next IO release.

[2017-11-15 15:22] markuspf opened #1912 "`MakeImmutableObj` is broken for records"
The following code crashes HPC-GAP

[code]

[2017-11-16 12:28] fingolfin opened #1914 "Split scanner.c, move io part out (say into io.c and io.h)"
I always found it very confusing that things like `OpenInput`, `Pr` etc. are inside `scanner.c`. Sure, I understand nowadays why (it is also explained in the comment at the top of `scanner.c` and `scanner.h`. I still find it confusing, and if I don't touch the GAP kernel for some time, will forget.

As it is, the two parts seem to be only very loosely coupled, so I think it'd be rather easy to sep

[2017-11-16 14:11] #1902 closed

[2017-11-16 16:04] #1890 closed

[2017-11-16 18:27] fingolfin opened #1917 "Add a unit test framework for C code, to test e.g. ObjInt_UInt, ObjInt_Int8, ObjInt_Int"
It would be good to have a C unit test framework where we can test dedicated kernel functions without having to come up in a "natural" way. Right now, the best one can seems to be to write C functions `FuncTEST_SOME_CODE`, export them to GAP, and then call them from there.

A general framework could also do that, but with a single function, which then is responsible for executing the whole test su

[2017-11-16 22:40] hulpke commented on #1868
I think at this point we're in a situation where a significant improvement would come from hashing. The current hashing of matrices over a finite field happens through (probably badly written) ad-hoc library code.
To improve on this I think we need:
- A function that selects a suitable matrix type (part of this is already in the hash code) for immutable matrices, based on giving a group/algebra ge

[2017-11-17 02:12] hulpke commented on #1898
A remark from someone clueless about some of the deeper innards:
I really like that I get a working GRP as part of the git pull.

I would hate it, if I had to install and maintain a GMP separately, in particular if this would have to work somewhat orthogonally to the OS upgrade, have compilation issues (I am using a Mac and their clang compiler has ideosynchrasies) or would descend into library he

[2017-11-17 09:19] fingolfin commented on #1898
@hulpke yes, my proposal included the `make download-gmp`.

Another variant would be that if configure/make detect that GMP is missing, they simply automatically download them, *if* curl or wget are installed (the former is always installed on macOS, and I think most Linux machines have curl or wget installed). If neither wget or curl are installed, it'd still error out.

Anyway, this is not somet

[2017-11-17 09:21] fingolfin commented on #1868
Yes, this is definitely something I want, too, and part of our (well, mine at least) motivation for creating the `datastructures` package was to get to this eventually.
But not for 4.9, obviously, maybe for 4.10 :-)

[2017-11-17 13:49] fingolfin opened #1918 "HPC-GAP: 3-argument version of Add for atomic lists is broken"
Consider this:
[code]
versus this:
gap> l:=AtomicList([1,2,3]);;
gap> Add(l, 4); l;
[ 1, 2, 3, 4 ]
[code]
As you can see, in the atomic list case, `ipos` is simply ignored.

[2017-11-17 17:13] fingolfin opened #1922 "Add ability to abort processing of a .tst file"
Sometimes, one wants to run a test only conditionally. Say only on 32 bit systems, or only if a certain package is available, or ...

For this, it would be nice if a test could somehow signal that it wants to be skipped. Something like this:
[code]
Then we need to teach `Test` to skip the test; i.e. it would stopand `TestDirectory` would simply proceed to the next file.

One could also show a mess

[2017-11-18 10:09] Stefan-Kohl opened #1924 "Broken '~'"
###  Observed behaviour in 4.8.8 (and expected behaviour)
gap> LoadPackage("rcwa");
gap> LoadDatabaseOfGroupsGeneratedBy3ClassTranspositions(6);
"3CTsGroups6"

### Observed behaviour in master branch (as reported by automated package tests)
gap> LoadPackage("rcwa");
gap> LoadDatabaseOfGroupsGeneratedBy3ClassTranspositions(6);
Error, '~' does not have a value here

[2017-11-18 11:12] alex-konovalov commented on #1924
Thanks. Just to add that something similar happened before - see
* https://github.com/gap-system/gap/issues/1133
* https://github.com/Stefan-Kohl/stefan-kohl.github.io/issues/3

[2017-11-18 19:52] fingolfin opened #1925 "Rewrite `test-error` using `LogTo` instead of bash redirects"
I think we could redo `test-error` using GAP's `LogTo` command instead of using bash redirects. The advantage of this would be that we'd see both input and outputs in the `.out` files, and exactly as they'd appear on screen, and I'd find that a lot easier to read and understand.

[2017-11-18 22:39] alex-konovalov opened #1926 "Manual refers to undocumented IsSmallList"
`IsSmallList` is not documented but after #1905 the manual refers to it, hence building the manual results in this:
[code]

[2017-11-18 22:50] olexandr-konovalov opened #1927 "Better detection of problems with building GAP manuals in CI"
At the moment, `makemanuals` Travis test calls `make doc`, which calls `doc/make_doc` script. It will be useful if `doc/make_doc` would finish with some exit code, and we would be able to detect if the build fails. In particular, we currently need to check manually for unresolved references, and that is easy to overlook (see e.g. https://travis-ci.org/gap-system/gap/jobs/302054144 for PR #1905).

[2017-11-19 00:19] alex-konovalov commented on #1924
The full error message points to `pkg/rcwa-4.5.1/data/3ctsgroups6/database.g` called from called from `ReadAsFunction( Concatenation( PackageInfo( "rcwa" )[1].InstallationPath, "/data/3ctsgroups6/database.g" ) )( )`. The file `pkg/rcwa-4.5.1/data/3ctsgroups6/database.g` has only several usages of `~`, so I've managed to create a minimal example.

1. Pasting in GAP
[code]
results in the error messa

[2017-11-19 01:41] alex-konovalov commented on #852
Indeed. I've just tested with master branch and PrimGrp package, and the last reported discrepancies are still occurring there. Maybe @hulpke could help?

[2017-11-19 08:54] ChrisJefferson commented on #1924
Thanks. I'm sure I remember already fixing this bug once! But obviously we didn't add a test.

[2017-11-19 11:02] ChrisJefferson commented on #1917
I previously thought about doing this with a special package, although that would still require exporting the functions to the GAP level.

I started with a simple package: https://github.com/gap-packages/kerneltest . We could extend and improve this.

[2017-11-19 13:05] ChrisJefferson commented on #1925
I didn't realise `LogTo` was embedded so deeply into GAP it handled break loops correctly (it seems it does).

[2017-11-19 13:56] fingolfin commented on #1926
I am not sure we want to document it. We can just remove the ref to it from the documentation again.

[2017-11-19 14:14] alex-konovalov commented on #1926
Either way is fine with me.

[2017-11-19 14:47] fingolfin opened #1930 "HPC-GAP: CYCLICACHE cache in CreateIsomorphicPcGroup is racy"
Function `CreateIsomorphicPcGroup` caches cyclic groups in a cache variable named `CYCLICACHE`. For HPC-GAP, that code was modified to use `atomic` statements for thread safety. However, the coding that has a race condition: it first looks for a match within an atomic readonly. If none is found, the lock is briefly released and reacquired as readwrite. In that time, another thread may insert the d

[2017-11-20 22:56] dominicelse opened #1931 "Hap: ResolutionAlmostCrystalQuotient produces error"
Running the code

[code]

### Observed behaviour
[code]

### Copy and paste GAP banner (to tell us about your setup)

[code]

[2017-11-20 23:21] alex-konovalov commented on #1931
@dominicelse thanks - I've notified the HAP author.

It seems to me that the usage of `GroupHomomorphismByImagesNC` in HAP results in an invalid homomorphism object (which then triggers an error message from `GroupGeneralMappingByImages_for_pcp` function in the Polycyclic package).

[code]

[2017-11-20 23:50] alex-konovalov commented on #1924
#1929 should fix this.

BTW, @Stefan-Kohl, I observe a diff in RCWA tests when GAP is started with `-A` option:
[code]

[2017-11-20 23:52] alex-konovalov commented on #852
Another option could be to temporary disable `ONanScottType` for order 3600.

[2017-11-21 00:03] Stefan-Kohl commented on #1924
Firstly, thank you for fixing this!

Secondly, I already checked that the observed diff is harmless (otherwise I'd have reported it as well ...). It's just a matter of another representative being chosen, likely due to changes elsewhere in GAP. The result is correct (since the returned permutation moves the points in the right way), and the proper fix is to put a double semicolon after the stateme

[2017-11-21 00:06] alex-konovalov commented on #1924
It's thanks to @ChrisJefferson for the actual fix then! For the `RepresentativeAction` example, I hope the fix will appear eventually in due order.

[2017-11-21 00:14] Stefan-Kohl commented on #1924
I think harmless diff's in tests are low-priority issues, which are fixed when a new version of the package is released anyway. I'm rather pleased that presently there are so few of them, although quite some things appear to have been changed in the master branch in comparison with GAP 4.8.8.

[2017-11-21 00:18] alex-konovalov commented on #1924
That's exactly what I mean by "appear eventually in due order"... After all, it's for a package autor to decide. Please just remember to look periodically at "Packages requiring inspection" tests at https://github.com/gap-system/gap-distribution, as I certainly can not judge the harmlessness of  package diffs without package authors.

[2017-11-21 10:59] alex-konovalov commented on #1849
Fixed now in #1851 in combination with IO 4.5.0 release. Thanks @ChrisJefferson @fingolfin

[2017-11-21 10:59] #1849 closed

[2017-11-21 13:32] fingolfin opened #1933 "aclib: HTML version of manual is truncated"
The HTML version of the last released version of the aclib package is truncated: it stops in the middle of chapter 2 (see <https://www.gap-system.org/Manuals/pkg/aclib/htm/CHAP002.htm>). Chapters 3 and 4 are completely missing, but are present in the PDF version of the manual.

It looks a bit compilation of the manual run into an error, and stopped, and this was not noticed when preparing the rele

[2017-11-21 13:46] fingolfin commented on #1931
The problem starts with these two lines in HAP:
[code]
Even without the length mismatch Alexander already diagnosed, this is incorrect, as it relies on the order of generators matching, which is true right now, but is *not* guaranteed by the specification of the functions involved in computing GD and pcpGD resp. their generating sets. However, `GDhomG` is actually never used! So, the first step of

[2017-11-21 14:37] #1914 closed

[2017-11-21 14:40] #1924 closed

[2017-11-22 09:14] #1926 closed

[2017-11-22 10:16] markuspf opened #1940 "Unexpected behaviour with list slices"
[code]

Whereas
[code]

I am pretty sure this should work without the brackets, but I haven't looked yet whether it's hard or easy to do.

[2017-11-22 10:29] fingolfin commented on #1940
I think this is correct. The two expressions have different meaning: The first, `l{[2,3]}[1]`, means: extract a sublist of from `l` consisting of the second and third element; then apply to each element of the new list the map  `x -> x[1]`. Which gives an error, because `x` is an integer in both cases.

The second means: extract that sublist; then apply `x -> x[1]` to that sublist.

[2017-11-22 10:30] fingolfin commented on #1940
See also https://www.gap-system.org/Manuals/doc/ref/chap21.html#X7921047F83F5FA28

[2017-11-22 10:31] fingolfin commented on #1925
As an added bonus, this would also make sure the `LogTo` mechanism gets some testing and code coverage ;-)

[2017-11-22 10:31] #1940 closed

[2017-11-22 14:20] fingolfin commented on #1286
A backtrace for this looks like this, repeated over and over:
[code]

A naive fix would be to prevent an operation from dispatching to itself, but clearly one can extend this to n operations, each dispatching to the next, in a cycle, so that naive fix is not enough.

Instead, we should adapt the existing `RecursionDepthTrap` mechanism to cover this case. Right now, we check for recursion inside `D

[2017-11-22 15:18] ChrisJefferson commented on #857
Has been fixed.

Some lines in records are mapped as neither read or executed, because we handle records specially, rather than making a Stat or Expr for every line, but there is at least one executed line in a record, and no inconsistencies.

[2017-11-22 15:18] #857 closed

[2017-11-22 15:26] ChrisJefferson commented on #1925
Just in case someone decided to do this (I don't have time right now).

You probably still want redirections, just send them to `/dev/null`. If GAP's stderr is connected to the terminal, it will, when it enters the break loop, use that connection to grab the keyboard, which may causes tests to appear to hang. I think (there may be a better way) you have to send stderr to a file (or /dev/null) to s

[2017-11-22 16:29] fingolfin commented on #1273
Working on this now.

[2017-11-22 16:49] fingolfin opened #1944 "Write some text introducing HPC-GAP and warning about its status (e.g. as README.hpcgap.md)"
Since we are going to bundle HPC-GAP, people will discover it and wonder about it.

One really bad thing that could happen is that people find it, try it, and are disappointed, and then will never consider it again. Or people may be interested, but can't figure it out.

So I think we should have a `README.hpcgap.md` which briefly says what HPC-GAP is, what its status is, how to build it, and where

[2017-11-22 21:41] #1030 closed

[2017-11-23 12:16] fingolfin opened #1945 "Automatically search for GMP and GNU Readline in a few additional places, if we cannot find them elsewhere"
When searching for GMP and GNU Readline, if we fail to detect them w/o specific compiler flags, then we could iterate over a list of standard locations where they might be found instead. Specifically, for OS X, that could be the `include` and `lib` subdirectories of...

 * `/sw`, for a typical Fink installation;
 * `/opt/local`, for a typical MacPorts install;
 * `$(brew --prefix)` for Homebrew (a

[2017-11-24 13:12] #1918 closed

[2017-11-24 13:20] #1273 closed

[2017-11-27 18:25] fingolfin opened #1954 "READ_TEST_OR_LOOP should perhaps update memory_allocated resp. MemoryAllocated"
It updates `time`, `last`, `last2` and `last3`, so perhaps it should also do that for `memory_allocated`.

Perhaps it should also be moved into the same file as `Shell` and `FuncSHELL` (which currently are in `gap.c`) -- perhaps all could go into a new `shell.c`?

[2017-11-28 13:55] ChristopherRussell commented on #852
I am happy to help make the fix since I created the database files. However my understanding of primitive groups is lacking. In particular, I don't understand the difference between the primitive groups of type 4a, 4b and 4c well enough to classify these groups by looking at them myself. When I last looked at this issue I felt unable to fix it myself due to this lack of understand. I do not recall

[2017-11-28 23:33] alex-konovalov commented on #1522
Good news - I can reproduce this :) On Windows 8 with 32-bit and 64-bit GAP 4.8.8 and with 32-bit release candidate for GAP 4.9, starting GAP with `gap.bat`. Next, on Windows 7 machine with Cygwin, starting GAP with `gap.sh`, it crashes with `Segmentation fault (core dumped)` message. This is what is shown when I start GAP in gdb:
[code]
and
[code]

[2017-11-29 00:54] alex-konovalov commented on #1522
I've looked at `Rank(U)`. It boils down to `FreeGeneratorsOfGroup(U)`, which involves using FGA package. Now this worked:
[code]
but this crashed:
[code]
Without FGA, I am observing the same problem which @wilfwilson mentioned, so disabling it does not seem to be a workaround.

Next, it calls `FGA_FindGeneratorsAndStates`, and that crashed at the very end when `SetFGA_States` is called. This is th

[2017-11-29 00:58] alex-konovalov commented on #1522
@ignatsoroko could you please try if  commenting out line 329 in lib/Autom.gi from the FGA package has an effect for you? Even although that may not be the actual cause of the problem.

[2017-11-29 02:08] ignatsoroko commented on #1522
@alex-konovalov I just tried to comment the line `SetFGA_States(A, Q);` in fga/lib/Autom.gi. Nothing good came out of it. Now an easier code causes crash with stack dump:
[code]
Obviously, `SetFGA_States(A, Q)` sets the computed value Q for the object A. It is needed for other methods in FGA package.

[2017-11-29 05:26] ChrisJefferson commented on #1522
Is some package spawning new threads? Do we know which one?

[2017-11-29 10:16] alex-konovalov commented on #1522
@ChrisJefferson Threads appear n gdb output even when GAP started with `-r -A`:
[code]

[2017-11-29 10:24] alex-konovalov commented on #1522
@ignatsoroko thank you for example. Using it, I can now reproduce the crash in master branch when GAP is started with default set of packages. But it works when GAP started with `-r -A`. It could be that FGA is a red herring here, but I am nor sure yet.

[2017-11-29 10:28] fingolfin commented on #1522
Just to clarify: Even if FGA is involved in triggering the crash, the fundamental bug cannot be in it -- it is pure GAP package, no kernel extension. Crashes are always GAP's fault (or that of a kernel extension).

Now, `SetFGA_States` is just the setter of the `FGA_States` attribute. And that setter is compiled GAP code. So it may possibly lead to a crash. To get a better idea, it might be helpfu

[2017-11-29 10:31] fingolfin opened #1965 "HPC-GAP: document return value of `Migrate*` and `Share*` functions"
These functions all seem to return their first argument, which is very handy, and liberally used in our code base. But the hpc manual entries for these functions does not mention it.

Clearly, it should.

[2017-11-29 10:34] alex-konovalov commented on #1522
With @ignatsoroko's short example:
* load GAP with `-r -A`: example works
* load FGA package - no dependencies, so no other packages loaded
* Now rerun example - it crashes.

@fingolfin yes, certainly. I will now try to recompile and see.

[2017-11-29 10:34] ChrisJefferson commented on #1522
I think we need more stack.

I did a horrible hack where I ran make with `V=1` and then added `--stack,16777216` to the `-W` options like this:

[code]

Then I ran:

`.libs/gap.exe -l .` and the tests pass.

I am a little confused as to exactly how cygwin's executables get linked together, so I'm not sure how to edit the makefile to do this "properly" (and am completely swamped today and tomorrow)

[2017-11-29 10:43] alex-konovalov commented on #1522
@fingolfin recompiled with `#define AVOID_PRECOMPILED`: still crashes.

[2017-11-29 10:57] chsievers commented on #1522
It might be relevant that FGA potentially creates a lot of garbage collectable records.

If I had to disable a normally harmless attribute setter to avoid a crash, I wouldn't trust any result I might still be able to get, as it seems to indicate some memory corruption.

BTW, to better know which `Rank` is computed, there is also `RankOfFreeGroup`.

[2017-11-29 10:59] ssiccha commented on #852
I just checked the first primitive group of degree 3600. The database is correct and the function is wrong. :(

The database says the first group is "3b" which is simple diagonal type. The function says its "4c", so a subgroup of a wreath product of an almost simple type primitive group, which is completely different.
In diagonal type groups of types "3a" and "3b" the degree is a power of the orde

[2017-11-29 11:08] alex-konovalov commented on #1522
@chsievers thanks, see also my updated comment above regarding non-viewable `A!.initial`.

[2017-11-29 11:30] chsievers commented on #1522
@alex-konovalov `A!.initial` is a record that represents a state containing lists of other states that refer back to this state, so it is not something one would usually want to view (but it should be possible with small automata). Of course this mutual referencing is also a challenge to the garbage collector.

[2017-11-29 16:03] ThomasBreuer opened #1971 "Problem with a property of an action homomorphism"
The following happens in GAP 4.8.7, 4.8.8  and a not too old version of the master branch:

[code]

This has worked in older versions of GAP.

[2017-11-29 16:46] stevelinton opened #1973 "How to get time AND memory used by a command?"
After running a command in a recent build of GAP, two global variables, time, and memory_allocated are set  to the relevant statistics of the command execution.

If you access one of them (eg time), that is another command and overwrites memory_allocated or vice versa, making it hard to see both statistics of a single command. You can do:
[code]
is you think of it, but it not obvious or natural. O

[2017-11-29 20:42] hulpke commented on #852
@ssiccha
I'm not sure why you access the group through a sublist, but I presume we are talking about
TransitiveGroup(3600,1) ?

When I try this group, both stored library data and ONanScottType return 3b, as required:

     gap> g:=PrimitiveGroup(3600,1);
    <permutation group of size 648000 with 2 generators>
    gap> ONanScottType(g);
    "3b"
    gap> g:=Group(GeneratorsOfGroup(g));
    <permu

[2017-11-29 21:19] markuspf commented on #852
curious, which version of GAP are you using, @hulpke? I get

[code]

on today's master (commit 952b2c90), can any packages get involved in this?

[2017-11-29 21:56] hulpke commented on #1971
This seems to stem from using `Image` instead of `Range` in line 668 of ghom.gi (indicating once more that we want not just inverse but an `inverseRestrictedToImage'...) I'll see whether I can just change this one line without problems cropping up elsewhere.

[2017-11-29 22:39] ssiccha commented on #852
@hulpke yes, that's the group. I was lazy. ^^

Weird. Git blame says the corresponding line in `ONanScottType` never changed. Also I'm 99% sure that simple normal subgroups of the socle of a diagonal type group need not be transitive. 3600 should be the first degree where this becomes relevant.

[2017-11-29 23:02] fingolfin commented on #1971
Rhis reminds me of issue #944, which I kind of forgot...

[2017-11-29 23:05] fingolfin commented on #944
It would be good to resolve this before 4.9, if possible, as this causes regressions compared to 4.8. i'll post more to tomorrow after some sleep.

[2017-11-29 23:59] alex-konovalov commented on #852
@hulpke: I see the same as @markuspf with the freshly checked out master:
[code]
in all three cases (no/default/all packages).

[2017-11-30 15:33] hulpke commented on #852
Ah. In my version the line before the transitivity test is

    cs:=CompositionSeries(s);
    # if the group is diagonal, the diagonal together with a maximal socle
    # normal subgroup generates the whole socle, so this normal subgroup
    # acts transitively. For product type this is not the case.
    t:=cs[2];
    if IsTransitive(t,dom) then

That is t is a maximal normal subgroup of the socle

[2017-11-30 15:40] ssiccha commented on #852
I'm pretty sure the fix should be something along the lines of this:
[code]

Basically if the socle is only the copy of 2 simple groups `t` and `m` are identical, which is why it worked for degree < 3600.

I'll wrap it up nicely tomorrow and try to write some tests. Also, I haven't understood the code for case "4b" yet.

[2017-11-30 15:47] ssiccha commented on #852
Ah, you beat me to it. ^^

Also, I think we may need both a maximal and a minimal normal subgroup of the socle. If I run your version I still get a difference for e.g. `PrimitiveGroup(3600,6)`.

[code]

[2017-11-30 15:48] hulpke commented on #1971
Ok, I've looiked at this again, as there was some years ago an issue where code implicitly wanted an inverse defined on the image. So just flipping it back is likely to trigger problems elsewhere.
Currently restricting a homomorphism is comparatively expensive. (Yes, I still have homomorphism cleanup on my to-do list :-( )

What I would really like to do is to add a separate operation `RestrictedI

[2017-12-01 00:06] hulpke commented on #852
@ssiccha
I have rewritten it again in
https://github.com/gap-system/gap/pull/1937/commits/ae15e131cd2753f81f5334c334a74ed2b73561f6

to have it match better with the proof in Dixon/Mortimer, page 126. 3600/6 now gets 4a.

I'll think once more whether this can be made more efficient.

Sorry for the trouble!.

[2017-12-01 13:09] ChristopherRussell commented on #852
Once `ONanScottType` is working correctly, if you could write the output of the following in GAP:

[code]

then I can make the changes to the database.

[2017-12-01 14:26] ssiccha commented on #852
@hulpke Ah, that looks very nice. I'll think about whether some of the computations can be left out and replaced by comparisons of the degrees and group sizes. :)

[2017-12-01 17:11] fingolfin commented on #1643
It did not "crawl in", it was added (by me) quite deliberately, with a comment explaining why.

[2017-12-01 17:22] fingolfin commented on #1643
I mean, this definitely needs to be resolved in some way, but let's do it properly before exposing this to the general population.

My main concern is that to use it, the caller has to "know" which arguments are accepted, and then use code like
[code]
and this is then repeated everywhere. In contrast, `ImmutableVector` and `ImmutableMatrix` work with arbitrary arguments. Which is why I introduced

[2017-12-01 23:16] #34 closed

[2017-12-01 23:41] alex-konovalov commented on #1203
Closed by #1897

[2017-12-01 23:41] #1203 closed

[2017-12-01 23:59] alex-konovalov commented on #1161
This should be completed after #1587 (already merged) with revised #1194.

[2017-12-02 01:01] alex-konovalov commented on #80
For the record, `GAPInfo.TestData` is not in use by packages any more.

[2017-12-02 11:55] #405 closed

[2017-12-02 15:08] ssiccha commented on #852
@hulpke The idea with a maximal normal subgroup `m` should work fine. The problem was that `m` is transitive both when the group is of type "3a/b" and also when it's of type "4a/b". In the product action case "4c" `m` can't be transitive so that's fine. We can distinguish cases "3" and "4" by the degree and the size / number of simple factors of the socle. Then we only need to compute the orbit of

[2017-12-03 21:45] #998 closed

[2017-12-04 10:09] fingolfin opened #1981 "Add `--quit-on-syntax-error` option?"
For our CI tests, it would be helpful if we could reliably and globally detect syntax errors -- these often are not detected by tests, yet can contain crucial hints about issues.

To this end, having an options which turns every kernel call to `SyntaxError` (and possibly also `SyntaxWarning`) into a hard error with non-zero exit code would be useful.

[2017-12-04 11:02] markuspf commented on #1981
Max Horn writes:

I would like to be able to catch SyntaxError and SyntaxWarning for
Jupyter (which will probably necessitate some "callback" mechanism?

[2017-12-04 12:20] ChrisJefferson commented on #1981
Seperate from @markuspf wanting a callback, we could extend/rename `--quit-on-break` to also cover syntax errors.

[2017-12-05 10:25] fingolfin commented on #1778
I agree that the float documentation in GAP is lacking, although I feel compelled to point out that `SinCos`, `Atan2`, `Log1p`, `Erf`,  all are fairly standard and established names -- I know all of them, and I hardly qualify as an expert in numerics. But that's no excuse to at least give one line of information. It would be great if somebody did that, there are plenty of places where one can lear

[2017-12-05 11:04] fingolfin opened #1988 "Several default methods for floats are wrong"
Several default methods for floats in the GAP library are wrong, and can e.g. lead to mathematically inconsistent implementations of floateans. Possible actions include:
* removing these default operations
* introducing additional filters (e.g. to differentiate "real" from "complex" floats generically, and also "interval" floats from "non-interval" floats.

Here are some of the functions I conside

[2017-12-05 11:53] fingolfin commented on #305
@alex-konovalov what's the status of this?

[2017-12-05 16:02] fingolfin commented on #555
I think this is essentially done for now (the TNUM space is now quite cleanly organized), resp. in progress (e.g. if we can get rid of `IMMUTABLE` as part of the TNUM, this will free up a lot; similar for COPYING).

So closing this for now. But perhaps you had something else in mind for this issue -- if so, of course you can reopen, but then perhaps clarify what the intention is?

[2017-12-05 16:02] #555 closed

[2017-12-05 16:10] fingolfin opened #1992 "Float parsing bug related to line continuations"
### Observed behaviour
In the following example, I press enter twice after entering the backslash:
[code]
or
[code]

### Expected behaviour
A continuation prompt should appear immediately in both cases, e.g.
[code]
resp.
[code]

### Analysis

Part of the problem here is that dealing with line continuations is not handled in a uniform manner, but rather the relevant logic has to be replicated every

[2017-12-05 16:12] fingolfin commented on #1295
The first part of this should be resolved by PR #1906.

However, still no transparent use of `ward`. However, since ward currently is broken (see issue #1742), and we might move to a solution without it, this may not be necessary after all. Time will tell.

[2017-12-05 16:43] fingolfin opened #1993 "EAGER_FLOAT_LITERAL_CACHE and FLOAT_LITERAL_CACHE are dangerous and source of leaks"
When coding GAP functions that contain float constants, these constants are coded either as "lazy" or "eager".

Eager constants are using a specific type of floats (e.g. the built-in machine floats). These are coded by evaluating the constant into float object, which is stored in `EAGER_FLOAT_LITERAL_CACHE`, and then the index where it was stored is coded into the function. Example:
[code]
Lazy co

[2017-12-05 16:57] fingolfin commented on #1993
To clarify: not exposing `EAGER_FLOAT_LITERAL_CACHE` is trivial. For `FLOAT_LITERAL_CACHE` we also need to add a replacement way which allows `SetFloats` to flush it, but that, too, is easy.

[2017-12-05 19:56] fingolfin commented on #811
I think we should close this. Or else at last sit down and specify what exactly the goal here is... Getting rid of all of these seems like an endless task, because new ones will keep popping up.

[2017-12-05 19:57] fingolfin commented on #811
E.g. one possible resolution would be to add a test to our test suite which checks that this list does not change. Then, if somebody gets rid of another of these, they'll have to adjust the test, which is easy enough; but we'll also notice if somebody introduces a new variable in this list.

[2017-12-05 20:01] fingolfin commented on #1627
@markuspf does this really need to be resolved for 4.9? I see no pressing need

[2017-12-05 20:20] fingolfin commented on #1522
Actually, the mutual referencing isn't a problem for the garbage collector at all, that's trivial.

But other code which tries to traverse this data structure may have a harder time. E.g. the code for printing a record has to do some elaborate things in order to produce somewhat understandable results. But that, too, should be fine here (after all, the crash is not caused by printing).

The messag

[2017-12-05 21:28] fingolfin commented on #1522
So `SetFGA_States` here is just a the default "system setter", defined in `lib/type1.g` and then compiled to C code in `src/c_type1.c`. That was the reason I asked to avoid that, as I hoped it would turn the offending code into GAP code, which is easier to debug. Alas, that was in vein, because the actual setter function is produced by the kernel function `SETTER_FUNCTION`. The code of that is ins

[2017-12-05 21:38] fingolfin commented on #1522
@alex-konovalov can you perhaps check if this patch to the build system fixes the problem?
[code]

[2017-12-05 21:42] fingolfin commented on #1880
Another way to tackle this could be to only call autoconf if it is available.

[2017-12-05 22:08] fingolfin commented on #1820
GAP binaries on all architectures are not anymore in `bin/GAPARCH`, and hence also not on Windows. Instead, they are in the GAP root directory.

So I am not sure if you are saying that it isn't there, either?

Anyway, I see references to `\bin\@GAPARCH` resp. `/bin/@GAPARCH@` in files in `cnf/cygwin`. Those should be adjusted to instead reference the GAP base directory.

[2017-12-05 22:25] alex-konovalov commented on #1820
@fingolfin ah, indeed there is `gap.exe` in the GAP root directory too, but of different size:
[code]
I will see if pointing bat file to that will work instead of copying files from `.libs`.

[2017-12-05 22:46] ChrisJefferson commented on #1820
We need to look over how the chain executable is built. We apply some "magic" to it (run a command on it to increase the heap), and we should check which are being built in which ways. Having two different executables isn't good -- let's figure out which one we want.

[2017-12-05 23:10] fingolfin commented on #1820
Actually, most likely one of the two isn't a real exe, but rather a shell script invoking the other one (at least that it's how it would be on a UNIX system in a comparable situation). @alex-konovalov perhaps the `file` tool can test this for you, i.e. `file gap.exe .libs/gap.exe`

The reason for this is, very roughly speaking, to deal with DLL hell in an uninstalled executable. Not that we really

[2017-12-05 23:13] alex-konovalov commented on #1820
@fingolfin here it is:
[code]

[2017-12-05 23:19] fingolfin commented on #1820
Ah OK, then it's not as bad -- no shell script here, just a stripped executable. So just use the regular one, not .lib/gap.exe

[2017-12-06 10:32] #1880 closed

[2017-12-06 12:46] chsievers commented on #1522
So `SetFGA_States` does a lot more than an assignment!
That was never intended and made me a bit nervous at first.
Actually it doesn't harm correctness, but costs time and memory: now the whole automaton exists twice!
I think I'll change the attribute to a component of the automaton representation.
Then it will also no longer be possible to hit the recursion limit this way.

(Also, it is not just

[2017-12-06 13:09] fingolfin commented on #1522
@chsievers Well, attributes in GAP are by definition immutable. So if you set an attribute to a value which is mutable, GAP must make an immutable copy. If you don't need the mutable original anymore, you can also call `MakeImmutable` on it first, before setting it as value for the attribute.

Of course if you stop putting this value in an attribute, you don't need to worry about that anymore.

[2017-12-06 15:49] fingolfin opened #1999 "Regression: warning when saving workspace"
I get this on master:
[code]

Curiously, a `git bisect` reveals that this was introduced by e89c288fd1f9f843a63a8dd198053118187381b8 and indeed, changing `GAP_PATH_MAX` back to 512 fixes the issue. What's going on here?!?

[2017-12-06 16:26] wilfwilson commented on #1999
This is weird. In the Travis tests for Semigroups, we quickly run a save/load workspace test, e.g. around line 2,500 [here](https://travis-ci.org/gap-packages/Semigroups/jobs/309016793). Until today this has worked fine, but it fails now, like in your message above:
[code]
Wouldn't that suggest that this bug was introduced very recently?

Also notable: this diff only appears in our 32-bit tests, n

[2017-12-06 16:30] fingolfin commented on #1999
I bisected it to the commit I listed. I happens for me in 64 bit builds, too, on OS X. Since it is only a warning, we may not have noticed it with GAP's travis tests.

[2017-12-06 16:30] fingolfin commented on #1999
And I also verified that if I edit `GAP_PATH_MAX` in `master`, the issue goes away

[2017-12-06 16:42] wilfwilson commented on #1999
Sorry @fingolfin, I didn't mean to doubt you. From my point of view it was strange that today was the first time I noticed a Travis failure because of this bug ([here's an example of it causing a failure](https://travis-ci.org/wilfwilson/Semigroups/jobs/312493531#L2480)), even though it was introduced 3 weeks ago and I have been running Travis jobs in that time.

However, in all of my Travis jobs

[2017-12-06 16:46] fingolfin commented on #1999
Neither do I doubt your, or understood you as doubting. I think this is one of those bugs which depends on your *specific* compiler version, operating system, arch etc.
So for me, the issue occurs on OS X 10.11.6, with clang (Apple LLVM version 8.0.0, clang-800.0.42.1)

I guess I could try with gcc 7 or clang 5. later.

[2017-12-06 20:32] ChrisJefferson commented on #1999
This is caused by the lists FopiesGVars and CopiesGVars. These lists of lists store raw C pointers in PLISTS, which confuses the workspace save/load.

The function RemoveCopyFopyInfo tries to deal with this by unassigning all the elements of FopiesGVars and CopiesGVars (which are the troublesome lists). However, by rearranging memory layout, those inner lists are by bad luck not getting GCed any m

[2017-12-07 08:58] ssiccha commented on #852
@ChristopherRussell
[code]
See also (here)[https://github.com/hulpke/gap/blob/53fb2c3842126275c516c2081959ebed32629107/tst/testextra/grpperm.tst#L216]

[2017-12-07 10:10] laurentbartholdi commented on #1988
Dear @Max:
I agree with you that this could be done better. The idea was to have at
least something, but of course it must not give wrong results. There are
different issues, as you sorted them out:

-- there should be a subcategory "IsRealFloat" on which < should be defined
and preserve the field operations. Norm, Argument, AbsoluteValue should
have a default only on these

-- the sign of -0 shou

[2017-12-07 10:10] ssiccha commented on #1973
`TimeAndMem` sounds awesome. :) Would it make sense to have a version of `Round( x, n )` which rounds a float `x` to `n` significant digits?

[2017-12-07 10:33] fingolfin commented on #1988
* Re `IsRealFloat` -- that sounds good. I guess there'd also be an `IsComplexFloat`. To go along. And, independently, perhaps an `IsIntervalFloat`.

* I'd expect SignFloat(NaN) to give an error, but of course you are right, it is also valid to return 1, or `fail`, or anything else.

* The link on rounding was not meant as a suggestion for how to fix this, but rather as a source of additional examp

[2017-12-07 11:28] stevelinton commented on #1993
It's not really a surprise that you can break GAP by modifying all-caps data structures. I imagine the method selection data offers lots of ways to do it too. Doesn't mean that fixing them isn't worth doing, but I'm not sure it's a priority. To my mind, the memory leak is a worse problem, but every function body corresponds to a function()...end in some code that was parsed, so it's hard to visual

[2017-12-07 14:11] hulpke opened #2003 "Improve Socle computation in larger degrees."
Some of the current code for `Socle` and its factors is somewhat ad-hoc and does not scale well. Improve the code, maybe by better intergrating internals of composition series, to make it fast.

This issue is to keep discussion together (and to remind us of the task)

[2017-12-07 14:21] #1218 closed

[2017-12-07 15:08] alex-konovalov commented on #1522
@fingolfin thanks - I've build GAP with your patch under Cygwin, started it with `bin/gap.sh` and no crash happens any more. Now you or me can submit the patch.

[2017-12-07 15:13] alex-konovalov commented on #1643
We can do 4.9.0 without this, so I've postponed this till later.

[2017-12-07 19:47] #1522 closed

[2017-12-07 21:29] alex-konovalov commented on #1820
I am having now another look at windows, downloading the latest gap-4.9.0-win.zip release candidate built on December 3rd. Trying to start it with `bin/gap.bat`.

1) The path in `gap.bat` has the line with `${DISTNAME}`
[code]
so the first error is that `mintty.exe` is not found. Fixing that by replacing `${DISTNAME}` by `gap-4.9.0`.

2) the path to `gap.exe` is incorrect - removing `bin/i686-pc-c

[2017-12-07 21:41] ignatsoroko commented on #1522
I'd like to thank everybody who spent their time and effort to resolve this problem!

[2017-12-07 21:47] alex-konovalov commented on #1820
Also had a look at the ability to load packages. `LoadAllPackages()` is broken because of the following:

@fingolfin - ANUPQ

[code]

@fingolfin - ACE
[code]

@james-d-mitchell - Digraphs
[code]

@ChrisJefferson - JSON
[code]
For these packages, calling LoadPackage again after exiting from the break loop returns `true`, although they are clearly broken.

The list of packages which cleanly fail to

[2017-12-07 21:51] ChrisJefferson commented on #1820
Have these ever worked in a released GAP?

[2017-12-07 22:40] alex-konovalov commented on #1820
I have an impression that JSON worked before at some point, but can't provide more exact information at the moment. Anyhow, even if they did not work, their loading should cleanly fail, instead of an error. To compare with GAP 4.8.8 installation:

1) ANUPQ fails to load cleanly:

[code]

2) Same error for ACE:
[code]

3) Same error for JSON:
[code]

4) Same for Digraphs:
[code]
Digraphs issue repo

[2017-12-07 23:39] alex-konovalov commented on #1820
@ChrisJefferson @james-d-mitchell @fingolfin: to compare, this happens when packages are compiled under Cygwin and GAP started with `bin/gap.sh` in Cygwin shell:
[code]

[2017-12-08 00:07] alex-konovalov commented on #944
The fix for this is in #1937.

[2017-12-08 08:58] fingolfin commented on #1820
@alex-konovalov So, isn't the original issue resolved? And all your recent comments are about issues with specific packages -- so I'd imagine each should be a separate issue, on the respective package issue tracker, no? (And also tracked under https://github.com/gap-system/gap/projects/4?)

[2017-12-08 09:35] fingolfin opened #2005 "Don't crash when copying deeply nested objects"
Copying objects in GAP involves recursion to traverse the object. If the object is sufficiently deeply nested, this can lead to a stack overflow. Indeed, that was the cause for the crash in issue #1522.

We resolved that crash for now by increasing the stack size. But of course one can construct a new example which is simply nested even deeper to trigger it again. (How deep exactly depends on the

[2017-12-08 10:00] fingolfin commented on #1820
BTW, it's strange that the listed path like `/proc/cygdrive/C/gap-4.9.0/pkg/json-1.2.0/bin/i686-pc-cygwin-gcc-default32/json.so` contain a GAP arch which contains "gcc", i.e. the compiler name -- in current `master`, this should be gone.

Perhaps check the full content of `/proc/cygdrive/C/gap-4.9.0/pkg/json-1.2.0/bin/` (and also for the other packages -- all errors indicate that the packages fail

[2017-12-08 10:25] fingolfin opened #2006 "TODO: cleanup #includes further"
After PR #2000 has been merged, there are still plenty of things we can do regarding #includes and headers:

* [ ] move `TakeInterrupt` out of `stats.h` so that files don't have to include the header just for it
* [ ] `sysfiles.c` includes `gapstate.h` for `STATE(Prompt)`. A low-level source file like that should not have to access `STATE`. This is another reason to refactor the way we use `readli

[2017-12-08 12:38] alex-konovalov commented on #1820
@fingolfin original issue on the way to resolving - let me first adjust references to \bin\@GAPARCH resp. /bin/@GAPARCH@ in files in cnf/cygwin, and check that all release pipeline works, and convert reports about packages into separate issues.

[2017-12-08 14:17] #1999 closed

[2017-12-08 14:57] jnkbrachter opened #2008 "HPCGAP sometimes crashes when testing the type of a matrix"
### Observed behaviour
We sometimes get an error in HPCGAP from line 445 of src/plist.c when testing the type of a matrix given as a PLIST. The line is
       `assert(!IS_TESTING_PLIST(elm));`

### Analysis
The problem seems to come from two threads testing the type of a matrix as well as the type of one of its rows at the same time which can not happen when running in sequential mode. The problem

[2017-12-08 15:33] ChrisJefferson commented on #2008
Can you produce a (preferably small :) ) code example which causes this to happen? It would be very helpful in trying to debug it.

[2017-12-08 17:59] szoferi opened #2010 "Manipulating AutomorphismGroup of FpGroups makes the system hang"
### Observed behaviour
The following four commands, given consecutively (or as a 1-liner), makes the GAP interface hang.

[code]
Changing `A:=AutomorphismGroup(H);` to `A:=AutomorphismGroup(G);` seems to be working fine. There is a related, similar issue:

[code]
The issue demonstrated in the second case does not arise if the line `Elements(H);` is removed. Also, for most other groups both code sh

[2017-12-08 18:00] ChrisJefferson commented on #2008
Also, could you check (you might know this), is GAP turning the matrices into a more compressed format at some point -- that is, do they start out with `IsPlistRep` on the matrix, and it's rows, being one value, and changing by the end of the algorithm?

[2017-12-10 00:56] alex-konovalov commented on #1699
@fingolfin we certainly need to update the list of PRs at hackmd for that...

[2017-12-10 11:10] fingolfin commented on #1699
I cand do taht eventually, but in the meantime, there is plenty of work already there, no? And I am reluctant to invest any work into it unless I know it won't be wasted

[2017-12-10 11:23] alex-konovalov commented on #1699
Yes, of course didn't mean "for that" = "to continue work on this", it's not preventing from sorting existing items in the list. But hopefully next week we might need more items, and you may plan that in your schedule then, if we have to make 4.9 beta this year.

[2017-12-10 22:20] #852 closed

[2017-12-10 22:20] #944 closed

[2017-12-10 23:11] #149 closed

[2017-12-10 23:28] fingolfin commented on #1992
Actually, this doesn't seem to be a bug (or at least not one specific to floats), but rather it seems GAP always acts like this:
[code]
vs.
[code]

I still think there should be a continuation prompt, in all cases... Thoughts?

[2017-12-10 23:58] fingolfin commented on #2008
Is this with the latest `master` branch? Or with `hpcgap-default`? Or with what else?

[2017-12-11 00:06] fingolfin commented on #2008
Actually, nevermind, the issue is there, in either of the two branches. It is caused by GAP's method dispatch trying to (re)compute the type of lists (and lists-of-lists, such as "matrices"), and yeah, that's not really thread safe.

If you matrices are over small finite fields, you should be able to work around this by always storing your matrices as compressed matrices (e.g. by using `ImmutableM

[2017-12-11 00:38] fingolfin commented on #2010
This has nothing to do with #874.

The first group `G` is a pc group, and thus very efficient methods for computing the automorphism groups are used. The groups `H` on the other hand are fp groups, and for those, roughly speaking things are much harder (and in general undecidable).

However, `H` here is abelian, and then a special case kicks in, which is meant to help in general for abelian groups

[2017-12-11 00:40] fingolfin commented on #1971
This has been fixed by 3fc2ed3072c67ba917d441807f3428a21b5ed2f1.

I'll migrate @hulpke's question to a new issue.

[2017-12-11 00:40] #1971 closed

[2017-12-11 00:41] fingolfin opened #2012 "Change `ActionHomomorphisms` to be surjective by default"
@hulpke asked on #1971:

[2017-12-11 00:46] fingolfin commented on #2012
To me this seems very plausible. The only concern would be whether this can break existing code; and then, how "bad" such a breakage would be: E.g. if it "only" can cause code to run into an error, that's annoying but not too bad. If on the other hand one can silently get incorrect results, it is more worrisome.

Would there be an option to get back the old behavior?

A good start might be to also

[2017-12-11 09:54] fingolfin opened #2013 "ModuleState is not properly initialized in kernel extensions"
Right now, module constructors are only run once, during `InitializeGap`. Thus if a module is loaded late on, as part of a kernel extension in a package, its module state constructor is *not* run. Contrast this to its initKernel and initLibrary functions, were great care is taken to also run them for module loaded like this.

In single threaded GAP, a package can easily work around this, as you ca

[2017-12-11 10:25] laurentbartholdi commented on #1778
Dear @Max:
I gave some more thought to this -- indeed, what appears in GAP is a first
shot at how to implement things. Some specific comments:
-- ComplexI should disappear: it's rarely used, and can be obtained with
NewFloat(ComplexFloatRep,0,1).
-- Overlaps should also disappear too; its only implementation is "not
IsDisjoint".
I think it's OK to just nix these functions; since they're not docume

[2017-12-11 14:15] fingolfin opened #2017 "Regression: parser ignores anything after `?`"
This regression was introduced by PR #1886, which introduced `S_HELP` to the parser.

First off, if `?` is not the first non-space thing on an input line, it eats up all input after it (so almost like `#`, except the semicolon `;` is still handled). Example:
[code]
For reference, this is what I get in GAP 4.8.8:
[code]

I guess we'll want to raise an error in `GetHelp()` if the `?` did not occur a

[2017-12-11 14:33] ssiccha commented on #2008
@fingolfin yes, @jnkbrachter and I wrote @rbehrends and he told us that it would be safe to just disable these asserts in HPCGAP.

[2017-12-11 14:45] fingolfin commented on #2008
I'd still like to know which branch this is on, resp. which state of it? `IS_TESTING_PLIST` doesn't exist on `master` anymore, so at best this is an older version of `master`, at worst it's hpcgap-default. Not that there will be any differene w.r.t to this issue.

As to @rbehrends saying it is "safe" to just disable this: I have serious doubts about this. If two threads try to compute the type of

[2017-12-11 14:47] fingolfin commented on #2008
But perhaps I am missing something -- in that case, I hope @rbehrends will clarify with a comment here.

[2017-12-11 15:01] fingolfin commented on #2017
The idea of using `GetLinePosition() == 0` is of course bollocks:
[code]

What we really want is a way to enforce that `S_HELP` is only accepted as first symbol of a statement.

We might even want to restrict it to interactive input. That would suggest removing it from `STATBEGIN` and `ReadStats()` and then special casing it in `ReadEvalCommand`? Or perhaps there should be a flag in the reader whi

[2017-12-11 15:08] ssiccha commented on #2008
Ookay, in that case he maybe just meant that it is safe to disable that check for @jnkbrachter s version of the parallel gaussian algorithm.

[2017-12-11 15:16] ssiccha commented on #2008
The crash happened in some old version of HPCGAP. @jnkbrachter and I will have a look at whether something like this is reproducible in the current master branch.

[2017-12-11 15:44] ssiccha commented on #2008
@rbehrends apparently the `assert(!IS_TESTING_PLIST(elm));` got replaced by `assert(!TEST_OBJ_FLAG(elm, TESTING));` in lines
[467 and 524](https://github.com/gap-system/gap/blob/a57e49babf722de34274b426e8292f8dcd32b814/src/plist.c#L467)
How does this impact the issue?

[2017-12-11 15:58] rbehrends commented on #2008
It's been a few months (the email was from February, so I'm trying to reconstruct my thoughts here) and the code has changed since then. So, I'm not entirely sure what I'm saying is still accurate.

But basically, `KTNumPlist()` returns early in GAP if it doesn't have write access (and thus does not modify the underlying objects). Thus, testing modifications to an object can only be done by at mos

[2017-12-11 17:24] fingolfin opened #2018 "`Randomize` is declared and implemented in the GAP library, but documentation is in `orb` package"
I suspect `Randomize` used to be in the `orb` package but then was migrated to the GAP library -- except the documentation was not moved.

So most likely the fix is to move the documentation, too.

[2017-12-11 17:29] fingolfin commented on #2018
Also, the order of arguments is "wrong": we tried to have the random source be first argument for as many things as possible, but here it is the second (final) argument. However, I think we could easily fix this by changing the documentation and implementation to reverse this (implemented using `InstallMethodWithRandomSource`), and then providing a single `InstallOtherMethod` with the old order, w

[2017-12-12 00:00] alex-konovalov commented on #1973
I think it's useful to have both versions - one to get a global variable (which may then be shallow-copied) to keep results for further analysis, and another to get a human readable output.

[2017-12-12 00:07] ChrisJefferson commented on #1973
The easyest option would be to return a record. That would have the advantage that we could add more things later, and the natural printing is "reasonable"

[2017-12-12 00:19] alex-konovalov commented on #1973
@ChrisJefferson yes, I would prefer a record over a list. Like in
[code]

[2017-12-12 15:51] fingolfin opened #2020 "RCWA package changes how free magma elements are printed (including group ring elements)"
@cdwensley reported the following: With no packages loaded, one gets this:
[code]

But if the RCWA package by @Stefan-Kohl is loaded, one gets this instead:
[code]

The problem is caused by this method in RCWA, file `lib/rcwamap.gi:3165`:
[code]

The description string suggests this is "for elements of group rings of rcwa groups (RCWA)", but the type selector applies to arbitrary group rings, thus

[2017-12-12 22:26] alex-konovalov commented on #1820
The reason was in missing `cygstdc++-6.dll`, as suggested by @ChrisJefferson. I have now added this to the -win.zip archive, and both Digraphs and JSON now can be loaded on Windows. So for these two packages the problem will disappear in the next GAP distribution.

[2017-12-12 23:00] alex-konovalov commented on #1944
if https://github.com/gap-system/gap/wiki/Building-HPC-GAP is up to date, that could provide half of this file...

[2017-12-13 01:13] fingolfin commented on #1820
Then I guess this can be closed (of course anupq and ACE are unchanged, but (a) these issues should be reported on their issue trackers, not here, and (b) even if, I have no idea how to fix them, as I now very little about cygwin, and have no good way to test them (only via a clunky VM on an external HD I have to dig out of a closet)

[2017-12-13 15:23] ChrisJefferson opened #2023 "Cygwin is inconsistent with file locations"
In cygwin, functions which find the location of libraries and packages return unix-style paths -- in fact almost everything returns Unix style paths.

However, Exec demands windows style paths, so passing these paths to Exec fails.

We have an undocumented function ExternalFilename which (currently incompletely) maps Unix paths to windows paths, but currently only GRAPE uses it.

I am not sure how

[2017-12-13 16:17] fingolfin commented on #1699
(summary of discussion on Slack follows)
Instead of running my (super hacky) scripts again, I suggest that we instead use GitHub's filtering system to find PRs not yet covered. Here is a query URL which only shows PRs which were merged into master since the last GAP days, and for which the labels "not for release notes" and "added to release notes" are not set: <https://github.com/gap-system/gap/p

[2017-12-13 21:29] alex-konovalov commented on #1820
Problems with ANUPQ and ACE have benen reported at https://github.com/gap-packages/anupq/issues/1 and https://github.com/gap-packages/ace/issues/13. For now, in the GAP distribution for Windows, I will remove `anupq-*/bin` and `ace-*/bin` directory to ensure that `LoadAllPackages();` works, but it will be nice to fix this in the long run to ensure that `LoadAllPackages();` does not result in a bre

[2017-12-13 21:29] #1820 closed

[2017-12-13 21:44] ChrisJefferson commented on #1820
I refer to this in #2023. I think it's GAP's fault, rather than the packages.

[2017-12-14 00:16] alex-konovalov commented on #1699
Now 70 remain!

[2017-12-14 18:33] hulpke commented on #2023
IIRC, the reason for the Windows style pathnames is that `Exec` calls the Windows shell `command.com`.  If we are just porting from Unix, a solution that includes a shell and calls this would probably satisfactory.

What I don't know is if anyone under Windows actually wants to call Windows programs with `Exec` (and thus a version with `command` should be preserved, say as `ExecWindows`.

Generica

[2017-12-14 20:38] ChrisJefferson commented on #2023
I'm going to investigate -- actually running windows program with the cygwin shell works fine, unless someone is trying to run a cmd built-in (like dir)

[2017-12-14 20:58] alex-konovalov commented on #2023
I've assigned this to GAP 4.10.0 milestone to ensure that this will not fall below radar.

[2017-12-18 17:56] ChrisJefferson commented on #2017
I'm curious what is going on here -- I would expect the parser to reject this for the same reason it would reject any invalid expression, like '1 1'.

[2017-12-19 10:39] pedritomelenas opened #2033 "seg fault with `Position`"
As commented on slack (random channel) I got this segfault

[code]

The files are
number-element.gd:
[code]
and
number-element.gi:
[code]

I have abandoned the idea of adding `Position` as suggested by @fingolfin , but the seg fault could be studied. @markuspf  and @fingolfin already noticed that in the -master branch the segmentation fault does not occur, neither on stable-4.9.

Thanks,
Pedro

[2017-12-19 11:10] fingolfin commented on #2017
Perhaps because the number parsing is very lenient. E.g. from `ReadLongNumber`:
[code]
So this is overly generous...

[2017-12-19 11:28] fingolfin commented on #2017
Actually, while I still find that code suspicious, this is a red herring. We end up in `GetHelp` via `ReadLiteral`, which matches away an `S_INT` and gets the next symbol.

We then return through the call stack, back to `ReadExpr`, and finally to `ReadEvalCommand`. Which does:
[code]
And that's what is producing the error if you enter `1 1` or `1 1;` -- and we skip it, as we now are looking at `S_

[2017-12-19 11:49] fingolfin commented on #2033
@pedritomelenas If I recall correctly, you also said you do *not* get a segfault in GAP 4.8.7, is that right? I.e. it only happens with 4.8.8?

[2017-12-19 11:52] fingolfin commented on #2017
Also this, which shows that the problem really predates the `S_HELP` code:
[code]

[2017-12-19 12:08] pedritomelenas commented on #2033
Yes, only on 4.8.8.

[2017-12-19 14:11] fingolfin commented on #1649
Looking at this again, it seems `WITH_HIDDEN_IMPS_FLAGS` is the culprit here:
[code]
Just as @sebasguts said, GAP has decided that `Prop` resp. `HasProp` implies `IsCategory1` (represented by the filter value 2182 in the above session).

OTOH, `ShowImpliedFilters` does not reveal this... Guess because these implications are "hidden".

They get installed by `InstallHiddenTrueMethod( <filter>, <filt

[2017-12-19 15:04] fingolfin commented on #1649
Thinking some more about this, maybe it'd be enough if we  change `INSTALL_METHOD` to use `WITH_IMPS_FLAGS` instead of `WITH_HIDDEN_IMPS_FLAGS`.

But then this is still a strangely asymmetric setup. In particular, if two packages define attributes with the same name, now the (hidden) implications may depend on the order the two packages are read. While I am not aware of any such situation resp. co

[2017-12-19 16:05] fingolfin commented on #1649
Experimented a bit more. Turns out that *not* calling `InstallHiddenTrueMethod(filter, tester)` breaks tons of things. And of course it does: without it, e.g. `IsPGroup` does not imply `IsGroup`.

Viewed from this angle, of course any `DeclareProperty(prop, filter)` should install a (hidden) implication from `prop` to `filter`. Only that if we have multiple `DeclareProperty` calls with the same pr

[2017-12-19 16:09] fingolfin commented on #1238
This isn't an issue in GAP 4.9.

[2017-12-19 16:09] #1238 closed

[2017-12-19 16:17] fingolfin opened #2036 "Print trivial groups with 0 or >=1 generators differently?"
This was suggested on issue #1239 by @laurentbartholdi

Right now, trivial groups with zero generators are printed/viewed/displayed just like those with >= 1 generators:
[code]

The first suggestion then is to print handle them differently: The output of `Print` and `PrintString` (and possibly also `String`, `Display`, `DisplayString` could/should be so that reading it back into GAP recreates the

[2017-12-19 16:19] fingolfin commented on #2036
My personal thoughts are that the first suggestion is fine. I am not so keen on the second one: With `Group(())` I see at a glance that this is a trivial permutation group (as opposed to a trivial pc group, fp group, etc.:
[code]

[2017-12-19 16:19] fingolfin commented on #1239
The original "issue" (?) reported here was resolved some time ago. This leaves the suggestion for printing, which I now put into a fresh issue, so that it is not forgotten, see #2036

[2017-12-19 16:19] #1239 closed

[2017-12-19 16:38] fingolfin commented on #1500
I also can't find anything like that in the manual.

@ChrisJefferson could you please clarify? Otherwise, I suggest simply closing this, as I don't see any contradictions in the documentation.

[2017-12-19 16:40] fingolfin commented on #1479
Anybody planning to work on this? @ChrisJefferson ?

[2017-12-19 16:41] fingolfin commented on #1440
I don't think it is worth it.

[2017-12-19 16:41] #1440 closed

[2017-12-19 17:10] ChrisJefferson commented on #1500
This clearly isn't really interesting, so let's just close it.

[2017-12-19 17:10] #1500 closed

[2017-12-19 18:06] ChrisJefferson commented on #1479
I'll pick this back up.

[2017-12-19 20:07] fingolfin commented on #1117
I think this is more or less the same issue as #2017

[2017-12-19 20:09] fingolfin commented on #1373
Update: with some of the recent improvements, it is *slightly* better now:
[code]

If the error message started with the name of the function the error occurred in (here: a compiled version of `InstallMethod`), this would resolve this issue for me (or at least make it 90% good). I think we already logged this as a desirable enhancement in another issue, but I can't find that right now.

[2017-12-19 23:02] #1298 closed

[2017-12-19 23:05] fingolfin commented on #1245
I don't see any actionable item in this issue, it's mostly a discussion of the status quo. Therefore closing this.

[2017-12-19 23:05] #1245 closed

[2017-12-19 23:07] fingolfin commented on #1237
This is not what `IsMultiplicativeElementWithZero` means. From its documentation:

And there is no `MultiplicativeZero` for the integer 0:
[code]

[2017-12-20 00:16] fingolfin commented on #856
For the record, this isn't a mere oversight: when continuing the work on "generalized indexing" started by @stevelinton, I deliberately did not allow `a{poss}` in this case (or rather: deliberately did not extend it from positive integer indices to arbitrary ones) simply because I wasn't completely sure about the semantics, and also because for my main use case (matrix obj) it was unnecessary.

Qu

[2017-12-20 00:17] #811 closed

[2017-12-20 00:18] fingolfin commented on #809
I think the outcome here was that we can't do much about it at this point in GAP.

Closing this. Please reopen with additional information if I am wrong.

[2017-12-20 00:18] #809 closed

[2017-12-20 00:18] fingolfin commented on #803
Resolved by #1951

[2017-12-20 00:18] #803 closed

[2017-12-20 09:21] fingolfin commented on #710
Looking at this issue, I have a hard time filtering out what actionable items there are left, if any.

@hungaborhorvath suggested that abelian / solvable methods should come before pcp / pcgs methods. I disagree: pcgs / pcp implies that one can actually effectively compute in a group. Whereas a group may be abelian but almost untractable for computational purposes (e.g. it may have a complicated f

[2017-12-20 09:33] fingolfin commented on #775
To resolve this, I guess we should ask Graham to add the new smallgrp package as a dependency to HAP?

[2017-12-20 09:42] alex-konovalov commented on #775
@fingolfin yes. This is the right thing to do, although there is no any urgency of this since SmallGrp is a needed package in GAP 4.9. In general, we need to say this to all package authors when we will provide 4.9 beta - if your package depends on one or more of SmallGrp/PrimGrp/TransGrp, document that explicitly in package dependencies.

[2017-12-20 09:48] laurentbartholdi commented on #1237
I agree that there is no MultiplicativeZero for the integer 0; but now
there are 2 bugs, not 1:

gap ?MultiplicativeZero
MultiplicativeZero  returns  the multiplicative zero of the magma M which is
  the element z in M such that z * m = m * z = z for all m in M.

so MultiplicativeZero only applies to magmas, not elements.

gap> G := SymmetricGroup(3);; A := MagmaWithZeroAdjoined(G);;
gap> Multipli

[2017-12-20 10:20] fingolfin commented on #1237
I meant `MultiplicativeZeroOp`, which applies to elements (no idea why they are split into two operations, unlike `Zero` and `One`). Which also fails.

So one could of course retroactively add all these things. But in the end, I am not sure this is achievable, since the integers play a very special role in GAP.

The whole zoo of `IsMultiplicativeElementWithZero`, `IsAdditiveElementWithZero`,  etc.

[2017-12-20 10:31] fingolfin commented on #1237
One fundamental problem here is that `IsMultiplicativeElementWithZero` is a filter, not a property. So it is intrinsic to the object. But the mathematical property in its core is tied to the magma we consider.

But e.g. the positive natural numbers with multiplication also form a magma, containing `1`, and this magma contains no multiplicative zero. So in that sense, `IsMultiplicativeElementWithZe

[2017-12-20 10:37] fingolfin commented on #1237
So in your example, it should be `MultiplicativeZeroOp(A.1)` instead of `MultiplicativeZero(A.1)` -- although curiously, both work for me in the `master` branch -- turns out @james-d-mitchell added this in commit 43222917e18ea49780a41e42c0cbefdc030e1eed  but did not update the documentation to mention this. (Perhaps we should just merge `MultiplicativeZeroOp` into `MultiplicativeZero` and retain t

[2017-12-20 10:53] fingolfin commented on #616
For some background: this is because we don't call `SET_BRK_CALL_TO` enough. I do have a fix for that ready; the main thing missing is a collection of tests which verify this doesn't break other things, and also ensuring this doesn't regress.
I.e. I want a bunch of tests which record the reported error, in different scenarios.

[2017-12-20 10:56] fingolfin commented on #638
Is there a point in leaving this open?

[2017-12-20 11:08] frankluebeck commented on #638
The mentioned wiki and FAQ pages do not list the support for `vim` which I mentioned above.

This is even documented in GAP, try
[code]

[2017-12-20 11:32] alex-konovalov commented on #638
I've mentioned vim on Wiki page, and will add it to the FAQ page. Otherwise, I agree that this issue may be closed. If anyone thinks it should be kept open, please reopen it.

[2017-12-20 11:32] #638 closed

[2017-12-20 12:11] laurentbartholdi commented on #1237
I fear it's too common for Xxx and XxxOp to be two versions of the same
thing, as in Orbit and OrbitOp. How about renaming MultiplicativeZeroOp
into MultiplicativeZeroOfElement ? It seems, contrary to your suggestion to
make one obsolete, that it's useful to have a command for elements and one
for magmas.

On Wed, 20 Dec 2017 at 11:37 Max Horn <notifications@github.com> wrote:

--
Laurent Barthold

[2017-12-20 12:13] Stefan-Kohl commented on #2020
This should be solved with RCWA 4.6.1.

[2017-12-20 12:17] alex-konovalov commented on #2020
@Stefan-Kohl thanks - it has been picked up this morning and is now under testing. If all is fine, it will appear in packages-stable-4.9.tar.gz and packages-master.tar.gz archives in a couple of days.

[2017-12-20 13:11] fingolfin commented on #1237
Actually, `Xxx` and `XxxOp` never (or at least almost never, I don't claim to have checked the whole library and all packages) refers to the same thing. e.g. `Orbit` is a documented function, and does all kind of preprocessing and multi arg handling, while `OrbitOp` is an undocumented operation for which custom methods can be installed. Code using `OrbitOp` directly is usually suspicious (although

[2017-12-20 13:29] ThomasBreuer commented on #1649
GAP knows the following kinds of relations between filters.

- proper implications:

  They arise either via explicit `InstallTrueMethod` calls
  (which is essential for example for mathematical implications)
  or as a side-effect when a filter gets created with
  `NewCategory` or `NewRepresentation`.

  The function that takes care of proper implications is `WITH_IMPS_FLAGS`.

  The meaning is th

[2017-12-20 13:34] fingolfin commented on #457
For what it's worth:

1. I see no value in supporting  `(x) := y` or `(x[2]) := y` or any of that -- this isn't allowed in C either, and people manage. I just learned that it *is* supported in Python. Oh well, too bad, it's not like we need this.

2. The discussion on list unpacking / restructuring belong to issue #40.

3. We resolve multi argument lambdas a long time ago.

So, in sum, is there an

[2017-12-20 13:44] frankluebeck commented on #1649
I have several comments:

- A preliminary workaround to get rid of the warning in  the original post is to use `InstallOtherMethod` in the second method installation.

- The whole setup in GAP with declarations and the tests done by `InstallMethod` is essentially just a debugging tool for programmers.  We could also declare all operations et. al. just once with no filter conditions (i.e., for `IsO

[2017-12-20 13:49] fingolfin commented on #40
To mention some of the things discussed on #457: The only use case I care about, and which I think is useful in many places, is the one were the left side is a list of variable names, i.e.
[code]
It was pointed out on #457 that dealing with e.g. the following would be tricky, and my initial reaction to this is "well, then let's not support it"
[code]
Of course there still might some usecases of th

[2017-12-20 13:58] fingolfin opened #2043 "Syntax extension: unpacking argument lists"
Somewhat dually to #40, I often wish there was a shorter way to call a function with a given list of arguments than `CallFuncList(func, list)`. And quite often I also would like to do something like `CallFuncList(func, Concatenation([true], list, [42]))`, i.e. prepend or append some arguments.

In Python, this is solved by [Unpacking Argument Lists](https://docs.python.org/2/tutorial/controlflow.h

[2017-12-20 14:22] frankluebeck opened #2044 "Problem with Ctrl-C interruption"
### Observed behaviour
Running the following code in GAP master branch
[code]
I cannot interrupt the loop with Ctrl-C (but I can stop gap with double Ctrl-C).

### Expected behaviour
The loop should be interruptable, as it was in all older versions of GAP which I tried (at least up to 4.8.6).

[2017-12-20 14:32] frankluebeck commented on #1479
I can produce in alll versions of 32-bit GAP similar behaviour to the original example with
[code]

I would certainly not give up support for 32-bit GAP in general (which is still faster in many cases and needs less memory resources in many cases even on 64-bit systems).

Restricting bags to 2^28 byte may be ok if this helps to resolve this issue. (Although, when working on strings I made sure tha

[2017-12-20 14:32] fingolfin commented on #2044
Ouch. That's a major regression.

[2017-12-20 14:39] fingolfin commented on #1479
On Mac OS X, I get this:
[code]
On Linux, I get:
[code]

With PR #2039 however, I get:
[code]

So that seems to have fixed the issue. (Note that the PR only restricts plists, so a string should still be able to grow to 2^30 bytes, assuming that indeed worked flawlessly before).

[2017-12-20 15:51] ChrisJefferson commented on #2044
This was caused by making T_EMPTY a non-interruptable TNUM.

[2017-12-20 15:52] ChrisJefferson commented on #2044
(I don't have time to prepare a PR for this right now, sorry)

[2017-12-20 19:19] ChrisJefferson commented on #1479
Can anyone who can reproduce this crash try running in gdb (preferably after turning off optimisation in GAP -- go into GNUmakefile and delete `-O2` from `CFLAGS`) and get a backtrace?

[2017-12-20 21:02] laurentbartholdi commented on #1237
OK, this makes sense!

Mathematically speaking, every element has a(t least one) zero, so I
understand why designers wanted it to be a property of the magma. On the
other hand, is most common use is for elements.

On Dec 20, 2017 14:11, "Max Horn" <notifications@github.com> wrote:

[2017-12-20 21:31] dimpase commented on #1479
Chris, I can give you access to my 32-bit box.
Email me directly.

On 20 Dec 2017 20:22, "Christopher Jefferson" <notifications@github.com>
wrote:

[2017-12-20 21:57] fingolfin commented on #1479
I can reproduce this just fine on a 64bit Debian by building a 32bit GAP binary, i.e. `./configure ABI=32`, e.g. on lovelace.

[2017-12-20 22:05] fingolfin commented on #1649
@ThomasBreuer @frankluebeck thanks, that clarified things for me (and it more or less confirms for me what I learned yesterday when I tried to understand this issue). I fully agree that dealing with this is certainly not urgent; and that it might be a good idea to get rid of hidden implications. The strategy Frank suggests at the end sounds very sensible and doable to me, too.

[2017-12-21 09:56] james-d-mitchell commented on #1237
So, I'm not sure if I have too much to add, maybe one of you already mentioned this, but there are situations where `MultiplicativeZero(M)` should return one thing, and `MultiplicativeZero(M.1)` something else (namely `fail` in the first instance and something that is not `fail` in the other case).
For example, if `M.1` belongs to a category of elements that have a zero (i.e. belongs to `IsMultipl

[2017-12-21 10:03] #710 closed

[2017-12-21 10:11] ThomasBreuer opened #2047 "Int( "" ) does not work anymore?"
Up to GAP 4.8.8, `Int( "" )` returns `0`.
In the master branch, one gets `fail`.
This change breaks some of my code.
Is there a good reason for this change?

[2017-12-21 12:48] fingolfin commented on #2047
I am pretty sure there is no good reason, other than that the code for string <-> integer code conversion was rewritten and unified (instead of four or so implementations, we now use only one). I guess this special case fell through the cracks, also because (as far as I can tell) the documentation does not say anything about dealing with the empty string.

Personally, I'd think `Int("") = fail` ma

[2017-12-21 12:50] fingolfin commented on #2047
BTW, also `Int([])` used to return 0, presumably because the code did not distinguish between empty lists and empty strings. I guess we need to restore this as well...

[2017-12-21 12:55] ChrisJefferson commented on #2047
Int used to do crazy things, including executing arbitrary gap code in the string. We disabled on purpose, as most people (I claim) wouldn't expect that, and it produced security holes in things like SCSCP and openmath.

However, we should break empty string if it used to work, and people rely on it.

[2017-12-21 12:59] fingolfin commented on #2047
Hmm, I just run our existing tests for `Int()` in the master branch in GAP 4.8.8. We get several more discrepancies, i.e. stuff which used to return 0, now returns `fail`, e.g. `Int("-");` and `Int("--");`

Also, `Int("123456789123456789123456789123456789+1");` now returns (IMHO correctly) `fail`, but it actually used to return `123456789123456789123456789123456790`.. WTF?

That said, our document

[2017-12-21 13:00] fingolfin commented on #2047
Yeah, we should definitely restrict things. I am torn about `Int("") = 0` -- I don't mind supporting it if code relies on it and is hard to change, or leads to invalid computation results due to a change here. OTOH, I find it counterintuitive and not logical. Then again, the documentation for `Int` is super vague, so one can certainly justify it. Of course also `Int("answer") = 42` would be consis

[2017-12-21 13:03] ChrisJefferson commented on #2047
Not that I think 1+1 didn't used to work either I think, we used to pass strings to eval if they were longer than.. 9 characters I think?

[2017-12-21 13:05] fingolfin commented on #2047
Yes, `Int("1+1")` always returned `fail`, and that's IMHO also good this way, and should be for larger stuff, too.

[2017-12-21 13:14] fingolfin commented on #2043
BTW, this could of course also be extended to other contexts, to give some form of "list interpolation" (if that's the right term). E.g.  `list := [true, *list, 42]` as shorthand for `Concatenation([true], list, [42])`.

And of course one could also use `*` multiple times. So `[*listA, *listB]` to concatenate two lists.

So, `*` would be valid in two places: inside of function call parameter lists

[2017-12-21 13:33] ThomasBreuer opened #2049 "Changed default behaviour of Test"
The documented default for the `showProgress` component
of the optional argument record for `Test` was `false` up to GAP 4.8.8.
In the master branch, the documented default is `"some"`.
This means that every personal test setup will have to be changed
in order to set the value explicitly to `false`.
Was this change really intended?

[2017-12-21 14:03] fingolfin commented on #2049
Yes, the change was intentional -- at least I certainly did not change the behaviour *and* the documentation in lock step by accident ;-), and it was also explicitly discussed during review, and approved by multiple people.

I am not sure what you mean with "every personal test setup will have to be changed". I certainly didn't have to change anything, nor am I aware of anybody else, so you are th

[2017-12-21 14:09] fingolfin commented on #2047
All in all, I take back my initial reaction of "I am pretty sure there is no good reason" ;-). As to allowing `Int("")` -- strictly speaking this is undocumented behaviour. Then again, we try not to break backwards compatibility without good reason. The empty string case is somewhat borderline here, although as I said before, I don't think having `Int("") = 0` is very reasonable. Python agrees wit

[2017-12-21 14:35] ThomasBreuer commented on #2049
I would say that the new behaviour makes sense at most
when one calls `Test` in an interactive session.
My test setup takes input files that contain (among other things) several `Test` calls,
and writes the output to some files.
I see no other way to avoid progress messages in these files
(where they are certainly useless) than to add a second argument to the `Test` calls.
Did I miss something?

[2017-12-21 14:49] fingolfin commented on #2049
I see. (I always use `TestDirectory` and never pipe output `Test` anywhere, but I think @alex-konovalov does that in the Jenkins setup, so I assume he may have encountered this as a problem, too?)

Hmm, we discussed disabling the progressive output (resp. changing the default back to `false`) whenever GAP's output is not attached to a terminal. But apparently this was never implemented?!?

I'll ta

[2017-12-21 14:56] alex-konovalov commented on #2049
When the new setup is used on Travis, then it's cleverly omits line counts. This is not the case in Jenkins, so indeed I see something like
[code]
In the logs. I was considering suggesting an option to disable that, but decided that I actually like it - I can see where exactly the test segfaulted or run out of time, while this is unclear without progress indicators. Of course, test logs became big

[2017-12-21 15:22] ThomasBreuer commented on #2049
Thanks for the additional information.
If the progress messages would disappear automatically from logfiles
then this would be fine,
but if I am the only user who does not like the current feature
then it is not worth to waste time on another change of its implementation.

[2017-12-21 15:26] ChrisJefferson commented on #2049
Are you saving gap's output with lotto, or redirecting from the command line?

It might be reasonable to add a function which checks if GAP is connected to a terminal, and then only display extra info in that case, but then the messages would still appear when LogTo is in use.

[2017-12-21 15:32] fingolfin commented on #2047
BTW:
[code]

[2017-12-21 15:33] laurentbartholdi commented on #1237
I think we're opening a can of worms.

Zero(x) is clearly defined as the additive neutral element of the object x.
However, MultiplicativeZero and MultiplicativeOne are not uniquely-defined,
so what should GAP return?

In James' example, One(S.1) could just as well be S.1^0 as S.1, according
to the documentation:

gap> ?One; ?1
OneImmutable,  OneMutable, and OneSameMutability return the multiplica

[2017-12-21 15:50] ThomasBreuer commented on #2049
Concerning @ChrisJefferson's question:
I am using input/output redirection.

Concerning the idea to detect whether GAP is running in a terminal,
a simpleminded way to achieve this would be to set the TERM environment variable to `dumb`
in the beginning of a redirected GAP session,
and to check for `GAPInfo.SystemEnvironment.TERM = "dumb"` in the GAP session.
(Of course it would be more elegant if

[2017-12-21 16:00] fingolfin commented on #2047
See PR #2050; feedback on that is highly welcome.

[2017-12-21 16:01] fingolfin commented on #2049
I will create a PR where I add a kernel function to query whether input resp. output are connected to a tty -- we already have that information readily available (well, I think at least, let's see how it works out ;-)

[2017-12-21 16:10] fingolfin opened #2051 "Better sorting of matches in help system"
Today I did a lot of lookups for `Int` in the reference manual via `?Int`. For this operation, there are several manual entries. The primary one is sorted first. But the others all appear much later. I am seeing this:
[code]
Note entries 1, 16, 24 and 39 all are for `Int`.

It would be nice if *all* those matches were sorted up, i.e. appeared in positions 1-4. That way, the user also immediately s

[2017-12-22 00:05] alex-konovalov commented on #2051
Will it help if ?word will first list `word` everything where the next symbol after `word` is in uppercase, and then the rest?

[2017-12-22 08:04] fingolfin commented on #2051
That is precisely what I suggested as "bonus", but I don't see how it would resolve the primary problem.

[2017-12-22 10:04] fingolfin commented on #1479
For the record, this (more precisely: the crash for `l:=[1]; while true do Print("*\c");Append(l,l);od;`) also happen in GAP 4.5 - 4.8, so it's not a new issue. (I verified that it also crashes after applying the equivalent of PR #2039, to exclude the possibility that only the plist crash is old, but the subsequent crash is new).

[2017-12-22 10:31] fingolfin commented on #1479
Some more data points: starting `gap -A` using gdb, I get this backtrace for the segfault:
[code]

So GAP crashed while trying to append that list to itself. This look as if the memory GAP thinks the list is located at is either not mapped, or simply outside the range we allocated from the OS (I assume somebody who knows more about Linux could figure out which it is, but I sadly don't know about t

[2017-12-22 10:42] fingolfin commented on #1479
However, it seems to also crash with Boehm GC and HPC-GAP. It seems as if for some reason `l` does not get garbage collected. Of course `last` etc. keep reference to it, so to exclude that, I wrapped the code into a function, like so:
[code]
And then just called the function. And still get this, to my surprise (perhaps @rbehrends has some insights as to why Boehm fails to collect the list):
[code]

[2017-12-22 11:01] dimpase commented on #1479
I could only comment that gc 7.4.4 is relatively old, and you've already started cherry-picking stuff, rather than upgrading to at least 7.4.6 (which is the latest 7.4 stable GC).

(Yes, I did mess around with GC a bit in the past few months, as it's used in Sage).

[2017-12-22 11:04] fingolfin commented on #1479
@dimpase I am pretty sure that is irrelevant (and that the HPC-GAP crash in Boehm GC is unrelated to the crash in GAP with GASMAN). Indeed, the warning Boehm GC prints already strongly suggests something Boehm GC specific is going on: It doesn't "like" huge allocations (`Warning: Repeated allocation of very large block (appr. size 67117056): May lead to memory leak and poor performance`); my quest

[2017-12-22 13:32] fingolfin commented on #1479
I have narrowed down the crash to the code which increases the masterpointer area. This is done several times without problems. But then we end up doing it again; use `memmove` to move `1239782948` bytes (~1.15 GB) by an offset of 2794824 bytes (~2.7MB). We then adjust the masterpointers by the same offset.

But this time around, the moved memory is invalid, and the TNUM of `CurrLVars` has become

[2017-12-22 13:34] dimpase commented on #1479
regarding the "classic" GAP problem: I can say that on FreeBSD 11.1 with clang 4.0.0 and `ABI=32` for Todd-Coxeter I have exactly the same one I saw on Linux (https://github.com/gap-system/gap/issues/1479#issuecomment-315079849), whereas for https://github.com/gap-system/gap/issues/1479#issuecomment-353079810 I get the same behaviour as on OSX.

To try the same with gcc (perhaps it's a gcc bug?) I

[2017-12-22 13:45] dimpase commented on #1479
On the "real" 32-bit box and gcc 6.2, this works:
[code]

So gcc 5.4 should not be used, it seems...

[2017-12-22 13:46] fingolfin commented on #1479
So I think the bug is in the C library: my tests above were made with a GAP debug build, and I checked the disasm: there is a call to `memmove` in there.

I then went to check a release build (i.e. no `--enable-debug`), with `-O2` (our default). There was no `memmove` in the disasm. And sure enough, I can't reproduce the issue there, either.

[2017-12-22 14:04] fingolfin commented on #1479
@dimpase thanks for the extra data points!

@frankluebeck could you please tell us which distro you are using, which libc version and which compiler version? Also, was this a plain GAP build (i.e. with or without `--enable-debug`? or any other configure options)?

For reference, this is the system I was testing on:
[code]

[2017-12-22 14:11] fingolfin commented on #1479
But I think there might *also* be a compiler issue, because the optimized build seems to sometimes get stuck and hangs forever; gdb tells me it hangs here:
[code]

And this also happens on a system with GCC 6.3 (`lovelace` in St Andrews):
[code]

On this system, too, the problem goes away if I replace
[code]
by
[code]

[2017-12-22 14:21] dimpase commented on #1479
ATM I can't tell what's happening on FreeBSD with HPCGAP, as I am hit by a ward error: https://github.com/gap-system/ward/issues/47

[2017-12-22 14:25] fingolfin commented on #1479
actually in both my builds above, -O2 was used, so in all instances, the same code was generated for `memmove`, namely a call to the C library version -- I made a mistake when I thought that my optimized version with GCC 5.4 was working OK. In all cases on all systems with all compiler versions I tried, I have no traced it to a call to GNU libc's memove, specifically `__memmove_ssse3` (on `lovelac

[2017-12-22 14:30] gaehler commented on #913
Sorry for the delay - I finally published version 4.1.13 containing the proposed fix. Unfortunately, the fix just didn't make it into GAP 4.8.9. But there is hope for GAP 4.9.

[2017-12-22 15:04] dimpase commented on #1479
Testing with clang on Linux hits an issue that GAP does not respect CC and CXX set to something, it still uses gcc for some compilations. Should one open an issue?

----------

By the way, I am a bit confused about the number of bugs and issues here:
for instance, I notice that the classical GAP behaves differently on
[code]
I don't get segfault on a "real" 32-bit Linux box (gcc 6.2) and on FreeBS

[2017-12-22 17:52] hulpke commented on #2010
As @fingolfin already wrote, basically any calculation in a finite fp group goes through a faithful representation. If you use only `IsomorphismFpGroup`, this function is clever enough to store the inverse map as a faithful representation. But currently the `SimplifiedFpGroup` step does not do so. The obvious fix is for `SimplifiedFpGroup` or `IsomorphismSimplifiedFpGroup` pulling through a known

[2017-12-22 17:52] fingolfin commented on #1479
That's not true, GAP *does* honor CC, and I use that all the time to test with different compilers, see `./configure --help`

[2017-12-22 18:43] hulpke commented on #2010
@fingolfin Multiplication in an fp group will only do the free cancellation, even if a faithful representation is known. You can set `SetReducedMultiplication(g);` and all elements *created from that point* will be reduced nicely.
The reason for not doing so by default is that it can be expensive in larger groups -- the lesson is basically that fp groups are not really the tool  to work with small

[2017-12-22 19:34] dimpase commented on #1479
On 22 Dec 2017 18:52, "Max Horn" <notifications@github.com> wrote:

That's not true, GAP *does* honor CC, and I use that all the time to test
with different compilers, see ./configure --help

maybe it does not pass these options properly to dependencies. I certainly
saw a lot of places where gcc is mentioned in the building logs.

—
You are receiving this because you were mentioned.
Reply to this

[2017-12-22 21:39] alex-konovalov commented on #2047
Int("--") now returns zero, but the test expects `fail`.

[2017-12-22 22:16] dimpase commented on #1479
OK, I take it back - CC is honoured, sorry.

However, at least on FreeBSD, I see linking to libgcc_s.so, which I traced back to `libexecinfo.so`, and which I originally mistook by some use of gcc in the build process.
(Well, yes, there is use - but in a build process of a dependency).

I don't know why `libexecinfo.so` it's needed in the first place, looks like something outdated, back from times

[2017-12-23 12:12] #2044 closed

[2017-12-23 12:50] fingolfin commented on #1479
`libexecinfo` is used, if available, to generate debug backtraces when GAP crashes.

[2017-12-24 14:53] fingolfin commented on #1479
I produced a standalone test which people can use to reproduce the bug. I'd like to narrow down the affected GNU libc version a bit more, then I'll submit a bug report to them.

You can find my test here: https://github.com/fingolfin/memmove-bug

[2017-12-25 21:32] fingolfin commented on #846
There is not enough information in this issue to act upon.

[2017-12-25 21:32] #846 closed

[2017-12-26 08:45] dimpase commented on #1479
As a sanity check, I rebuilt GAP with glibc patched by the patch provided on
https://github.com/fingolfin/memmove-bug
on a system where the following line was giving a segfault:

[code]
Now it works, so this particular segfault is remedied!

[2017-12-26 11:33] fingolfin commented on #1479
That's good to know, thanks.

However, all glibc versions since 2.21 are affected, so e.g. all Ubuntu >= 15.04. That means we'll see buggy systems for years go come. So we might want to add a workaround: first, detect whether we need one in `configure` (I'd just check for glibc, and its version). Then use an #ifdef to replace affected `memmove` calls (or to `#define memmove gap_memove` or so). But

[2017-12-26 15:13] dimpase commented on #1479
I spoke too soon---I forgot `ABI=32` for rebuilding. With the patch and `ABI=32` I still get the same segfault as before. Probably another spot in glibc to patch?

[2017-12-26 16:11] fingolfin commented on #1479
Which of thevtwo crashes do you get? Are you using PR #2039

[2017-12-26 19:32] dimpase commented on #1479
I am talking about the classical GAP without PR #2039
Should I try with it, too?

Unfortunately I cannot build hpcgap on this system, see issue https://github.com/gap-system/ward/issues/48

[2017-12-26 19:42] fingolfin commented on #1479
There are two crashes here. The first is fixed by PR #2039. You'll never even get to the memmove crash unless you build with that PR.

Forget about ward and HPC-GAP, they have nothing to do with this issue.

[2017-12-26 21:12] dimpase commented on #1479
On the TC example, with PR #2039 and ABI=32 with debugging on I still get a crash at memmove called from GC:
[code]

[2017-12-27 11:55] fingolfin commented on #1479
@dimpase but is this the *same* crash as before, or a new one? Because the above suggests a crash inside of `memmove`, which is different from what we saw before. So perhaps my `memmove` patch simply broke it (although then it's weird your system is running at all, given that a lot of stuff is going to use memcpy / memmove).

To get better debugging output, I also suggest to configure GAP via   `.

[2017-12-27 20:42] fingolfin commented on #95
As far as I can tell, this was resolved -- at least I cannot reproduce this on `master` anymore.

[2017-12-27 20:42] #95 closed

[2017-12-27 21:25] fingolfin commented on #80
As far as I can tell, semigroups (version 3) still uses it, albeit only in one spot now:
[code]

Anyway, I am sure @james-d-mitchell would be quick to adapt if we were to finally move `GAPInfo.TestData` out of there and into a thread local record, so I am not really concerned about this usage :-).

And there is of course also that idea of returning additional data in `Test`. I have no plan to work

[2017-12-27 21:39] alex-konovalov commented on #1161
Reopening this to remind me to apply these changes to the HPC-GAP version of the code (see @fingolfin's comment in #1978).

[2017-12-27 22:14] fingolfin commented on #2051
Actually, the "default" help handler (for manuals using `gapmacros.tex` already does this! So this is a matter of changing `GAPDoc` to use `MATCH_BEGIN_COUNT`.  I made a pull request at https://github.com/frankluebeck/GAPDoc/pull/28 and hopefully @frankluebeck is interested in merging it.

As to my second idea, I guess that could then be implemented by improving `MATCH_BEGIN_COUNT`...

[2017-12-27 22:19] dimpase commented on #1479
I don't know whether it's a new crash or not. We don't seem to have a detailed record of where exactly the TC crash occurs. (runs with `-g` are very slow, so it's precious data).
It also seems to be CPU-specific - on systems that don't support that sse2-unaligned stuff ssse3 stuff is used in memmove instead, as far as I can read the corresponding assembly code.

As the glibc patch only affects 32-

[2017-12-27 22:21] fingolfin commented on #1479
@dimpase ohhh, you were testing the TC crash -- but that's not at all what I've been doing. Rather, there is a much, much simpler test case which triggers the problem, and which I used for all testing, namely this one (mentioned throughout this issue and also PR #2039):
[code]
Using that makes it a matter of seconds to reproduce the crash (you have to re-execute it 2-3 times to get the crash).

[2017-12-27 23:09] dimpase commented on #1479
on `l:=[1]; while true do Print("*\c");Append(l,l);od;` I get a segfault in `FuncAPPEND_LIST_INTR` if I call GAP without `-o 3g`, as below.
And with `-o -3g` I don't get any segfaults, I only get `Error, GrowPlist: List size too large in` all the way (but this, I imagine, has nothing to do with the glibc patch, this is just what PR #2039 is doing, no?)

[code]

[2017-12-28 01:22] fingolfin commented on #1479
@dimpase thanks for your continued help, however, please (re)read the discussion here and on PR #2039, we are repeating a lot of things which were already settled before.

Specifically: there are two crashes. The first one is caused by a plist growing "too big", leading to an overflow in `GrowPlist`, which is fixed by PR #2039. The second crash (or rather: memory corruption, which usually quickly

[2017-12-28 04:46] dimpase commented on #1479
It is the patched glibc. The commit number on the GAP tree is misleading, it is a somewhat clumsy merge commit of the 1st version of the PR #2039  (i.e. without 6b07c8da7b1a7bdec64a2ef7fe23b9b27db47191).

With `-o -3g` I did run the test snippet 20 times or so, no crash.

--------------

Now I am trying to get  a more meaningful trace of the TC crash in this settings, with `-g` in CFLAGS. It takes

[2017-12-28 09:28] james-d-mitchell commented on #80
I'm happy to replace this, if I know what to replace it with :)

[2017-12-28 10:05] dimpase commented on #1479
so, on GAP built with `-g`, the trace looks as follows:
[code]
I suppose I can also built glibc with `-g`, to get a better idea about the place of the crash.

[2017-12-28 10:21] ThomasBreuer opened #2055 "Problem with ClassesSolvableGroup when called for a trivial group"
According to the documentation of `ClassesSolvableGroup`,
the following behaviour of GAP 4.8.8
and of a not very old version of the master branch
is a bug.

[code]

(`IsConjugate` is not affected
because `ClassesSolvableGroup` does not get called in this situation.)

[2017-12-28 18:26] hulpke commented on #2055
In the current version of the code, the `candidate` elements must both lie in the group. This is in fact tested in `RepresentativeActionOp` before calling `ClassesSolvableGroup`. (It should be possible to extend this, but currently its not done.)
I see this as a bug in the documentation and will add a correction to the pending patch for 4.9.1 I have.

[2018-01-01 09:14] dimpase commented on #1479
It seems that with PR #2039 and the glibc patch there is still a bug in (or triggered by) the workspace increase request. Namely, with `-o 3g` the fragment  `l:=[1]; while true do Print("*\c");Append(l,l);od;` does not lead to a crash after many iterations, while without `-o` I get a crash
[code]

[2018-01-01 22:47] fingolfin commented on #1479
It's quite possible that there is a third bug at work here (or even more). Will investigate further.

[2018-01-01 23:49] fingolfin commented on #1479
In that backtraces of yours, is `src/gasman.c:1365` this line?
[code]
If so, the crash seems to be inside `memmove` again? It would be helpful to know what `dst` etc. are at this point (i.e. whether we are feeding valid or invalid input into `memmove`)

[2018-01-02 01:07] fingolfin commented on #1479
OK, turns out there is indeed a third bug lurking here: `AllocBags` can overflow, which is the cause for the `FuncAPPEND_LIST_INTR` crash. Specifically:
[code]
Now, that overflow *should* have been detected and avoided by this check:
[code]
But this fails to prevent it, because `CollectBags` actually returns 1... due to an overflow in there, specifically in this line:
[code]

I guess those might b

[2018-01-03 15:12] rtange opened #2062 ""FullMatrixLieAlgebra(GF(2),0)" issue"
Max Horn suggested that I put the suggestion to implement
 FullMatrixLieAlgebra(F,0) here.
 The reason for this is that gl(V) also exists when V is the zero space.
 For example, the zero module V of a Lie algebra L may occasionally
 show up in your computations and maybe you prefer to look at
 representations as Lie algebra homs L->gl(V).
 Max Horn suggested that, as part of the "MatrixObj"-projec

[2018-01-03 23:49] #2049 closed

[2018-01-04 13:39] fingolfin opened #2065 "Remove ReadSmall, RereadSmall, etc.?"
The library still declares these:
[code]
and these
[code]

Shouldn't they be removed?

[2018-01-04 13:42] alex-konovalov commented on #2065
@fingolfin obviously yes

[2018-01-04 13:43] fingolfin opened #2066 "Remove `lib/queue.g` again?"
When merging HPC-GAP in, we added `lib/queue.g` which is loaded relatively early on by the library.

But nothing uses it, and its code has been imported (in modified form) into the datastructures packages.

So, can we remove it again?

[2018-01-04 17:02] frankluebeck commented on #2051
I have merged that pull request in GAPDoc.

The bonus wish would be much harder to implement because the help system uses simplified strings which are converted to lowercase for searching the matches. So the information of "subwords" in camelcase strings is not contained in the search strings.

[2018-01-05 13:33] fingolfin commented on #1237
I have a hard time following the last comments as they seem to omit key information: Basically, it makes no sense to say something like "`MultiplicativeZero` is not uniquely defined"; beause depending on how I interpret, this statement is either false, true, or undefined.

In order to make sense out of what you say, I have to guess whether you were talking about applying these operations to algebr

[2018-01-05 13:35] fingolfin commented on #1237
@james-d-mitchell wrote:

I don't understand this paragraph, mostly because (a) I am not sure we are talking about arguments which are elements; algebraic structures; or either; and (b) I couldn't figure out what " `Zero` should behave in the same way as `One`" should possibly mean.

[2018-01-05 17:08] james-d-mitchell commented on #1237
@fingolfin in my comment above I meant that `MultiplicativeZero` and `MultiplicativeNeutralElement` should be applied to algebraic structures only, and that `One` and `Zero` should be applicable to both elements and algebraic structures.

What I meant about `One` and `Zero` behaving the same is that it would be great if `Zero` could also be applied to multiplicative elements (not only additive, as

[2018-01-07 17:08] alex-konovalov commented on #1161
The HPC-GAP related part of work is done by @fingolfin in #2054

[2018-01-07 17:08] #1161 closed

[2018-01-09 11:52] stevelinton opened #2072 "Basic Group Constructors"
This comes from #2037.

At the moment neither the declaration of `TrivialGroupCons` in `grp/basic.gd` nor the installation of methods for it (in #2037 for instance) actually specifies that the group returned should be trivial. This means that
[code]
fails. Other constructors defined in the same file have essentially the same problem.  Whatever we do, the declarations must be updated to specify mor